<!DOCTYPE html>
<html lang="en">
<head>
    <title>哈哈镜便捷购</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <include file="Public/header" />
</head>
<body>
    <div id="mod-container" class="mod-container clearfix">
        <div id="mod-box" class="mod-box" >
            <header class="pub-header">
                <a class="tap-action icon icon-back" href="/Index/index.html?name=me"></a>
                <div class="list-main-four-html">
                    <div class="header-content ui-ellipsis">
                        我收藏的店铺
                    </div>
                </div>
            </header>
            <div class="main main-both">
                <div id="list-product" class="list-product">
                    <div class="list-main scrollers">
                        <div class="list-main-four" id="list-main-four">
                            <div>
                                <ul class="list-product-ul mod-pub-product">
                                    <li class="product-item">
                                        <div class="product-item_img">
                                            <a href="/Category/index.html"><img class="image" data-original="__PUBLIC__/image/z.png" src="__PUBLIC__/image/grey.gif" alt=""></a>
                                        </div>
                                        <div class="product-item_info ui-ellipsis">
                                            <span><a href="/Category/index.html"><b class="red">VIP网店</b>惠尔佳超市</a></span>
                                            <div class="infos">
                                                <div>
                                                    <p>联系电话&nbsp;<a href="tel:18911491054">18911491054</a><a href="tel:18911491054">18911491054</a></p>
                                                    <p>正常营业&nbsp;9:00-24:00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-item_mi">
                                            <p><img src="__PUBLIC__/image/location_icon_b.png" alt="">807m</p>
                                        </div>
                                    </li>
                                    <div class="hairline"></div>
                                    <li class="product-item">
                                        <div class="product-item_img">
                                            <a href="/Category/index.html"><img class="image" data-original="__PUBLIC__/image/z.png" src="__PUBLIC__/image/grey.gif" alt=""></a>
                                        </div>
                                        <div class="product-item_info ui-ellipsis">
                                            <span><a href="/Category/index.html"><b class="greens">网&nbsp;&nbsp;店</b>惠尔佳超市</a></span>
                                            <div class="infos">
                                                <div>
                                                    <p>联系电话&nbsp;<a href="tel:18911491054">18911491054</a><a href="tel:18911491054">18911491054</a></p>
                                                    <p>正常营业&nbsp;9:00-24:00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-item_mi">
                                            <p><img src="__PUBLIC__/image/location_icon_b.png" alt="">807m</p>
                                        </div>
                                    </li>
                                    <div class="hairline"></div>
                                    <li class="product-item">
                                        <div class="product-item_img">
                                            <a href="/Category/index.html"><img class="image" data-original="__PUBLIC__/image/z.png" src="__PUBLIC__/image/grey.gif" alt=""></a>
                                        </div>
                                        <div class="product-item_info ui-ellipsis">
                                            <span><a href="/Category/index.html"><b class="greens_s">代&nbsp;&nbsp;售</b>惠尔佳超市</a></span>
                                            <div class="infos">
                                                <div>
                                                    <p>联系电话&nbsp;<a href="tel:18911491054">18911491054</a><a href="tel:18911491054">18911491054</a></p>
                                                    <p>正常营业&nbsp;9:00-24:00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-item_mi">
                                            <p><img src="__PUBLIC__/image/location_icon_b.png" alt="">807m</p>
                                        </div>
                                    </li>
                                    <div class="hairline"></div>
                                    <li class="product-item">
                                        <div class="product-item_img">
                                            <a href="/Category/index.html"><img class="image" data-original="__PUBLIC__/image/z.png" src="__PUBLIC__/image/grey.gif" alt=""></a>
                                        </div>
                                        <div class="product-item_info ui-ellipsis">
                                            <span><a href="/Category/index.html"><b class="greens_s">代&nbsp;&nbsp;售</b>惠尔佳超市</a></span>
                                            <div class="infos">
                                                <div>
                                                    <p>联系电话&nbsp;<a href="tel:18911491054">18911491054</a><a href="tel:18911491054">18911491054</a></p>
                                                    <p>正常营业&nbsp;9:00-24:00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-item_mi">
                                            <p><img src="__PUBLIC__/image/location_icon_b.png" alt="">807m</p>
                                        </div>
                                    </li>
                                    <div class="hairline"></div>
                                    <li class="product-item">
                                        <div class="product-item_img">
                                            <a href="/Category/index.html"><img class="image" data-original="__PUBLIC__/image/z.png" src="__PUBLIC__/image/grey.gif" alt=""></a>
                                        </div>
                                        <div class="product-item_info ui-ellipsis">
                                            <span><a href="/Category/index.html"><b class="greens_s">代&nbsp;&nbsp;售</b>惠尔佳超市</a></span>
                                            <div class="infos">
                                                <div>
                                                    <p>联系电话&nbsp;<a href="tel:18911491054">18911491054</a><a href="tel:18911491054">18911491054</a></p>
                                                    <p>正常营业&nbsp;9:00-24:00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-item_mi">
                                            <p><img src="__PUBLIC__/image/location_icon_b.png" alt="">807m</p>
                                        </div>
                                    </li>
                                    <div class="hairline"></div>
                                    <li class="product-item">
                                        <div class="product-item_img">
                                            <a href="/Category/index.html"><img class="image" data-original="__PUBLIC__/image/z.png" src="__PUBLIC__/image/grey.gif" alt=""></a>
                                        </div>
                                        <div class="product-item_info ui-ellipsis">
                                            <span><a href="/Category/index.html"><b class="greens_s">代&nbsp;&nbsp;售</b>惠尔佳超市</a></span>
                                            <div class="infos">
                                                <div>
                                                    <p>联系电话&nbsp;<a href="tel:18911491054">18911491054</a><a href="tel:18911491054">18911491054</a></p>
                                                    <p>正常营业&nbsp;9:00-24:00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-item_mi">
                                            <p><img src="__PUBLIC__/image/location_icon_b.png" alt="">807m</p>
                                        </div>
                                    </li>
                                    <div class="hairline"></div>
                                    <li class="product-item">
                                        <div class="product-item_img">
                                            <a href="/Category/index.html"><img class="image" data-original="__PUBLIC__/image/z.png" src="__PUBLIC__/image/grey.gif" alt=""></a>
                                        </div>
                                        <div class="product-item_info ui-ellipsis">
                                            <span><a href="/Category/index.html"><b class="greens_s">代&nbsp;&nbsp;售</b>惠尔佳超市</a></span>
                                            <div class="infos">
                                                <div>
                                                    <p>联系电话&nbsp;<a href="tel:18911491054">18911491054</a><a href="tel:18911491054">18911491054</a></p>
                                                    <p>正常营业&nbsp;9:00-24:00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-item_mi">
                                            <p><img src="__PUBLIC__/image/location_icon_b.png" alt="">807m</p>
                                        </div>
                                    </li>
                                    <div class="hairline"></div>
                                    <li class="product-item">
                                        <div class="product-item_img">
                                            <a href="/Category/index.html"><img class="image" data-original="__PUBLIC__/image/z.png" src="__PUBLIC__/image/grey.gif" alt=""></a>
                                        </div>
                                        <div class="product-item_info ui-ellipsis">
                                            <span><a href="/Category/index.html"><b class="greens_s">代&nbsp;&nbsp;售</b>惠尔佳超市</a></span>
                                            <div class="infos">
                                                <div>
                                                    <p>联系电话&nbsp;<a href="tel:18911491054">18911491054</a><a href="tel:18911491054">18911491054</a></p>
                                                    <p>正常营业&nbsp;9:00-24:00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-item_mi">
                                            <p><img src="__PUBLIC__/image/location_icon_b.png" alt="">807m</p>
                                        </div>
                                    </li>
                                    <div class="hairline"></div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="Return-top">
        <img src="__PUBLIC__/image/top_icon.png" alt="">
    </div>
<include file="Public/footer" />
<script type="text/javascript">
    var myScrol0;
        $(document).ready(function() { 
            init();
            iscrollAll();
            function init(){
                $('.list-main>div').eq(0).show();   
                $('.pub-header>div').eq(0).show();
            }
            function iscrollAll(){
                myScrol0 = new IScroll('#list-main-four', {probeType: 3,mouseWheel: true,click: true,scrollbars: false});
                myScrol0.on('scroll', updatePosition1);
                clicksTop(myScrol0);
            }
        })
</script>
</body>

</html>