<!DOCTYPE html>
<html lang="en" class="htmls">
<head>
    <title>哈哈镜美食</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="stylesheet" href="__PUBLIC__/css/set_common.css">
	<style type="text/css">.wrap_log .size_main .Img.ImgPic{display: block;width: 87%;}.Voucher_main .Voucher_size{padding-bottom: 10px;}.Voucher_main .Voucher_size:last-child{padding-bottom: 0px;}.wrap_log .size_main .Img.ImgPic2{display: block;width: 65%;}</style>
</head>
<body>
	<div class="wrap_log">
		<form id="autocomplete-form" class="mod-order-common login-form" onsubmit="return false;"  action="">
			<div class="wrap_img"><img src="__PUBLIC__/image/quan/banner.jpg" alt="" class="blacks"></div>
			<div class="wrap_logInfo wrap_logInfo1">
				<p class="colors log_sizes">一大波哈哈镜优惠来袭</p>
				<span class="spans blocks"><input name="phone" id="phones1" class="phone phone1 blocks styleinput" type="tel" placeholder="请输入手机号码" maxlength="11" value=""></span>
				<span class="log_btn spans spans3 blocks" id="log_btn">
					<img id="btn1" class="btn1 blocks styleinput" src="__PUBLIC__/image/quan/btn_icon1.png" data-index="0" alt="">
					<!--<input type="button" id="btn1" class="btn1 blocks styleinput" data-index="0" value="" readonly="">-->
				</span>
			</div>
			<h2 class="h2s h2sImg">
				<img class="blacks" src="__PUBLIC__/image/quan/LI_bg.png" alt="">
			</h2>
			<p class="ps1">内部特供大礼包 你的大餐零食我全包了</p>
			<div class="size_main">
				<div class="size_Div">
					<p class="p1">圣诞、元旦、春节扎堆而至，</p>
					<p class="p1">2016余额已经严重不足，感觉身体被掏空。</p>
				</div>
				<img src="__PUBLIC__/image/quan/pic15.jpg" class="lazy Img blocks ImgPic2" alt="">
				<div class="size_Div">
					<p class="p1">身为职场大咖&新好老公，</p>
					<p class="p1">常年双卡双待，</p>
					<p class="p1">职场、生活任意切换，</p>
					<p class="p1">从不关机。</p>
				</div>
				<img data-original="__PUBLIC__/image/quan/pic2.png" class="lazy Img blocks" alt="">

				<div class="size_Div">
					<p class="p1">培养新同事，我要这样。</p>
				</div>
				<img data-original="__PUBLIC__/image/quan/pic3.png" class="lazy Img blocks" alt="">
				<div class="size_Div">
					<p class="p1">月底年底，冲业绩要这样。</p>
				</div>
				<img data-original="__PUBLIC__/image/quan/pic7.png" class="lazy Img blocks" alt="">
				<div class="size_Div">
					<p class="p1">纪念日各种节，还要给老婆发这个</p>
				</div>
				<img data-original="__PUBLIC__/image/quan/pic9.png" class="lazy Img blocks" alt="">
				<div class="size_Div">
					<p class="p1">曾经哥以为</p>
					<p class="p1">没有什么是一个红包解决不了的。</p>
					<p class="p1">如果有，那就是两个！</p>
				</div>
				<img data-original="__PUBLIC__/image/quan/pic10.png" class="lazy Img blocks" alt="">
				<div class="size_Div">
					<p class="p1">于是，哥做了个重要决定！</p>
				</div>
				<div class="size_Div">
					<p class="p1">通过刷脸，</p>
					<p class="p1">终于搞到了内部特供超值优惠大礼包，</p>
					<p class="p1">免费给你发！</p>
				</div>
				<img src="__PUBLIC__/image/quan/pic11.png" class="Img blocks" alt="">
				<div class="size_Div">
					<p class="p1">今年过节不收礼，</p>
					<p class="p1">要收就收【<span class="colors_g">哈哈镜大礼包</span>】！</p>
					<p class="p1">零食、年货，小吃、大餐，这里应有尽有！</p>
				</div>
				<img src="__PUBLIC__/image/quan/pic12.png" class="Img blocks ImgPic" alt="">
				<div class="size_Div">
					<p class="p1">冷冷寒冬，</p>
					<p class="p1">如果有比吃一顿火锅更爽的事，</p>
					<p class="p1">那就是，</p>
					<p class="p1">足不出户在家躺着等吃送来的火锅！</p>
				</div>
				<div class="size_Div">
					<p class="p1 colors_g">No 等位</p>
					<img src="__PUBLIC__/image/quan/pic13.jpg" class="Img blocks ImgPic2" alt="">
					<p class="p1 colors_g">No 挤着吃</p>
					<img src="__PUBLIC__/image/quan/pic14.jpg" class="Img blocks ImgPic2" alt="">
					<p class="p1 colors_g">… …</p>
				</div>
				<div class="size_Div">
					<p class="p1 p2">外面捞 不如家里捞</p>
					<p class="p1">全套连锅都一起给您送到家，</p>
					<p class="p1">碗筷都备齐的哦~</p>
				</div>
			</div>
			<h2 class="liners"></h2>
			<div class="log_details colors">
				<div class="log_dDiv">
					<h2 class="log_h20">哈锅英雄嫩牛双人火锅套餐<span class="bg_color bg_span">（含锅）</span>预订券</h2>
					<p class="log_p0 marBot colors_g"><s>原价198元</s> 用券价118元</p>
					<h2 class="log_h20">哈锅英雄嫩牛双人火锅套餐<span class="bg_color bg_span">（不含锅）</span>预订券</h2>
					<p class="log_p0 marBot colors_g"><s>原价148元</s> 用券价98元</p>
					<h2 class="log_h20 marBot">全场<span class="colors_g">通用</span>预订券 <span class="colors_g">50-10元</span> </h2>
					<p class="log_p0 marBot">首次购买火锅套餐后，即有机会获得<span class="colors_g">仅需10元购买</span>火锅券，用于下一次下单购买哦~</p>
					<h2 class="log_h20 marBot">寿司套餐预订券 <b class="bg_color">寿司+鸭脖</b> <span class="colors_g"><s>原价58元</s> 30元</span></h2>
					<h2 class="log_h20 marBot">凉面套餐预订券 <b class="bg_color">凉面+鸭脖</b> <span class="colors_g"><s>原价38元</s> 25元</span></h2>
				</div>
			</div>
			<h2 class="liners"></h2>
			<div class="order_info">
				<div class="orderInf_size">
					<p>使用方法：</p>
					<p>以上所有优惠券可在哈哈镜<b class="colors">便捷购App</b></p>
					<p>或哈哈镜<b class="colors">微信商城</b>下单</p>
				</div>
				<div class="orderInf_drw">
					<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.new_hahajing.android">
						<img src="__PUBLIC__/image/drw_icon.png" alt="">
					</a>
				</div>
				<div class="orderInf_s">
					<div class="orderInf_si">
						<p>长按关注公众号</p>
						<p>使用App或公众号下单享优惠</p>
					</div>
					<div class="orderInf_Img flex">
						<div class="Imgs1 Imgs">
							<span class="blocks">
								<img class="lazy" data-original="__PUBLIC__/image/er_icon.png" alt="">
							</span>
							<p>哈哈镜 官方微信</p>
						</div>
						<div class="Imgs2 Imgs">
							<span class="blocks">
								<img class="lazy" data-original="__PUBLIC__/image/er_icon2.png" alt="">
							</span>
							<p>长按指纹 识别二维码</p>
						</div>
					</div>
				</div>
				<p class="info_P1">特权报名热线：<a href="tel:400-017-5886">400-017-5886</a></p>
			</div>
			<h2 class="liners"></h2>
			<div class="size_main size_main2">
				<div class="size_Div">
					<p class="p1 p12">跟哥来，有肉吃！拼手气，戳这儿直接抢！</p>
				</div>
			</div>
			<div class="wrap_logInfo wrap_logInfo2">
				<span class="spans blocks"><input name="phone" id="phones2" class="phone phone1 blocks styleinput" type="tel" placeholder="请输入手机号码" maxlength="11" value=""></span>
				<span class="log_btn spans spans3 blocks" id="log_btn">
					<img id="btn2" class="btn2 blocks styleinput" src="__PUBLIC__/image/quan/btn_icon1.png" data-index="1" alt="">
					<!--<input type="button" id="btn2" data-index="1" class="btn2 blocks styleinput" value="" readonly="">-->
				</span>
			</div>
			<div class="log_bottom"><a class="colors_g ba" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx78a74ae276f5adb5&redirect_uri=http%3A%2F%2Fweixin.hahajing.com%2FLoad%2Findex&response_type=code&scope=snsapi_base&state=abc#wechat_redirect">点这儿去哈哈镜订火锅啦</a><img class="lazy Imgs" data-original="__PUBLIC__/image/quan/bottom_pic.png" alt=""></div>
		</form>
	</div>
	<input type="hidden" name="pid" id="pid" value="{$pid}">
	<script type="text/javascript" src="__PUBLIC__/js/layer.m/layer.m.js"></script>
	<include file="Public/footer" />
	<script type="text/javascript" src="__PUBLIC__/js/lib/jquery.lazyload.js"></script>
	<script type="text/javascript">
		loaging.init('加载中...');
		$(function() {
			$("img.lazy").lazyload({
				placeholder:'__PUBLIC__/image/quan/bg_nulls.png'
			});
	    	var btn = $('#btn2,#btn1');
	    		btn.off('tap');
	    		btn.on('tap',function(){
	    			loaging.close();
	    			loaging.init('加载中，请稍后...');    			
	    				$('input').blur();
	    				var phones = "",Divs = "",Ins = "";
	    				if($(this).attr('data-index') == 0){
	    					phones = $('#phones1');
	    					Divs = $('.wrap_logInfo1');
	    					Ins = 2;
	    				}else{
	    				 	phones = $('#phones2');
	    				 	Divs = $('.wrap_logInfo2');
	    				 	Ins = 1;
	    				}
	    				var that = $(this),
	    					myreg = /^1[3|4|5|7|8]\d{9}$/,
	    			    	phoneVal = phones.val();
	    			    if(!myreg.test(phoneVal)){ 
	    			        loaging.close();
	    			        loaging.prompts('请输入有效的手机号码！');
	    			        return false; 
	    			    }
	    				$.ajax({
	    					url: '/ActivityTwo/get_act_ticket',
	    					type: 'POST',
	    					data: {phone: phoneVal,pid:$('#pid').val()},
	    					success:function(rs){
	    						var re = JSON.parse(rs);
	    						console.log(re);
	    						loaging.close();
	    						if(re.result == "ok"){
	    							//loaging.btn(re.msg);    						
	    							if(re.ticket_list){
	    								getAjaxs(re.ticket_list,phones,Divs,Ins);
	    							}else{
	    								loaging.btn(re.msg);    
	    							}
	    							//document.getElementById("autocomplete-form").submit();
	    						}else{
	    							loaging.prompts(re.msg);
	    						}
	    					},error:function(){
	    						loaging.close();
	    					}
	    				})				
	    	
	    		})
		function getAjaxs(data,phones,Divs,Ins){
			var html ="",qhtml="",pricesColor = "",sHl="";
			html+='<div class="Img_info"><img src="__PUBLIC__/image/quan/red_bg.png" alt=""><div class="divs"><img src="__PUBLIC__/image/quan/red_lq1.png" alt=""><div class="Imginfo"><p class="Imginfo_p">哈哈镜账号：<span><a href="javascript:;">'+phones.val()+'</a></span></p><a class="Imginfo_a" style="color:#fff;" id="btn_a" href="javascript:;">立即使用</a></div></div>';
			qhtml = '<article class="Voucher_main"><p class="v_title">优惠券领取专区</p><div class="voucher_Div">'
			$.each(data,function(index, el) {
				var prices = parseInt(el.ticket_price);
				if(prices > 50){
					pricesColor = "color_green";
				}else if(prices <= 50 && prices > 28){
					pricesColor = "color_pink";
				}else if(prices <= 28 && prices > 13){
					pricesColor = "color_purple";
				}else if(prices <= 13 && prices > 10){
					pricesColor = "color_yellow";
				}else if(prices <= 10 && prices > 5){
					pricesColor = "color_orange";
				}else{
					pricesColor = "color_blue";
				}
				el.goods_price && el.goods_price > 0 ?sHl='<s class="s">原价'+parseInt(el.goods_price)+'元</s> ':sHl="";
				qhtml+='<section class="flex v_sec '+pricesColor+'">'
						+'<div class="flexl">'
							+'<span class="flexl_span fspan1">立减</span>'
							+'<span class="flexl_span fspan2">'+prices+'</span>'
							+'<b class="flexl_b blocks">￥</b>'
						+'</div>'
						+'<div class="flexr flexs">'
							+'<p class="flexr_p1">'+el.act_name+'</p>'
							+'<p class="flexr_p1">'+sHl+'用券立减'+prices+'元</p>'
						+'</div>'
					+'</section>'
			});
			qhtml +='</div><p class="Voucher_size">使用方法:以上所有优惠券可在哈哈镜便捷购App或微信商城下单</p><p class="Voucher_size">抽到并使用“立减40元”券购买带锅火锅，完成订单后送“只需10元”购买不带锅火锅券一张。</p><p class="Voucher_size">抽到并使用“立减60元”券购买带锅火锅，完成订单后送“只需30元”购买不带锅火锅券一张。</p><h2 class="liners"></h2></article>';
			Divs.html(html);
			window.setTimeout(function(){	
				Divs.after(qhtml);
				loaging.close();
				var ImginfoDiv = $('.Img_info .divs').find('img');
				ImginfoDiv.attr('src','__PUBLIC__/image/quan/red_lq.png');
				ImginfoDiv.addClass('scaleTop');
				Ins && $('.wrap_logInfo'+(Ins * 1)+'').hide();

				$('.Img_info .Imginfo_a').on('tap',function(){
					loaging.close();
					loaging.init('加载中，请稍后...');
					$.ajax({
						url: '/ActivityTwo/add_lin',
						type: 'POST',
						success:function(){
							window.location.href='https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx78a74ae276f5adb5&redirect_uri=http%3A%2F%2Fweixin.hahajing.com%2FLoad%2Findex&response_type=code&scope=snsapi_base&state=abc#wechat_redirect';
						},error:function(){
							window.location.href='https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx78a74ae276f5adb5&redirect_uri=http%3A%2F%2Fweixin.hahajing.com%2FLoad%2Findex&response_type=code&scope=snsapi_base&state=abc#wechat_redirect';
						}
					})
					
				});
			},300);
		}
		});
		
		window.onload=function(){
			loaging.close();
		}
	</script>
	<script type="text/javascript">
		var url = window.location.href;
		weixins(url,"one");
	</script>
</body>
</html>