/*!File[reset.css]*/
* {
	margin:0;
	padding:0;
	list-style: none;
}
body {
	font:14px/1.5 "Myriad Set Pro","Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif,'Microsoft Yahei',Simsun;
	color:#333;
	-webkit-text-size-adjust:none;
	text-size-adjust:none;
	min-width:320px;
	max-width: 550px;
	margin: 0 auto;
	position: relative;
	-moz-user-select:none;
	user-select:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%
}
form {
	display:inline
}
ol,ul {
	list-style:none
}
a {
	text-decoration:none;
	color:#1a1a1a
}
a:active,a:focus,a:hover {
	color:#1c5aa2;
	text-decoration:none
}
a:active {
	color:#aaa
}
img {
	vertical-align:middle;
	border:0;
	-ms-interpolation-mode:bicubic
}
button,input,select,textarea {
	font-size:100%;
	vertical-align:middle;
	outline:0
}
textarea {
	resize:none
}
button,input[type=reset],input[type=submit],input[type=button] {
	cursor:pointer; 
	-webkit-appearance:button;
	-moz-appearance:button
}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder {
	color:transparent
}
button::-moz-focus-inner,input::-moz-focus-inner {
	padding:0;
	border:0
}
table {
	border-collapse:collapse;
	border-spacing:0
}
article,footer,header,hgroup,menu,nav,section {
	display:block;
	clear:all
}
html {
	-webkit-text-size-adjust:none;
}
div,span,a,header {
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}
.cf:after,.cf:before,.clearfix:after,.clearfix:before {
	display:table;
	content:""
}
.cf:after,.clearfix:after {
	clear:both
}
.ui-clear {
	clear:both
}
.ui-float-left {
	float:left
}
.ui-float-right {
	float:right
}
.ui-hide {
	display:none
}
.show {
	display:block
}
.ui-ellipsis {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.ui-break {
	word-break:break-all;
	word-wrap:break-word
}
.ui-graybox {
	border:solid 1px #efefef
}
.ui-colorblue {
	color:#00f
}
.ui-colorred {
	color:red
}
.ui-hidden {
	visibility:hidden
}
.ui-underline {
	text-decoration:underline
}
.ui-text-right {
	text-align:right
}
.ui-nowrap {
	white-space:nowrap
}
.ui-bluelink {
	color:#00f;
	text-decoration:underline
}
.hide {
	display:none
}
.hairline {
	margin:0;
	padding:0;
	border-bottom:1px solid #eee;
	margin-right:-10px;
	background-size:100% 1px;
	-webkit-background-size:100% 1px
}
*,*:after,*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;list-style: none;}
h1,h2,h3,h4,h5,h6,b{
	font-weight: normal;
}
body,html {
	height:100%;
	font:14px/1.5 '微软雅黑',Helvetica,Tahoma,Arial,'华文细黑',sans-serif;
	color:#464646;
	position: relative;
	background: #efefef;;
}
.mod-container{
	width: 100%;
	height: 100%;
	position: relative;
}
.mod-container .mod-box{
	width: 100%;
	height: 100%;}
.mod-container .head{
	height:50px;
	width: 100%;
	background-color:#fbfcff;
	z-index: 99;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;	
	}
.mod-container .pub-header {
	display:-webkit-box;
	display: box;
	overflow: hidden;
	position: relative;
}
.mod-container .pub-header{
	background-image: url(/Public/image/box_bg.png);
	background-size: cover;
	-webkit-background-size: cover;
	color: #ffffff;
	height: 50px;
	z-index: 999;
}
.mod-box .pub-header>div{
	display: none;
	width: 100%;	
}
.mod-box .pub-header>div:nth-child(1){
	display: block;
}
.header-content a{
	color: #ffffff;
}

.mod-container .pub-header .header-content {
	position:absolute;
	top:0;
	right:44px;
	bottom:0;
	left:44px;
	line-height:50px;
	text-align:center;
	font-size:16px;
	-webkit-user-select:none;
	font-weight: normal;
}
.header-content a{
	color: #ffffff;
}
.mod-container .pub-header .icon-location {
	width:12px;
	height:16px;
	background-size:12px;
	vertical-align:middle
}
.mod-container .pub-header .header-right,.mod-container .pub-header .icon-back,.mod-container .pub-header .icon-me {
	position:absolute;
	top:0;
	width:44px;
	height:44px;
	line-height:50px;
	text-align:center;
	background-size:30px;
	background-position:center center
}
.mod-container .pub-header .header-right {
	color:#999;
	right:0
}
.mod-container .pub-header .header-right-text {
	text-align:left
}
.mod-container .pub-header .icon-back {
	left:0;
}
.mod-container .pub-cart {
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	height:54px;
	background-color:#F5F5F5;
	z-index: 999;
}
.mod-container .pub-cart .icon-cart-inner {
	position:absolute;
	top:-13px;
	left:13px;
	width:55px;
	height:55px;
	background-size:28px;
	background-position:center center;
	background-color:#ffffff;
	border-radius:50%;
	opacity: .8;
}
.mod-container .shopping-empty .icon-cart-inner {
	
}
.mod-container .shopping-empty{
	z-index: 66666;
	color: #ffffff
}
.mod-container .pub-cart .shopping-count.erect {
	-webkit-transform:scale(1.4)
}
.mod-container .pub-cart .shopping-count {
	position:absolute;
	display:inline-block;
	top:0;
	right:-8px;
	width:18px;
	height:18px;
	font-size:12px;
	line-height:18px;
	text-align:center;
	background-color:red;
	color:#FFF;
	border-radius:9px;
	-webkit-transform:translateZ(0);
	-webkit-transition:-webkit-transform .15s;
	z-index: 99;
	display: none;
}
.mod-container .pub-cart .info {
	position:absolute;
	left:66px;
	right:111px;
	top:5px;
	bottom:5px;
	line-height:18px;
	font-size:12px
}
.mod-container .pub-cart .submit {
	position:absolute;
	right:10px;
	top:7px;
	bottom:5px;
	width:100px;
	text-align:center;
	line-height:36px;
	background: #39AC69;
	border-radius: 5px;
	height: 36px;
	font-weight: normal;
}
.mod-container .pub-cart .submit-text {
	display:block;
	width:auto;
	margin:0 5px;
	height:100%
}
.mod-container .pub-cart .shopping-enable .submit-text {
	background-color:#fff601;
	font-weight: normal;
}
.mod-pub-product .product-name {
	color:#222;
	font-size:14px
}
.mod-pub-product .product-price {
	color:#ff8901;
	font-size:16px;
}
.mod-pub-product .product-marketPrice {
	color:#ccc;
	font-size:12px;
	text-decoration:line-through
}
.mod-pub-product .tag-item {
	background-size:cover;
	margin-bottom:10px
}
.mod-pub-product .product-item {
	position:relative;
	background-color:#FFF;
}
.mod-pub-product .product-imgwrap {
	position:relative;
	float:left;
	width:67px;
	height:67px!important;
	margin-top:5px;
	overflow:hidden;
	background:url(../img/bee_default-97ffb2ba.png)center center no-repeat;
	background-size:auto 100%;
}
.mod-pub-product .product-img {
	width:100%;
	height:100%;
	background:center center no-repeat;
	background-size:auto 100%
}
.mod-pub-product .product-img-empty {
	background-image:url()
}
.mod-pub-product .product-desc {
	position:relative;
	height:89px;
	left:0px;
	white-space:nowrap;
}
.mod-pub-product .product-maskblock {
	position:absolute;
	background-color:rgba(76,56,41,.4);
	text-align:center;
	-webkit-transition:width .4s,height .4s;
	font-weight:700;
	color:#fff;
	font-size:18px;
	overflow:hidden
}
.mod-pub-product .product-restock .product-maskblock {
	display:none
}
.mod-pub-product .product-restock .product-restock-img {
	display:block
}
.mod-pub-product .product-restock-img {
	position:absolute;
	top:0;
	left:0;
	display:none;
	width:100%;
	height:100%;
	background:url()right top no-repeat transparent;
	background-size:auto 80%
}
.mod-pub-product .product-add {
	top:0;
	right:0;
	border-left:solid 1px #6c6c6c;
	border-bottom:solid 1px #6c6c6c
}
.mod-pub-product .product-del {
	right:0;
	border-left:solid 1px #6c6c6c
}
.mod-pub-product .product-count {
	top:0;
	height:100%
}
.mod-pub-product .product-zero .product-del {
	height:0
}
.mod-pub-product .product-zero .product-count {
	height:50%;
	width:0
}
.mod-pub-product .product-name {
	color:#222;
	font-size:14px;
	height:20px;
	line-height:20px;
	text-indent:5px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden
}
.mod-pub-product .product-name-jingxuan {
	font-size:10px;
	border:1px solid #ff5011;
	color:#ff5011;
	border-radius:4px;
	padding:0 2px;
	margin-right:5px
}
.mod-pub-product .product-jingxuan-empty {
	display:none
}
.mod-pub-product .product-detail {
	height:18px;
	line-height:18px;
	text-indent:5px
}
.mod-pub-product .product-detail.product-detail-margin {
	margin-top:3px
}
.mod-pub-product .product-detail-promotion {
	font-size:10px;
	border:1px solid #fb5353;
	color:#fff;
	background-color:#fb5353;
	border-radius:4px;
	padding:0 2px
}
.mod-pub-product .product-promotion-empty .product-detail-promotion {
	border:none;
	background-color:transparent
}
.mod-pub-product .product-detail-price {
	color:#ff8901;
	font-size:14px;
	font-weight:700
}
.mod-pub-product .product-detail-marketprice {
	color:#aaa;
	font-size:14px;
	text-decoration:line-through
}
.mod-pub-product .product-detail-attribute {
	font-size:12px;
	color:#666
}
.mod-pub-cart .product-add,.mod-pub-cart .product-count,.mod-pub-cart .product-del {
	display:inline-block;
	width:40px;
	text-align:center;
	font-size:16px;
	color:#222;
	line-height:24px
}
.mod-pub-cart .product-add {
	border:solid 1px #444;
	background-color:#F4F1E8
}
.mod-pub-cart .product-del {
	border:solid 1px #bbb;
	background-color:#F4F1E8
}



















/*!File[phone/index/view_mod-mask.css]*/
.mod-mask{
	position: fixed;
    width: 100%;
    height: 100%;
    background:url(/Public/image/chu.png) no-repeat;
	background-size:cover;
	background-color:#ffffff;
    z-index: 99999;
}
.mod-mask .logoarea {
	height:67%;
	position:relative
}
.mod-mask .logo {
	position:absolute;
	width:100%;
	height:157px;
	bottom:100px;
	background: url(/Public/image/1@2x.png)center center no-repeat;
	background-size:230px
}
.mod-mask .location {
	position:absolute;
	left:50%;
	bottom:30px;
	margin-left:-20px;
	padding-top:10px;
	width:41px;
	height:41px;
	background-color:#292D33;
	border-radius:50%;
	opacity:1;
	animation:opacity 5s infinite;
	-webkit-animation:opacity 1.5s infinite; 
	-moz-animation:opacity 1.5s infinite; 
	-ms-animation:opacity 1.5s infinite; 
	-o-animation:opacity 1.5s infinite; 
	z-index:50;
	border:solid 1px #FC0;
}
@keyframes opacity{
	0%{opacity: 0.9;}
	50% {opacity: 0.2;}
	100% {opacity:0.9;}
}

@-moz-keyframes opacity{
	0%{opacity: 0.9;}
	50% {opacity: 0.2;}
	100% {opacity:0.9;}
}

@-webkit-keyframes opacity {
	0%{opacity: 0.9;}
	50% {opacity: 0.2;}
	100% {opacity:0.9;}
}
@-o-keyframes opacity {
	0%{opacity: 0.9;}
	50% {opacity: 0.2;}
	100% {opacity:0.9;}
}

.mod-mask .location-text {
	position:absolute;
	bottom:0;
	width:100%;
	height:30px;
	line-height:30px;
	font-size:16px;
	color:#292D33;
	text-align:center;
	opacity:1;
	-webkit-transition:opacity .8s ease-out;
	-moz-transition:opacity .8s ease-out;
	-ms-transition:opacity .8s ease-out;
	-o-transition:opacity .8s ease-out;
	transition:opacity .8s ease-out;
	font-weight: bold;
}
.mod-mask .location-blink {
	width:18px;
	height:24px;
	background:url(/Public/image/location_icon.png) no-repeat;
	background-size:19px;
	margin:auto;
}
.mod-mask .welcome {
	width:100%;
	height:33%;
	font-size:26px;
	text-align:center;
}
.mod-mask .welcome-mask {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:no-repeat center center;
	background-size:cover;
	z-index:20
}
.box-mask-html{
	width: 100%;
	padding: 0px;
}
.box-mask-html p{
	line-height: 40px;
	border-bottom: 1px solid #efefef;
}
.box-mask-html p:last-child{
	border: none;
}






.wrap_x{
    width: 90px;
    height:13px;
    background:url(/Public/image/star_v.png) no-repeat;
    background-position: 0px 0px;   
}
.mod-hide-mask{
	position: fixed;
	left: 0;
	top: 0;
	background: #ffffff;
	width: 100%;
	height: 100%;
	z-index: 9999999999;
	display: none;
}
.mod-hide-mask>div{
	position: relative;
	width: 160px;
	height: 160px;
	margin:50% auto 0;
}
.mod-hide-mask>div img{
	display: block;
	width: 100%;
	height:100%;
}
.mod-hide-mask>p{
	text-align: center;
	line-height: 30px;
	font-size: 15px;
}
.Return-top{
	position: fixed;
	bottom: 60px;
	right: 0px;
	width: 50px;
	height: 40px;
	z-index: 999999999999;
	display: none;
}
.Return-top img{
	display: block;
	width: 35px;
	height: 35px;
	margin: 0 auto;
}
.scroller{
    z-index: 1;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-touch-callout:none;
    -moz-touch-callout:none;
    -ms-touch-callout:none;
    -o-touch-callout:none;
    touch-callout:none;
    -webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none;
    -o-text-size-adjust:none;
    text-size-adjust:none;
}







.mod-select-city {
    width: 100%;
    height: 100%;
    position: relative;
}
.mod-select-city .boxsk{
    width: 100%;
    height: 100%;
}
.mod-select-city .divs{
    width: 100%;
    height: 30px;
    background: #ececec;
    position: fixed;
    top: 50px;
    left: 0;
    font-weight: bold;
    color: #000000;
    line-height: 30px;
    display: none;
    padding: 0 3%;
}
.mod-select-city .inpt{
    height: 50px;
    width: 100%;
    padding: 10px 0;
    background: #ddd;
}
/* .mod-select-city .inpt input{
    display: block;
    width: 94%;
    height: 30px;
    margin: 0 3%;
    border:none;
    padding:5px 0 5px 8px;
} */

.input-wrap{border-radius:5px;background-color:#fff;margin-bottom:15px;width:94%;margin-left:3%;display:inline-block;height:30px;line-height:30px;position:relative;
background: #fff;}
.input-wrap .input-text{color:#9e9e9e;text-align: center;font-size: 16px;}
.input-wrap input {border:none;outline:none;-webkit-appearance:none;font-size:14px;background-color:transparent;text-align:left;color:#555;outline:none;padding:5px 15px;width:100%;position:absolute;top:0%;left:0;height: 100%;}
.input-wrap input:focus{outline:0;}



.mod-select-city h2{
    font-weight: bold;
    line-height: 24px;
    color: #000000;
}
.mod-select-city .hot-city{
    width: 100%;  
}
.mod-select-city .hot-city ul{
    width: 100%;
    padding: 5px 5%;
    height: 120px; 
    background: #F2F2F2;
}
.mod-select-city .hot-city ul li{
    width: 33.3%;
    text-align: center;
    float: left;
    margin-top: 14px;        
}
.mod-select-city .hot-city ul li span{
    display: block;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #DCDCDC;
    background: #ffffff;
    height: 35px;
    line-height: 35px;
}
.mod-select-city ._scroll{
    background: #FFFFFF;
    line-height: 40px;
    clear: both;
}
.mod-select-city ._scroll li{
    border-bottom: 1px solid #ededed;
    font-size: 15px;
    width: 94%;
    margin: 0 auto;
}
.mod-select-city ._scroll h2,.mod-select-city .hot-city h2{
    background: #ececec;
    width: 100%;
    line-height: 25px;
    padding:0 3%;
    font-size:15px;
}
.shu{
    position: fixed;
    right: 0;
    top:110px;
    line-height: 16px;
    color: blue;
    width:80px;
    text-align: center;
    padding-left: 40px;
}
.curr{
    font-weight: bold;
    color: red;
}
.hide-city{
    position: fixed;
    background:rgba(0,0,0,.5);
    bottom: 0;
    left: 0;
    display: none;
    z-index: 99999;
    width: 100%;
    height:100%;
    min-width: 200px;  
}
.hide-city-main{
    position:fixed;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    z-index: 999999999999999;
    display: none;
    background: #fff;
    overflow: hidden;
    padding:0 3%;
}
.hide-city-btn{
    width: 100%;
    display: -webkit-box;
    display: box;
    -webkit-box-pack:justify;
    line-height: 45px;
    font-size: 16px;
    color: #000000;
    padding:0 5%; 
}
.hide-city-btn a{
    color: #000000;
}
.hide-city-names{
    width: 100%;
    clear: both;
}
.hide-city-names li{
    float: left;
    width: 33.3%;
    text-align: center;
    line-height:30px;
    padding-top: 15px;
    height: 45px;
}
.hide-city-names li span{
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #DCDCDC;
}
.colos_y{
    background: yellow;
}








.mod-select-navs{
	width: 100%;
	height: 100%;
}
.mod-select-navs .mod-nav-uls{
	width: 100%;
	display: -webkit-box;
	display: box;
	margin-top: 7px;
	border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ffffff;
}
.mod-select-navs .mod-nav-uls li{
	-webkit-box-flex:1;
	box-flex:1;
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #ffffff;
}
.mod-select-navs .mod-nav-uls li:last-child{
	border:none;
}
.mod-select-navs .mod-nav-uls li.selectLi{
	background: #ffffff;
	color: #A67F4A;
}
