<!DOCTYPE html>
<html lang="en">
<head>
    <title>哈哈镜便捷购</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <include file="Public/header" />
    <style type="text/css">.show{display: block;}.hidden{display: none;}.hide_null,.hide_null img{width: 100%;height: 100%;}</style>
    <script type="text/javascript">
        document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    </script>
</head>
<body>
    <div id="mod-container" class="mod-container clearfix">
        <div id="mod-addrlist" class="mod-addrlist pageview">
            <header class="pub-header bgss">
                <a class="tap-action icon icon-back" href="/index/index"></a>
                <div class="header-content">
                    <div class="head_box">
                      <p <eq name="hiden" value="1">class=""<else/> class="box_set"</eq>>送货上门</p>
                      <p <eq name="hiden" value="1">class="box_set"<else/>class="" </eq>>到店自提</p>
                    </div>
                </div>
            </header>
            <div class="main addBox main-bottom ">
                <div id="list-product" class="list-product">
                    <div class="addrlist_main">
                        <div class="add_main" id="list-main-one" <eq name="hiden" value="1">style="display:none;"<else/> style="display:block;"</eq>>
                            <div class="scrollers">
                               <div class="blank-item">
                                    <a href="/Address/new_location.html">
                                        <span>
                                            <img src="__PUBLIC__/image/icon-ding.png" alt="">
                                            定位到当前位置
                                        </span>
                                    </a>
                                </div>
                                <div class="list-addr">
                                    <ul class="list-addr-content">
                                        <foreach name="address_get_data" item="vo">
                                            <li class="addr-item">
                                                <div class="addBox-l">
                                                    <a href='/Address/setsession_data.html?x={$vo.lng}&y={$vo.lat}&district={$vo.district}&city_id={$vo.cityid}&address_id={$vo.addressid}' class="blocks">
                                                        <div class="list-addr-del">
                                                            <input type="radio" <if condition="$vo.default eq '1' "> checked class="inputColor"</if> name="Date" id="Date">
                                                        </div>
                                                        <div class="list-addr-phone">
                                                            <div class="list-addr-info">
                                                                <span>{$vo.username}</span>
                                                                <span>{$vo.phone}</span>
                                                            </div>
                                                            <p class="list-addr-p">{$vo.cityname} {$vo.district} {$vo.address}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <a href="/Address/edit?address_id={$vo.addressid}&cityname={$vo.cityname}&district={$vo.district}&x={$vo.lng}&y={$vo.lat}&cityCode={$vo.city_baiducode}&address={$vo.address}&name={$vo.username}&mobile={$vo.phone}" class="blocks addBox-r">
                                                    <img src="__PUBLIC__/image/icon-edit.png" alt="{$vo.addressid}">
                                                </a>
                                            </li>
                                            <input type="hidden" name="lng" value="{$vo.lng}">
                                            <input type="hidden" name="lat" value="{$vo.lat}">
                                    </foreach>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="add_main add_main_two"  id="list-main-three"  <eq name="hiden" value="1">style="display:block;"<else/> style="display:none;"</eq>>
                            <div class="scrollers">
                                <div class="blank-item blank-item2">
                                     <a href="/Since/city_list.html?cityName={$city_name}&x={$x}&y={$y}">
                                         <span class="ui-ellipsis"><img src="__PUBLIC__/image/icon-ding.png" alt="">{$district}</span>
                                     </a>
                                 </div>
                                <div class="generic-title">
                                    <i class="line line-l"></i>
                                    <span class="line-size"><img src="__PUBLIC__/image/icon-generic.png" alt="">附近的店铺</span>
                                    <i class="line line-r"></i>
                                </div>
                                <if condition="count($shop_near_list) gt 0">
                                <div class="box_near_shang">
                                    <ul class="generic-list">
                                        <foreach name="shop_near_list" item="vo">

                                        <li class="generic-Boxli">
                                <div class="generic-item">
                                        <div class="generic-item-img">
                                            <eq name="vo.shop_isvip" value="3">
                                                    <a href="javascript:void(0);" onclick="getclickinfo('代售点不能购买产品');">
                                                    <else/>
                                                    <a href="/Category/index/shop_id/{$vo.shop_id}">
                                                    </eq>
                                                    <!--判断-->
                                                        <eq name="vo.is_book" value="1">
                                                        <img class="icon_img" src="__PUBLIC__/image/yudi.png">
                                                        </eq>
                                                    <!--判断-->
                                                    <img class="image autos" src="{$vo.shop_avatar}" alt="" onerror="this.src='http://www.hahajing.com/userfiles/shop_avatar/_default3.png?ddd'"></a> 
                                        </div>
                                        <div class="generic-item_info ui-ellipsis">
                                            <eq name="vo.shop_isvip" value="3">
                                                    <a href="javascript:void(0);" onclick="getclickinfo('代售点不能购买产品');">
                                                    <else/>
                                                    <a href="/Category/index/shop_id/{$vo.shop_id}">
                                                    </eq>
                                                <div class="lis-title ui-ellipsis">
                                                    <h2 class="ui-ellipsis">{$vo.shop_name}</h2>
                                                    <if condition="$vo.shop_isvip eq 1">
                                                        <img class="liimg" src="__PUBLIC__/image/bq-red.png" alt="">
                                                        <elseif condition="$vo.shop_isvip eq 2" />
                                                        <img class="liimg" src="__PUBLIC__/image/bq-gre.png" alt="">
                                                        <elseif condition="$vo.shop_isvip eq 3" />
                                                        <img class="liimg" src="__PUBLIC__/image/bq-yell.png" alt="">
                                                        <elseif condition="$vo.shop_isvip eq 4" />
                                                        <img class="liimg" src="__PUBLIC__/image/bq-vp.png" alt="">
                                                        <elseif condition="$vo.shop_isvip eq 5" />
                                                        <img class="liimg" src="__PUBLIC__/image/bq-redXing.png" alt="">
                                                    </if>
                                                </div>
                                                <if condition="$vo.score gt 0">
                                                <!--显示-->
                                                <div class="mens_details_x">
                                                   <div class="wrap_x" id='wrap_x{$key}' data-index="{$vo.score}" data-id="{$key}">
                                                        <div id="cur" class="cur" ></div>
                                                    </div>
                                                </div>
                                                <else/>
                                                <div class='zanwu'>暂无评价</div>
                                                </if>
                                                <p class="generic-item-sh">已售<span>{$vo.shop_totalordercount}</span></p>
                                            </a>
                                        </div>
                                        <div class="generic-item_mi">
                                            <a href="/shop/navigation?user={$user_current['district']}&shop={$vo.shop_address}&user_x={$user_current['x']}&user_y={$user_current['y']}&shop_x={$vo.shop_baidux}&shop_y={$vo.shop_baiduy}">
                                                <img src="__PUBLIC__/image/icon-d.png" alt="">
                                                <p>{$vo.distance}</p>
                                            </a>
                                       </div>                                  
                                </div>
                                <div class="generic-address">
                                    <span class="ui-ellipsis blocks">{$vo.shop_address}</span>
                                </div>

                                <div class="generic-not-mention">
                                    <if condition="$vo.shop_deliver_type eq 1">
                                        <p class="generic-carry generic-song 
                                        <if condition='($vo.shop_open_status eq 2) OR ($vo.shop_delivertime_status eq 2)'> generic-hui </if>">
                                            <span>送</span><b>{$vo.shop_updeliverfee}</b>元起送/配送费<b>￥{$vo.shop_deliverfee}</b>
                                        </p>
                                        
                                    </if>
                                    <p class="generic-carry generic-zi <if condition='$vo.shop_open_status eq 2'> generic-hui </if>">

                                        <if condition="$vo.shop_deliver_type eq 1">
                                        <span>自</span>在线下单，到店自提</p>
                                        <else/>
                                        <span>店</span>仅支持到店购买</p>
                                        </if>

                                        <if condition="$vo.shop_orderphone1 neq ''">
                                            <a href="tel:{$vo.shop_orderphone1}" class="generic-a blocks">
                                        <elseif condition="$vo.shop_orderphone2 neq ''" />
                                            <a href="tel:{$vo.shop_orderphone2}" class="generic-a blocks">
                                        <else/>
                                            <a href="javascript:void(0);" class="generic-a blocks">
                                        </if>
                                        <img src="__PUBLIC__/image/icon-phone.png" alt="">
                                        </a>
                                </div>
                            </li>
                                        </foreach>
                                    </ul>
                                </div>
                                <else/>
                                    <div class="hide_null">
                                        <img src="__PUBLIC__/image/dia_empty.png" alt="">
                                    </div>
                                </if>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pub-cart add-put" >
                <a href="javascript:void(0);" class="adda">
                    +新增收货地址
                </a>
            </div>   
        </div>
        <div id="mod-shipping_address" class="mod-shipping_address pageview"> 
            <header class="pub-header">
                <span class="tap-action icon icon-back">
                </span>
                <div class="header-content">
                    我的收货地址
                </div>
                <span class="header-right">
                <a href="/Address/add.html"  style="color:#ffffff;">+新建</a>
                </span>
            </header>
            <div id="shipping-adds" class="main main-top" style="overflow: hidden;">
            <if condition="count($address_get_data) gt 0">
                <ul class="shipping-adds_list scrollers">
                    <foreach name="address_get_data" item="vo">
                    <li class="list_item">
                        <div class="shipping-adds-iphone">
                            <p>{$vo.username}</p>
                            <p>{$vo.phone}</p>
                        </div>
                        <p class="shipping-adds-del">{$vo.cityname} {$vo.district} {$vo.address}</p>
                        <div class="hairline"></div>
                        <div class="shipping-adds-input">
                            <div class="shipping-adds-editor">
                                <a href="/Address/edit?address_id={$vo.addressid}&cityname={$vo.cityname}&district={$vo.district}&x={$vo.lng}&y={$vo.lat}&cityCode={$vo.city_baiducode}&address={$vo.address}&name={$vo.username}&mobile={$vo.phone}"><span><img src="__PUBLIC__/image/edit_icon.png" alt="{$vo.addressid}">编辑</span></a>
                                <span class="Del" data-id="{$vo.addressid}"><img src="__PUBLIC__/image/remove_icon.png" alt="" >删除</span>
                            </div>
                        </div>
                    </li>
                    </foreach>
                </ul>
                <else/>
                <div class="add_mins"><img src="/Public/image/add_null.png" alt="" /></div>
                </if>
            </div>
        </div>
    </div>
<include file="Public/footer" />
<script type="text/javascript" src="__PUBLIC__/js/address.js"></script>
</body>
</html>