<!DOCTYPE html>
<html lang="en">
<head>
    <title>哈哈镜便捷购</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <include file="Public/header" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=wqBXfIN3HkpM1AHKWujjCdsi"></script>
    <style type="text/css">
		#l-map{height:200px;width:100%;}
		.map_main{width: 100%;background: #ffffff;padding:5px 0 5px 4%;}
		.map_main>h2{padding:5px 0;color: red;}
		.map_main>h2 img{display: block;float: left;width: 15px;height:18px;margin:2px 5px 0 0px;}
		.map_main p{padding:4px 0;border-bottom: 1px solid #dadede;font-size: 13px;color: #999999;}
		.map_main h3{font-weight: normal;padding: 4px 0 10px 0;}
    </style>
<body>
<div id="mod-container" class="mod-container clearfix">
    <div id="mod-success" class="mod-success pageview">
        <header class="pub-header">
            <a class="tap-action icon icon-back" href="/Address/index.html"></a>
            <div class="header-content "></div>
            <span class="header-right header-right-text"></span>
        </header>
        <div id="iscroll-success" class="main main-top" style="overflow: hidden;">
            <div class="scrollers" style="padding-bottom:30px;">
               	<div id="l-map"></div>
				<div class="map_main">
				</div>
            </div> 
        </div>
    </div>
</div>
 <div id="allmap" style="display:none;"></div>
<include file="Public/footer" />
<script type="text/javascript">
var myScroll,citys=GetQueryString('cityName'),map = new BMap.Map("l-map");
	map.centerAndZoom("北京",16); 
    $(document).ready(function(){
        init();
        function init(){
        	$('.mod-success').show(); 
        	myScroll = new IScroll('#iscroll-success', {probeType: 3,mouseWheel: true,click: true,scrollbars: false}); 
        	common.geolocation();
        }
	})
	function jsonpCallbacks(data) {
		if(data){
			var addComp = data.result,
				cityName=addComp.addressComponent.city,
				regionName=addComp.addressComponent.district,
				streetnName=addComp.addressComponent.street,
				juti=addComp.addressComponent.street_number,
				cityCode=addComp.cityCode,
                s=addComp.location.lat,
                k=addComp.location.lng;
				setTimeout(function(){
					var pp = new BMap.Point(k,s);
					map.centerAndZoom(pp, 16);
					map.addOverlay(new BMap.Marker(pp));    
					var circle = new BMap.Circle(pp,200,{strokeColor:"blue", strokeWeight:1.5, strokeOpacity:0.8});
					  	map.addOverlay(circle);	
				},200);
				var html='<h2><img src="__PUBLIC__/image/positio_icon.png" alt=""><span class="default_city">'+cityName+regionName+streetnName+'</span></h2>'
						+'<p>'+addComp.formatted_address+'</p>'
						+'<ul>'
						for(var i=0, len=addComp.pois.length; i<len; i++){
							var arr=addComp.pois[i];
							html+='<li><a href="/Address/setsession_data.html?district='+arr.name+'&x='+k+'&y='+s+'&cityCode='+cityCode+'">'
									+'<h3>'+arr.name+'</h3>'
									+'<p>'+arr.addr+'</p>'
									+'</a></li>'
						}
			     	html+='</ul>'
			$('.map_main').html(html)
			myScroll.refresh();	
		} 
	}
	window.onload=function(){}
</script>
</body>
</html>