<!DOCTYPE html>
<html lang="en">
<head>
    <title>哈哈镜便捷购</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
  <include file="Public/header" />
  <style type="text/css">.hide_Divs{display: none;}.mod-Catrs .icon_cen .dis h2{.mod-Catrs .icon_cen .info_price.info_price2s{color: #000;font-weight: 500;}</style><script type="text/javascript">document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);</script>
</head>
<body >
<input type="hidden" value="0" id="ids">
  <div id="mod-container" class="mod-container clearfix">
    <div id="mod-carts" class="mod-Catrs pageview" style="display:block;">
        <header class="pub-header" id="heds">
            <a class="asd tap-action icon icon-back" id="icon-backss" href="javascript:void(0);"></a>
            <div class="header-content ui-ellipsis">购物车<!--<span>(4)</span>--></div>
        </header>
        <div class="main main-both cat_main" id="list-productss">
          <if condition="$cart_data eq ''">
            <div class="four_null" style="display:block;"><img src="__PUBLIC__/image/cartnull.png" alt=""></div>
          <else/>
            <div class="list-product">
              <div class="mod-cart scrollers">
                  <div class="receive ui-graybg block" id="receive-ui-graybg">
                      <div class="addr tap-action" data-tap="selectAddr" id="selectAddr">
                          <div class="hide_Divs" style="display:block;"  id="" data-index="0">
                            <table class="addr-table" width="100%">
                              <tbody id="tbodys">
                                <if condition="$address_default neq ''">
                                  <input type="hidden" value="{$address_default['userid']}" id="userids">
                                  <th width="65px">收&nbsp;&nbsp;货&nbsp;&nbsp;人</th>
                                  <td class="cart_name">{$address_default['username']}</td>
                                  <td rowspan="3" width="40px" class="addr-change">
                                      <a href="javascript:void(0);"><span class="group-strong"><img src="__PUBLIC__/image/me_arrow_icon.png" alt=""></span>
                                      </a>
                                  </td></tr>
                                  <tr><th>电<span class="ui-hidden">中中</span>话</th><td class="cart_phone">{$address_default['phone']}</td></tr>
                                  <tr><th>收货地址</th><td class="cart_adds">{$address_default['cityname']}&nbsp;{$address_default['district']}</td></tr>
                                  <input type="hidden" name="addressid" value="{$address_default['addressid']}" id="addressid">
                                  <input type="hidden" name="lng" value="{$address_default['lng']}" id="tablng">
                                  <input type="hidden" name="lat" value="{$address_default['lat']}" id="tablat">

                                <else/>
                                   <tr><th class="addr-table-th">请选择收货地址</th>
                                       <td rowspan="3" width="40px" class="addr-change">
                                           <a href="javascript:void(0);">
                                               <span class="group-strong">
                                                   <img src="__PUBLIC__/image/me_arrow_icon.png" alt="">
                                               </span>
                                           </a>
                                       </td>
                                   </tr>
                                </if>
                              </tbody>
                            </table>
                          </div>
                          <div class="hide_Divs" id="hide_Divs" data-index="1">
                            <ul class="hideDivs_list">
                                <li><span>自提点</span><p>{$cart_data['shop_data']['shop_name']}</p></li>
                                <li><span>营业时间</span><p>{$cart_data['shop_data']['shop_opentime']}<a href="tel:{$cart_data['shop_orderphone1']}">{$cart_data['shop_data']['shop_orderphone1']}</a></p></li>
                                <li><span>自提地址</span><p>
                                  {$cart_data['shop_data']['shop_address']}
                                </p></li>
                            </ul>
                          </div>
                      </div>          
                  </div>
                  <input type="hidden" value="{$shop_data.shop_open_status}" id="shop_open_status" name="shop_open_status">
                  <input type="hidden" value="{$shop_data.shop_delivertime_status}" id="shop_delivertime_status" name="shop_delivertime_status">
                  <input type="hidden" name="shop_deliver_type" id="shop_deliver_type" value="{$cart_data['shop_data']['shop_deliver_type']}">
                  <input type="hidden" name="distribution" id="distribution" value="{$distribution}">
                                                                                                                                                                                                                
                    <div class="mod-cart-info">
                        <!--START-->      
                          <if condition="$normal_goods_data neq '' ">
                            <div class="cart_buyBox" id="cart_buyBox1">
                              <div class="cart_boxs">
                                    <div class="cart_boxs_head">
                                       <p class="cart_head_store"><a href="javascript:void(0);" class="abtn" id="abtn" data-id="{$cart_data['shop_data']['shop_id']}"><img src="__PUBLIC__/image/home_icon.png" alt="">{$cart_data['shop_data']['shop_name']}</a></p>
                                       <p class="cart_head_close">删除</p>
                                    </div>


                                    <div class="cartBx-title" id="cartBx-title" data-song="no">
                                      <div class="distri_div" id="distri_div1">
                                        <span id="span1">选择配送方式</span>
                                        <span class="span2" id="span2">配送时间</span>
                                      </div>
                                      <p class="distri_p"><span>{$normal_goods_data['shop_txt']}</span></p>
                                    </div>
                                    
                                    <div class="cartBx_xian flex padds3">
                                        <span class="cartBx_ximg blocks">即时</span>
                                        <div  class="cartBx_xsize flexs">
                                            <p>即时商品</p>
                                            <p class="p2">共{$normal_goods_data['total_num']}件</p>
                                        </div>
                                    </div>

                                    <div class="cart_buymain"> 

                                      <if condition="$normal_goods_data['goods_gift_data']['goods_list'] neq '' ">
                                        <div class="have_favorable favorable_div">
                                            <div class="titleH2">
                                              <img src="__PUBLIC__/image/buy.png" alt="">
                                              <p class="p1">
                                                <span class="span">{$normal_goods_data['goods_gift_data']['act_data']['act_name']}</span>
                                                <b>{$normal_goods_data['goods_gift_data']['act_data']['act_desc']}</b>
                                              </p>
                                            </div>

                                            <div class="enjoy-box">
                                              <div class="lines"></div>
                                              <foreach name="normal_goods_data['goods_gift_data']['goods_list']" item="vo">

                                              <if condition="$vo.goods_type eq 1">
                                              <div class="enjoy-good-info enjoy-divs" goods-id="{$vo['goods_id']}"  cart-id="{$vo['cart_id']}">
                                                  <div class="enjoy-info-left icon_left"><span>购</span></div>
                                                  <div class="enjoy-info-cent icon_cen">
                                                      <dl class="dis">
                                                          <dt class="dt"><img src="{$vo['goods_pic']}" alt="" onerror="this.src='http://www.hahajing.com/userfiles/shop_avatar/_default3.png?ddd'"></dt>
                                                          <dd class="cart_boxs_info">
                                                                 <h2 class="ui-ellipsis">{$vo['goods_name']}
                                                                  <if condition="$vo.goods_pungent neq '' ">
                                                                ({$vo['goods_pungent']})
                                                                </if>
                                                                  {$vo['goods_weight']}
                                                                  <if condition="$vo.goods_unit neq '' ">
                                                                  /
                                                                  </if>
                                                                  {$vo['goods_unit']}</h2>
                                                                  <if condition="$vo.act_name neq '' ">
                                                                 <p class="zens"><span>{$vo['act_name']}</span></p>
                                                                 </if>
                                                                 <p class="info_price info_price2s">￥{$vo['price']}</p>
                                                             </dd>
                                                      </dl>
                                                  </div>
                                                  <div class="enjoy-info-right  icon_right">
                                                      <span class="goods_del"><img src="__PUBLIC__/image/delcon.png" alt=""></span>
                                                      <input type="text" value="{$vo['count']}" name="text" class="goods_vals" readonly="readonly">
                                                      <span class="goods_add"><img src="__PUBLIC__/image/addcon.png" alt=""></span>
                                                   </div>
                                              </div>
                                              <else/>
                                              <div class="enjoy-good-zeng enjoy-divs">
                                                   <div class="enjoy-zeng-left icon_left"><span>赠</span></div>
                                                   <div class="enjoy-zeng-cent icon_cen">
                                                       <dl class="dis">
                                                          <dt class="dt"><img src="{$vo['goods_pic']}" alt="" onerror="this.src='http://www.hahajing.com/userfiles/shop_avatar/_default3.png?ddd'"></dt>
                                                          <dd class="cart_boxs_info">
                                                              <h2 class="ui-ellipsis">{$vo['goods_name']}</h2>
                                                              <p class="zens"></p>
                                                              <p class="info_price info_price2s">￥{$vo['price']}</p>
                                                          </dd>
                                                       </dl>
                                                    </div>
                                                    <div class="enjoy-zeng-right icon_right">                                     
                                                      <input type="text" value="{$vo['count']}" name="text">
                                                    </div>
                                              </div>
                                              </if>
                                              </foreach>
                                            </div>                                  
                                        </div>
                                      </if>

                                      <if condition="$normal_goods_data['goods_data']['goods_list'] neq '' ">
                                        <div class="no_favorable  favorable_div">
                                            <div class="titleH2">
                                              <img src="__PUBLIC__/image/raw.png" alt="">
                                              <p class="p1">
                                                <span class="span">{$normal_goods_data['goods_data']['act_data']['act_name']}</span>
                                              </p>
                                            </div>
                                            <div class="enjoy-box">
                                              <div class="lines"></div>

                                              <foreach name="normal_goods_data['goods_data']['goods_list']" item="vo">
                                                <div class="not-good-info enjoy-divs" goods-id="{$vo['goods_id']}"  cart-id="{$vo['cart_id']}">
                                                    <div class="icon_left">
                                                        <span>购</span>
                                                    </div>
                                                    <div class="not-info-cent icon_cen">
                                                        <dl class="dis">
                                                             <dt class="dt"><img src="{$vo['goods_pic']}" alt=""  onerror="this.src='http://www.hahajing.com/userfiles/shop_avatar/_default3.png?ddd'"></dt>
                                                             <dd class="cart_boxs_info">
                                                                 <h2 class="ui-ellipsis">{$vo['goods_name']}
                                                                  <if condition="$vo.goods_pungent neq '' ">
                                                                ({$vo['goods_pungent']})
                                                                </if>
                                                                  {$vo['goods_weight']}
                                                                  <if condition="$vo.goods_unit neq '' ">
                                                                  /
                                                                  </if>
                                                                  {$vo['goods_unit']}</h2>
                                                                  <if condition="$vo.act_name neq '' ">
                                                                 <p class="zens"><span>{$vo['act_name']}</span></p>
                                                                 </if>
                                                                 <p class="info_price info_price2s">￥{$vo['price']}</p>
                                                             </dd>
                                                         </dl> 
                                                    </div>
                                                    <div class="not-info-right icon_right">
                                                        <span class="goods_del"><img src="__PUBLIC__/image/delcon.png" alt=""></span>
                                                        <input type="text" value="{$vo['count']}" name="text"  class="goods_vals" readonly="readonly">
                                                        <span class="goods_add"><img src="__PUBLIC__/image/addcon.png" alt=""></span>
                                                    </div>
                                                </div>
                                              </foreach>
                                            </div>
                                        </div>
                                      </if>
                                      
                                      <if condition="$normal_goods_data['gift_data']['goods_list'] neq '' ">
                                        <div class="with_favorable favorable_div">
                                            <div class="titleH2">
                                              <img src="__PUBLIC__/image/full.png" alt="">
                                              <p class="p1">
                                                <span class="span">{$normal_goods_data['gift_data']['act_data']['act_name']}</span>
                                                <b>{$normal_goods_data['gift_data']['act_data']['act_desc']}</b>
                                              </p>
                                            </div>
                                            <div class="enjoy-box">
                                              <div class="lines"></div>
                                               <foreach name="normal_goods_data['gift_data']['goods_list']" item="vo">
                                                <div class="not-good-info enjoy-divs not-goods">
                                                    <div class="icon_left">
                                                        <span>赠</span>
                                                    </div>
                                                    <div class="not-info-cent icon_cen">
                                                        <dl class="dis">
                                                             <dt class="dt"><img src="{$vo['goods_pic']}" alt="" onerror="this.src='http://www.hahajing.com/userfiles/shop_avatar/_default3.png?ddd'"></dt>
                                                             <dd class="cart_boxs_info">
                                                                 <h2 class="ui-ellipsis">{$vo['goods_name']}
                                                                  <if condition="$vo.goods_pungent neq '' ">
                                                                ({$vo['goods_pungent']})
                                                                </if>
                                                                  {$vo['goods_weight']}
                                                                  <if condition="$vo.goods_unit neq '' ">
                                                                  /
                                                                  </if>
                                                                  {$vo['goods_unit']}</h2>
                                                                  <if condition="$vo.act_name neq '' ">
                                                                 <p class="zens"><span>{$vo['act_name']}</span></p>
                                                                 </if>
                                                                 <p class="info_price info_price2s">￥{$vo['price']}</p>
                                                             </dd>
                                                         </dl> 
                                                    </div>
                                                    <div class="not-info-right icon_right">
                                                        <input type="text" value="{$vo['count']}" name="text"  class="goods_vals" readonly="readonly">
                                                    </div>
                                                </div>
                                                 </foreach>
                                            </div>   
                                       </div>
                                       </if>
                                      </if>
                                      <if condition="$normal_goods_data neq '' ">
                                      <div class="cartBx_go flex">
                                          <p class="go_price flexs"><span class="go_prices_color spans">共￥<b>{$normal_goods_data['goods_amount']}</b></span>
                                            <if condition="$normal_youhui GT 0 ">
                                              <span class="spans">(已优惠<i>{$normal_youhui}</i>元)</span>
                                            </if>
                                          </p>
                                          <input type="button" name="button" value="选好了" id="submit1" class="inputs styleinput">
                                      </div>
                                    </div>
                              </div>         
                            </div>
                          </if>
                          <!--END-->
                        <!--START-->
                          <if condition="$book_goods_data neq '' ">      
                            <div class="cart_buyBox" id="cart_buyBox2">
                                <div class="cart_boxs">
                                      <div class="cart_boxs_head">
                                          <p class="cart_head_store"><a href="javascript:void(0);" class="abtn" id="abtn" data-id="{$cart_data['shop_data']['shop_id']}"><img src="__PUBLIC__/image/home_icon.png" alt=""><span>{$cart_data['shop_data']['shop_name']}</span><img src="__PUBLIC__/image/ring_icon.png" class="titleIvons"><span class="yu_span">新鲜预定美食</span></a>
                                          </p>
                                          <p class="cart_head_close">删除</p>
                                      </div>     
                                      <div class="cartBx">
                                        <div class="cartBx-title" id="cartBx-title2" data-song="yes">
                                          <div class="distri_div" id="distri_div2">
                                            <span id="spans1">选择配送方式</span>
                                            <span class="scolor spans2"  id="spans2">选择时间</span>
                                          </div>
                                          <p class="distri_p"><span>{$book_goods_data['shop_txt']}</span></p>
                                        </div>
                                        <div class="cartBx_xian flex">
                                            <span class="cartBx_ximg cartBx_ximg2 blocks">次日</span>
                                            <div  class="cartBx_xsize flexs">
                                                <p>预定商品</p>
                                                <p class="p2">共{$book_goods_data['total_num']}件</p>
                                            </div>
                                        </div>
                                        <div class="cart_buymain"> 
                                          <if condition="$book_goods_data['goods_gift_data']['goods_list'] neq '' ">
                                            <div class="have_favorable favorable_div">
                                                <div class="titleH2">
                                                  <img src="__PUBLIC__/image/buy.png" alt="">
                                                  <p class="p1">
                                                    <span class="span">{$book_goods_data['goods_gift_data']['act_data']['act_name']}</span>
                                                    <b>{$book_goods_data['goods_gift_data']['act_data']['act_desc']}</b>
                                                  </p>
                                                </div>

                                                <div class="enjoy-box">
                                                  <div class="lines"></div>
                                                  <foreach name="book_goods_data['goods_gift_data']['goods_list']" item="vo">

                                                  <if condition="$vo.goods_type eq 1">
                                                  <div class="enjoy-good-info enjoy-divs" goods-id="{$vo['goods_id']}"  cart-id="{$vo['cart_id']}">
                                                      <div class="enjoy-info-left icon_left">
                                                          <span>购</span>
                                                      </div>
                                                      <div class="enjoy-info-cent icon_cen">
                                                          <dl class="dis">
                                                              <dt class="dt"><img src="{$vo['goods_pic']}" alt="" onerror="this.src='http://www.hahajing.com/userfiles/shop_avatar/_default3.png?ddd'"></dt>
                                                              <dd class="cart_boxs_info">
                                                                     <h2 class="ui-ellipsis">{$vo['goods_name']}
                                                                      <if condition="$vo.goods_pungent neq '' ">
                                                                    ({$vo['goods_pungent']})
                                                                    </if>
                                                                      {$vo['goods_weight']}
                                                                      <if condition="$vo.goods_unit neq '' ">
                                                                      /
                                                                      </if>
                                                                      {$vo['goods_unit']}</h2>
                                                                      <if condition="$vo.act_name neq '' ">
                                                                     <p class="zens"><span>{$vo['act_name']}</span></p>
                                                                     </if>
                                                                     <p class="info_price info_price2s">￥{$vo['price']}</p>
                                                                 </dd>
                                                          </dl>
                                                        </div>
                                                      <div class="enjoy-info-right  icon_right">
                                                          <span class="goods_del"><img src="__PUBLIC__/image/delcon.png" alt=""></span>
                                                          <input type="text" value="{$vo['count']}" name="text" class="goods_vals" readonly="readonly">
                                                          <span class="goods_add"><img src="__PUBLIC__/image/addcon.png" alt=""></span>
                                                       </div>
                                                  </div>

                                                  <else/>
                                                  <div class="enjoy-good-zeng enjoy-divs">
                                                       <div class="enjoy-zeng-left icon_left">
                                                           <span>赠</span>
                                                       </div>
                                                       <div class="enjoy-zeng-cent icon_cen">
                                                           <dl class="dis">
                                                              <dt class="dt"><img src="{$vo['goods_pic']}" alt="" onerror="this.src='http://www.hahajing.com/userfiles/shop_avatar/_default3.png?ddd'"></dt>
                                                              <dd class="cart_boxs_info">
                                                                  <h2 class="ui-ellipsis">{$vo['goods_name']}</h2>
                                                                  <p class="zens"></p>
                                                                  <p class="info_price info_price2s">￥{$vo['price']}</p>
                                                              </dd>
                                                           </dl>
                                                        </div>
                                                       <div class="enjoy-zeng-right icon_right">                                     
                                                           <input type="text" value="{$vo['count']}" name="text">
                                                       </div>
                                                  </div>

                                                  </if>
                                                  </foreach>

                                                </div>                                  
                                            </div>
                                          </if>
                                          <if condition="$book_goods_data['goods_data']['goods_list'] neq '' ">
                                            <div class="no_favorable  favorable_div">
                                                <div class="titleH2">
                                                  <img src="__PUBLIC__/image/raw.png" alt="">
                                                  <p class="p1">
                                                    <span class="span">{$book_goods_data['goods_data']['act_data']['act_name']}</span>
                                                  </p>
                                                </div>
                                                <div class="enjoy-box">
                                                  <div class="lines"></div>

                                                  <foreach name="book_goods_data['goods_data']['goods_list']" item="vo">
                                                    <div class="not-good-info enjoy-divs" goods-id="{$vo['goods_id']}"  cart-id="{$vo['cart_id']}">
                                                        <div class="icon_left">
                                                            <span>购</span>
                                                        </div>
                                                        <div class="not-info-cent icon_cen">
                                                            <dl class="dis">
                                                                 <dt class="dt"><img src="{$vo['goods_pic']}" alt=""  onerror="this.src='http://www.hahajing.com/userfiles/shop_avatar/_default3.png?ddd'"></dt>
                                                                 <dd class="cart_boxs_info">
                                                                     <h2 class="ui-ellipsis">{$vo['goods_name']}
                                                                      <if condition="$vo.goods_pungent neq '' ">
                                                                    ({$vo['goods_pungent']})
                                                                    </if>
                                                                      {$vo['goods_weight']}
                                                                      <if condition="$vo.goods_unit neq '' ">
                                                                      /
                                                                      </if>
                                                                      {$vo['goods_unit']}</h2>
                                                                      <if condition="$vo.act_name neq '' ">
                                                                     <p class="zens"><span>{$vo['act_name']}</span></p>
                                                                     </if>
                                                                     <p class="info_price info_price2s">￥{$vo['price']}</p>
                                                                 </dd>
                                                             </dl> 
                                                        </div>
                                                        <div class="not-info-right icon_right">
                                                            <span class="goods_del"><img src="__PUBLIC__/image/delcon.png" alt=""></span>
                                                            <input type="text" value="{$vo['count']}" name="text"  class="goods_vals" readonly="readonly">
                                                            <span class="goods_add"><img src="__PUBLIC__/image/addcon.png" alt=""></span>
                                                        </div>
                                                    </div>
                                                    </foreach>
                                                </div>
                                           </div>
                                          </if>
                                          <if condition="$book_goods_data['gift_data']['goods_list'] neq '' ">
                                            <div class="with_favorable favorable_div">
                                                <div class="titleH2">
                                                  <img src="__PUBLIC__/image/full.png" alt="">
                                                  <p class="p1">
                                                    <span class="span">{$book_goods_data['gift_data']['act_data']['act_name']}</span>
                                                    <b>{$book_goods_data['gift_data']['act_data']['act_desc']}</b>
                                                  </p>
                                                </div>
                                                <div class="enjoy-box">
                                                  <div class="lines"></div>
                                                   <foreach name="book_goods_data['gift_data']['goods_list']" item="vo">
                                                    <div class="not-good-info enjoy-divs not-goods">
                                                        <div class="icon_left">
                                                            <span>赠</span>
                                                        </div>
                                                        <div class="not-info-cent icon_cen">
                                                            <dl class="dis">
                                                                 <dt class="dt"><img src="{$vo['goods_pic']}" alt="" onerror="this.src='http://www.hahajing.com/userfiles/shop_avatar/_default3.png?ddd'"></dt>
                                                                 <dd class="cart_boxs_info">
                                                                     <h2 class="ui-ellipsis">{$vo['goods_name']}
                                                                      <if condition="$vo.goods_pungent neq '' ">
                                                                    ({$vo['goods_pungent']})
                                                                    </if>
                                                                      {$vo['goods_weight']}
                                                                      <if condition="$vo.goods_unit neq '' ">
                                                                      /
                                                                      </if>
                                                                      {$vo['goods_unit']}</h2>
                                                                      <if condition="$vo.act_name neq '' ">
                                                                     <p class="zens"><span>{$vo['act_name']}</span></p>
                                                                     </if>
                                                                     <p class="info_price info_price2s">￥{$vo['price']}</p>
                                                                 </dd>
                                                             </dl> 
                                                        </div>
                                                        <div class="not-info-right icon_right">
                                                            <input type="text" value="{$vo['count']}" name="text"  class="goods_vals" readonly="readonly">
                                                        </div>
                                                    </div>
                                                    </foreach>
                                                </div>   
                                            </div>
                                          </if>                                   
                                          <div class="cartBx_go flex">
                                              <p class="go_price flexs"><span class="go_prices_color spans">共￥<b>{$book_goods_data['goods_amount']}</b> 元</span>
                                                <if condition="$book_youhui GT 0 ">
                                                  <span class="spans">(已优惠<i>{$book_youhui}</i>元)</span>
                                                </if>
                                              </p>
                                              <input type="button" name="button" value="选好了"  id="submit2" class="inputs styleinput">
                                          </div>
                                        </div>
                                      </div>         
                                </div>
                            </div>
                          </if>
                        <!--END-->
                    </div>
                      <!--****************************-->
                </div>
            </div>
          </if>
        </div>
    </div>
    <div id="adds_selections" class="adds_selection pageview" style="display:none">
      <header class="pub-header">
            <span class="tap-action icon icon-back" id="iconst"></span>
            <div class="header-content">选择地址</div>
        </header>
        <div id="adds_selection" class="main main-both mainTops" style="overflow: hidden;">
            <div id="list-product" class="list-product">
                <div class="addrlist_main">
                    <div class="main wayMins main-bottom add_main" id="adds-main-one">
                        <div class="scrollers" id="addselect_mins">
                          <foreach name="address_get_data" item="vo">
                                <dl class="addselect_boxs" >
                                  <dt class="addselect_input">
                                    <input type="checkbox" type="checkbox"  <if condition="$vo.default eq '1' "> checked class="inputColor"</if>>
                                  </dt>
                                  <dd class="addselect_con">
                                      <a href="javascript:void(0);">
                                          <div class="addselect_names">
                                              <span class="cartname">{$vo.username}</span>
                                              <span class="cartphone">{$vo.phone}</span>
                                          </div>
                                          <p class="addselect_del">
                                              <span>{$vo.cityname}</span>&nbsp;<span>{$vo.district}</span>&nbsp;<span>{$vo.address}</span>
                                          </p>
                                      </a>
                                  </dd>
                                  <dd class="addselect_con2 topLocation" data-indexs="{$vo.addressid}|{$vo.cityname}|{$vo.district}|{$vo.lng}|{$vo.lat}|{$vo.city_baiducode}|{$vo.address}|{$vo.username}|{$vo.phone}">
                                    <!--
                                        /Address/edit?address_id={$vo.addressid}&cityname={$vo.cityname}&district={$vo.district}&x={$vo.lng}&y={$vo.lat}&cityCode={$vo.city_baiducode}&address={$vo.address}&name={$vo.username}&mobile={$vo.phone}      
                                    -->
                                      <a href="/Address/edit?address_id={$vo.addressid}&cityname={$vo.cityname}&district={$vo.district}&x={$vo.lng}&y={$vo.lat}&cityCode={$vo.city_baiducode}&address={$vo.address}&name={$vo.username}&mobile={$vo.phone} "><img src="/Public/image/icon-edit.png" alt=""></a>
                                  </dd>
                                  <input type="hidden" name="addressid" value="{$vo.addressid}">
                                  <input type="hidden" name="lng" value="{$vo.lng}">
                                  <input type="hidden" name="lat" value="{$vo.lat}">
                                </dl>
                          </foreach>
                        </div>
                    </div>
                    <!--end-->
                    <!--start-->
                    <div  class="main wayMins main-top "  id="adds-main3">
                          <!--自提商户显示-->
                          <div class="box_near_shang">
                            <ul class="generic-list">
                              <li class="generic-Boxli">
                                  <div class="generic-item">
                                      <div class="generic-item-img" data-id="{$shop_data.shop_id}">
                                          <eq name="shop_data.shop_isvip" value="3">
                                                  <a href="javascript:void(0);" onclick="getclickinfo('代售点不能购买产品');">
                                                  <else/>
                                                  <a href="javascript:void(0);">
                                                  </eq>
                                            <img class="image autos" src="{$shop_data.shop_avatar}" alt="" onerror="this.src='http://www.hahajing.com/userfiles/shop_avatar/_default3.png?ddd'">
                                          </a>
                                      </div>
                                      <div class="generic-item_info ui-ellipsis" data-id="{$shop_data.shop_id}">
                                          <eq name="shop_data.shop_isvip" value="3">
                                                  <a href="javascript:void(0);" onclick="getclickinfo('代售点不能购买产品');">
                                                  <else/>
                                                  <a href="javascript:void(0);">
                                                  </eq>
                                              <div class="lis-title ui-ellipsis">
                                                  <h2 class="ui-ellipsis">{$shop_data.shop_name}</h2>
                                                  <if condition="$shop_data.shop_isvip eq 1">
                                                      <img class="liimg" src="__PUBLIC__/image/bq-red.png" alt="">
                                                      <elseif condition="$shop_data.shop_isvip eq 2" />
                                                      <img class="liimg" src="__PUBLIC__/image/bq-gre.png" alt="">
                                                      <elseif condition="$shop_data.shop_isvip eq 3" />
                                                      <img class="liimg" src="__PUBLIC__/image/bq-yell.png" alt="">
                                                  </if>
                                              </div>
                                              <if condition="$shop_data.score gt 0">
                                              <div class="mens_details_x">
                                                 <div class="wrap_x" id='wrap_cartx0' data-index="{$shop_data.score}" data-id="0">
                                                      <div id="cur" class="cur" ></div>
                                                  </div>
                                              </div>
                                              <else/>
                                              <div class='zanwu'>暂无评价</div>
                                              </if>
                                              <p class="generic-item-sh">已售<span>{$shop_data.shop_totalordercount}</span></p>
                                          </a>
                                      </div>
                                      <div class="generic-item_mi">
                                          <a href="/shop/navigation?user={$user_current['district']}&shop={$shop_data.shop_address}&user_x={$user_current['x']}&user_y={$user_current['y']}&shop_x={$shop_data.shop_baidux}&shop_y={$shop_data.shop_baiduy}">
                                              <img src="__PUBLIC__/image/icon-d.png" alt="">
                                              <p>{$shop_data.distance}</p>
                                          </a>
                                     </div>                                  
                                  </div>
                                  <div class="generic-address">
                                      <span class="blocks ui-ellipsis">{$shop_data.shop_address}</span>
                                  </div>
                                  <div class="generic-not-mention">
                                      <if condition="$shop_data.shop_deliver_type eq 1">
                                          <p class="generic-carry generic-song <if condition='($shop_data.shop_open_status eq 2) OR ($shop_data.shop_delivertime_status eq 2)'> generic-hui </if>">
                                              <span>送</span><b>{$shop_data.shop_updeliverfee}</b>元起送/配送费<b>￥{$shop_data.shop_deliverfee}</b>
                                          </p>
                                          
                                      </if>
                                      <p class="generic-carry generic-zi <if condition='$shop_data.shop_open_status eq 2'> generic-hui </if>">
                            
                                          <if condition="$shop_data.shop_deliver_type eq 1">
                                          <span>自</span>在线下单，到店自提</p>
                                          <else/>
                                          <span>店</span>仅支持到店购买</p>
                                          </if>
                            
                                          <if condition="$shop_data.shop_orderphone1 neq ''">
                                              <a href="tel:{$shop_data.shop_orderphone1}" class="generic-a blocks">
                                          <elseif condition="$shop_data.shop_orderphone2 neq ''" />
                                              <a href="tel:{$shop_data.shop_orderphone2}" class="generic-a blocks">
                                          <else/>
                                              <a href="javascript:void(0);" class="generic-a blocks">
                                          </if>
                                          <img src="__PUBLIC__/image/icon-phone.png" alt="">
                                          </a>
                                  </div>
                              </li>
                            </ul>
                          <!--自提商户显示结束-->
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pub-cart add-put adds_hides" >
            <a href="/Address/add" class="adda">
                +新增收货地址
            </a>
        </div> 
    </div>
    <div id="mod_pay_distribution" class="modpay1 mod_pay_distribution pageview" style="display:none" data-index="0">
        <header class="pub-header">
            <span class="tap-action icon icon-back" data-tap="!back"></span>
            <div class="header-content ">配送方式和时间</div>
        </header>
        <div class="mod_pay_main">
          <div class="mod_way">
              <h2>配送方式</h2>
              <div class="hairline"></div>
              <input type="hidden" value="0" id="hide_input" name="deliver_type"> 
              <div class="mod_dir_way mod_dir_way1">
                    <div class="mod_dir_way_one wayDiv">
                      <input type="radio" name="radios" checked="checked" class="checks" data-index='0' value="即时送货">
                      <span>即时送货</span>
                      <input type="hidden" value="" name="hide-times">
                    </div>
                    <div class="mod_dir_way_two wayDiv" id="mod_dir_way_two">
                        <input type="radio" name="radios" value="到店自提"  data-index='1'>
                        <span>到店自提</span>
                    </div>
                    <div class="mod_dir_way_three wayDiv">
                       <input type="radio" name="radios" data-index='2' value="预约送货">
                        <span>预约送货</span>
                    </div>
                </div>
          </div>
        </div>
        <div class="Next_step">
            <span>下一步</span>
        </div>
        <div id="mod_pay_dist" class="main main-top" style="overflow: hidden;">
           <div class="scrollers">
                <div class="mod_pay_hide" >
                    <div>
                      <div class="mod_pay_bth">
                         <p class="pay_timeSize1">送货时间</p>
                         <div class="hairline"></div>
                         <div class="mod_pay_divs mod_pay_divs1">
                            <p class="p_green">今天</p>
                            <p>其他日期</p>
                         </div>
                         <div class="hairline"></div>
                      </div>
                      <div class="clears"></div>
                      <div class="mod_pay_data" id="mod_pay_data1">
                        <div class="mod_show mod_show1 mod_today" id="mod_today" style="display:block;" data-index='0'>
                          <div class="mod_pay_set">
                              <p class="mod_pay_ps mod_pay_ps1">{:date('Y年m月d日',time())}(今天)</p>
                              <div class="hairline"></div>
                          </div>
                          <ul class="mod_pay_uls mod_pay_uls1" data-index="0">
                            <foreach name="time_arr" item="vo">
                             <li><span>{$vo}</span></li>
                             </foreach>
                         </ul>
                         <div class="mpu_uBtn">
                            <span>下一步</span>
                         </div>
                        </div>
                        <div class="mod_show mod_show1 mod_otherdate" id="mod_otherdate" data-index='1'>
                          <div class="mod_pay_set">
                              <p>
                                <span>(点击选择日期)</span>
                                <select name="book_day" id="book_day1" clsss="book_day">
                                  <foreach name="normal_goods_data['book_day_time']" item="vo">
                                    <option value="{$vo}">{$vo}</option>
                                 </foreach>
                                </select>
                              </p>
                              <div class="hairline"></div>
                          </div>
                          <ul class="mod_pay_uls mod_pay_uls1"  data-index="1">
                            <foreach name="normal_goods_data['book_hour']" item="vo">
                               <li><span>{$vo}</span></li>
                            </foreach>
                         </ul>
                         <div class="mpu_uBtn">
                            <span>下一步</span>
                         </div>
                        </div>
                      </div>
                    </div>
                </div>
           </div>
         </div>     
    </div>
    <div id="mod_pay_distribution2" class="modpay2 mod_pay_distribution  mod_pay_distribution2 pageview"  style="display:none"data-index="1">
        <header class="pub-header">
            <span class="tap-action icon icon-back" data-tap="!back"></span>
            <div class="header-content ">配送方式和时间</div>
        </header>
        <div class="mod_pay_main">
          <div class="mod_way">
              <h2>配送方式</h2>
              <div class="hairline"></div>
              <input type="hidden" value="0" id="hide_input" name="deliver_type"> 
              <div class="mod_dir_way mod_dir_way2">

                <div class="mod_dir_way_one wayDivs">
                  <input type="radio" name="radios" checked="checked" class="checks" data-index='0' value="预约送货">
                  <span>预约送货</span>
                  <input type="hidden" value="" name="hide-times2">
                </div>
                <!--<div class="mod_dir_way_two wayDivs" >
                    <input type="radio" name="radios" value="到店自提"  data-index='1'>
                    <span>到店自提</span>
                </div> -->
              </div>
          </div>
        </div>
        <div id="mod_pay_dist2" class="main main-top" style="overflow: hidden;">
           <div class="scrollers">
                <div class="mod_pay_hide" >
                    <div>
                      <div class="mod_pay_bth">
                         <p class="pay_timeSize2">送货时间</p>
                         <div class="hairline"></div>
                         <div class="mod_pay_divs mod_pay_divs2">
                            <p class="p_green">明天起</p>
                            <p>其他日期</p>
                         </div>
                         <div class="hairline"></div>
                      </div>
                      <div class="clears"></div>
                      <div class="mod_pay_data" id="mod_pay_data2">
                        <div class="mod_show mod_show2 mod_today" id="mod_today" style="display:block;" data-index='0'>
                          <div class="mod_pay_set">
                              <p class="mod_pay_ps mod_pay_ps2">{$ymd}(明天)</p>
                              <div class="hairline"></div>
                          </div>
                          <ul class="mod_pay_uls mod_pay_uls2" data-index="0">
                             <foreach name="book_goods_data['book_hour']" item="vo">
                               <li><span <eq name="key" value="0">class="spans"</eq>>{$vo}</span></li>
                            </foreach> 
                         </ul>
                         <div class="mpu_uBtn">
                            <span>下一步</span>
                         </div>
                        </div>
                        <div class="mod_show mod_show2 mod_otherdate" id="mod_otherdate" data-index='1'>
                          <div class="mod_pay_set">
                              <p>
                                <span>(点击选择日期)</span>
                                <select name="book_day" id="book_day2" clsss="book_day">
                                  <foreach name="book_goods_data['book_day_time']" item="vo">
                                    <option value="{$vo}">{$vo}</option>
                                 </foreach>
                                </select>
                              </p>
                              <div class="hairline"></div>
                          </div>
                          <ul class="mod_pay_uls mod_pay_uls2"  data-index="1">
                            <foreach name="book_goods_data['book_hour']" item="vo">
                               <li><span>{$vo}</span></li>
                            </foreach>
                         </ul>
                         <div class="mpu_uBtn">
                            <span>下一步</span>
                         </div>
                        </div>
                      </div>
                    </div>
                </div>
           </div>
         </div>     
    </div>
  </div>
<!--米-->
<input type="hidden" name="hide_m" id="hide_m" value="">
<input type="hidden" name="shop_deliverscope" id="shop_deliverscope" value="{$cart_data['shop_data']['shop_deliverscope']}">
<input type="hidden" name="shop_id" id="shop_id" value="{$cart_data['shop_data']['shop_id']}">
<input type="hidden" name="go_previous_shop_id" id="go_previous_shop_id" value="{$shop_id}">
<input type="hidden" name="normal_goods_data_art_ids" value="{$normal_goods_data_art_ids}" id="normal_goods_data_art_ids">
<input type="hidden" name="book_goods_data_art_ids" value="{$book_goods_data_art_ids}" id="book_goods_data_art_ids">
<input type="hidden" name="shop_lng" id="shop_lng" value="{$cart_data['shop_data']['shop_lng']}">
<input type="hidden" name="shop_lat" id="shop_lat" value="{$cart_data['shop_data']['shop_lat']}">
<!--现货和预定优惠券-->
<input type="hidden" name="normal_act_ticket" id="normal_act_ticket" value="{$normal_goods_data['goods_gift_data']['ticket_info']['ticket_id']}">
<input type="hidden" name="normal_goods_ticket" id="normal_goods_ticket" value="{$normal_goods_data['gift_data']['goods_ticket']}">
<!--配送方式-->
<input type="hidden" name="normal_deliver_type" id="normal_deliver_type" value="-1">
<!--预约时间-->
<input type="hidden" name="normal_time_ymd" id="normal_time_ymd" value="">
<input type="hidden" name="normal_time_hi" id="normal_time_hi" value="">

<!--现货配送方式按钮-->
<input type="hidden" name="button_id" value="-1" id="button_id">
<!--现货默认使用券ID-->
<input type="hidden" name="normal_ticket_id" id="normal_ticket_id" value="{$normal_goods_data['normal_ticket_id']}">
<!--预定券默认使用券ID-->
<input type="hidden" name="book_ticket_id" id="book_ticket_id" value="{$book_goods_data['book_ticket_id']}">
<input type="hidden" name="book_act_ticket" id="book_act_ticket" value="{$book_goods_data['goods_gift_data']['ticket_info']['ticket_id']}">
<input type="hidden" name="book_goods_ticket" id="book_goods_ticket" value="{$book_goods_data['gift_data']['goods_ticket']}">
<!--配送方式-->
<input type="hidden" name="book_deliver_type" id="book_deliver_type" value="-1">
<!--预约时间-->
<input type="hidden" name="book_time_ymd" id="book_time_ymd" value="">
<input type="hidden" name="book_time_hi" id="book_time_hi" value="">
<include file="Public/footer" />
<script type="text/javascript" src="__PUBLIC__/js/cartIndex.js"></script>
</body>
</html>