<!DOCTYPE html>
<html lang="en">
<head>
    <title>哈哈镜便捷购</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<include file="Public/header" />
	<link rel="stylesheet" href="__PUBLIC__/css/swiper.min.css">
	<style type="text/css">.hide_Divs{display: none;}#mod-container,#mod-box,.mod-cart,.iframes{width: 100%;height: 100%;}#container{width:100%;}.list-product-Lis .null_bgs{background:url('__PUBLIC__/image/dian_empty.png') no-repeat;background-size: 100% 100%;}</style><script type="text/javascript"> document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);</script>
</head>
<body>
	<div id="mod-container" class="mod-container modO clearfix">
		<div id="mod-box" class="mod-box pageview pageviewBox" style="display:block;">
			<header class="pub-header bgss-one">
                <span class="tap-action icon icon-sweep"></span>
                <div class="header-content ui-ellipsis">
                    <a href="/Address/index">
                       <div class="head_nav">
                           <img class="nav-img" src="__PUBLIC__/image/head-tlog.png" alt="">
                           <span class="nav-span ui-ellipsis">{$district}</span>
                           <img class="nav-img" src="__PUBLIC__/image/head-draw.png" alt="">
                       </div>
                    </a>
                </div>
                <span class="header-right boxRightTxt">
                    <a href="/System/message" class="blocks">
                        <img class="img blocks" src="__PUBLIC__/image/massage_icon.png" alt="">
                        消息
                    </a>
                </span>
            </header>
	    	<div id="list-main-one" class="main mains list-main-one">
	    		<div class="scroller">
	                <div class="box_banner" id="box_banner">
	                    <div class="banner swiper-container">
	                        <div class="swiper-wrapper" id="swiper-wrapper">
	                        	<foreach name="banner_list" item="vo">
	                            <div class="swiper-slide">
	                            	<eq name="vo.url" value="">

                                        <eq name="vo.arranged" value="0">
	                            		<a href="javasript:void(0);">
                                            <else/>
                                            <a href="/Category/index/shop_id/{$reserve_shop['shop_id']}/tongji/1">
                                            </eq>

	                            			<else/>
                                            <eq name="vo.arranged" value="0">
                                            <a href="/me/app_html_all?url={$vo.url}&name=优惠活动">
	                            			<!--<a href="{$vo.url}">-->
                                            <else/>
                                            <eq name="reserve_shop.shop_id" value="">
                                                <a href="javasript:void(0);" onclick="getclickinfo('附近没有预定店铺');">
                                             <else/>
                                             <a href="/Category/index/shop_id/{$reserve_shop['shop_id']}/tongji/1">
                                             </eq>
                                             </eq>
                                            </eq>
	                            		
	                            		<img src="{$vo.pic}" alt="" onerror="this.src='__PUBLIC__/image/banner_moren.png'">
	                            	</a>
                                </div>
	                            </foreach>
	                        </div>
	                        <div class="swiper-pagination"></div>
	                    </div>
	                </div>
                    <div class="rolling-navigation">
                        <span class="rolling-img blocks"><img src="__PUBLIC__/image/hahajing.jpg" alt=""></span>
                        <div class="rolling-size ui-ellipsis apple">
                            <ul class="apple_ul" style="margin-top: 0px;">
                                <foreach name="shop_get_promotion['txt_list']" item="vo">
                                    <li class="ui-ellipsis">
                                        <eq name="vo.type" value="1">
                                            <eq name="reserve_shop.shop_id" value="">
                                                <a href="javasript:void(0);" onclick="getclickinfo('附近没有预定店铺');">
                                             <else/>
                                             <a href="/Category/index/shop_id/{$reserve_shop['shop_id']}/tongji/1">
                                             </eq>
                                        <else/>
                                        <eq name="vo.url" value="">
                                            <a href="javasript:void(0);">
                                            <else/>
                                        <a href="/me/app_html_all?url={$vo.url}&name=优惠活动&sine={$openid}">
                                        </eq>
                                        </eq>
                                        {$vo.txt}</a>
                                    </li>
                                </foreach>
                            </ul>
                        </div>
                    </div>
	                <div class="box_list">
	                    <div class="box_list_btn">

                        	<foreach name="category_get_list" item="vo">
                            <if condition="$vo.url_type eq 1">
                            <a <eq name="vo.shop_id" value="0">href="javascript:void(0);" onclick="getclickinfo('您附近暂无网店');" <else/>href="/Category/index/cat_id/{$vo.cat_id}/son_cat_id/{$vo.cat_ids_str}/shop_id/{$vo.shop_id}" class="ahref" </eq>  shop-id="{$vo.shop_id}">
                                <img src="{$vo.pic}" alt="{$vo.cat_name}">
                                <p>{$vo.cat_name}</p>
                            </a>
                            <else/>
                            <a href="/Coupon/index" class="ahref">
                                <img src="{$vo.pic}" alt="{$vo.cat_name}">
                                <p>{$vo.cat_name}</p>
                            </a>
                            </if>
                            </foreach>
                        </div>
                    </div>
                    <neq name="offer_one_data" value="">
                    <div class="Box_sections flex clearfix">
                        <div class="secl">
                            <a href="{$offer_one_data[0]['url']}" {$offer_one_data[0]['alert']}>
                                <img src="{$offer_one_data[0]['offer_pic']}" alt="{$offer_one_data[0]['offer_id']}">
                            </a>
                        </div>
                        <div class="secr flexs">
                            <div class="secr_t flex">
                                <a class="flexs1 show" href="{$offer_one_data[1]['url']}" {$offer_one_data[1]['alert']}>
                                    <img src="{$offer_one_data[1]['offer_pic']}" alt="{$offer_one_data[1]['offer_id']}">
                                </a>
                                <a class="flexs show" href="{$offer_one_data[2]['url']}" {$offer_one_data[2]['alert']}>
                                    <img src="{$offer_one_data[2]['offer_pic']}" alt="{$offer_one_data[2]['offer_id']}">
                                </a>
                            </div>
                           <div class="secr_b flex">
                                 <a class="flexs1 show" href="{$offer_one_data[3]['url']}" {$offer_one_data[3]['alert']}>
                                    <img src="{$offer_one_data[3]['offer_pic']}" alt="{$offer_one_data[3]['offer_id']}">
                                </a>
                                <a class="flexs show" href="{$offer_one_data[4]['url']}" {$offer_one_data[4]['alert']}>
                                    <img src="{$offer_one_data[4]['offer_pic']}" alt="{$offer_one_data[4]['offer_id']}">
                                </a>
                           </div>
                        </div>
                    </div>
                </neq>
               <!--  <neq name="offer_two_data" value="">
                    <div class="Box_sections_img">
                        <div class="bases swiper-container">
                            <div class="swiper-wrapper" id="swiper-wrapper">
                                <foreach name="offer_two_data" item="vo">
                                <div class="swiper-slide">
                                    <a href="{$vo['url']}" {$vo['alert']}>
                                        <img src="{$vo['offer_pic']}" alt="{$vo['offer_id']}">
                                    </a>
                                </div>
                                </foreach>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>


                    </div>
                </neq> -->
                    <div class="generic-title">
                        <i class="line line-l"></i>
                        <span class="line-size"><!-- <img src="__PUBLIC__/image/icon-generic.png" alt=""> -->附近的店铺</span>
                        <i class="line line-r"></i>
                    </div>
                    <div class="box_near_shang">
                        <ul class="generic-list">
                            <foreach name="shop_near_list" item="vo">
                            <li class="generic-Boxli" data-ids="{$vo.shop_isvip}|{$vo.shop_id}|{$vo.shop_status}">
                                <div class="generic-item">
                                        <div class="generic-item-img location_href">
                                            <eq name="vo.shop_isvip" value="3">
                                                    <a href="javascript:void(0);" onclick="getclickinfo('代售点不能购买产品');">
                                                    <else/>
                                                        <eq name="vo.shop_status" value="1">
                                                        <a href="javascript:void(0);" onclick="getclickinfo('店铺关闭');">
                                                        <else/>
                                                            <a href="javascript:void(0);">
                                                        </eq>
                                                    </eq>
                                                    <!--判断-->
                                                        <eq name="vo.is_book" value="1">
                                                        <img class="icon_img" src="__PUBLIC__/image/yudi.png">
                                                        </eq>
                                                    <!--判断-->
                                                    <img class="image autos" src="{$vo.shop_avatar}" alt="" onerror="this.src='http://www.hahajing.com/userfiles/shop_avatar/_default3.png?ddd'"></a> 
                                        </div>
                                        <div class="generic-item_info location_href ui-ellipsis">
                                            <eq name="vo.shop_isvip" value="3">
                                                <a href="javascript:void(0);" onclick="getclickinfo('代售点不能购买产品');">
                                            <else/>
                                                <eq name="vo.shop_status" value="1">
                                                    <a href="javascript:void(0);" onclick="getclickinfo('店铺关闭');">
                                                    <else/>
                                                        <a href="javascript:void(0);">
                                                    </eq>
                                            </eq>
                                                <div class="lis-title ui-ellipsis">
                                                    <h2 class="ui-ellipsis">{$vo.shop_name}</h2>
                                                    <if condition="$vo.shop_isvip eq 1">
                                                        <img class="liimg" src="__PUBLIC__/image/bq-red.png" alt="">
                                                        <elseif condition="$vo.shop_isvip eq 2" />
                                                        <img class="liimg" src="__PUBLIC__/image/bq-gre.png" alt="">
                                                        <elseif condition="$vo.shop_isvip eq 3" />
                                                        <img class="liimg" src="__PUBLIC__/image/bq-yell.png" alt="">
                                                        <elseif condition="$vo.shop_isvip eq 4" />
                                                        <img class="liimg" src="__PUBLIC__/image/bq-vp.png" alt="">
                                                        <elseif condition="$vo.shop_isvip eq 5" />
                                                        <img class="liimg" src="__PUBLIC__/image/bq-redXing.png" alt="">
                                                    </if>
                                                </div>
                                                <if condition="$vo.score gt 0">
                                                <!--显示-->
                                                <div class="mens_details_x">
                                                   <div class="wrap_x" id='wrap_x{$key}' data-index="{$vo.score}" data-id="{$key}">
                                                        <div id="cur" class="cur" ></div>
                                                    </div>
                                                </div>
                                                <else/>
                                                <div class='zanwu'>暂无评价</div>
                                                </if>
                                                <p class="generic-item-sh">已售<span>{$vo.shop_totalordercount}</span></p>
                                            </a>
                                        </div>
                                        <div class="generic-item_mi">
                                            <a href="/shop/navigation?user={$user_current['district']}&shop={$vo.shop_address}&user_x={$user_current['x']}&user_y={$user_current['y']}&shop_x={$vo.shop_baidux}&shop_y={$vo.shop_baiduy}">
                                                <img src="__PUBLIC__/image/icon-d.png" alt="">
                                                <p>{$vo.distance}</p>
                                            </a>
                                       </div>                                  
                                </div>
                                <div class="generic-address">
                                    <span class="ui-ellipsis">{$vo.shop_address}</span>
                                </div>

                                <div class="generic-not-mention location_href">
                                    <if condition="$vo.shop_deliver_type eq 1">
                                        <p class="generic-carry generic-song 
                                        <if condition='($vo.shop_open_status eq 2) OR ($vo.shop_delivertime_status eq 2)'> generic-hui </if>">
                                            <span>送</span><b>{$vo.shop_updeliverfee}</b>元起送/配送费<b>￥{$vo.shop_deliverfee}</b>
                                        </p>
                                        
                                    </if>
                                    <p class="generic-carry generic-zi <if condition='$vo.shop_open_status eq 2'> generic-hui </if>">

                                        <if condition="$vo.shop_deliver_type eq 1">
                                        <span>自</span>在线下单，到店自提</p>
                                        <else/>
                                        <span>店</span>仅支持到店购买</p>
                                        </if>

                                        <if condition="$vo.shop_orderphone1 neq ''">
                                            <a href="tel:{$vo.shop_orderphone1}" class="generic-a blocks">
                                        <elseif condition="$vo.shop_orderphone2 neq ''" />
                                            <a href="tel:{$vo.shop_orderphone2}" class="generic-a blocks">
                                            <else/>
                                            <a href="javascript:void(0);" class="generic-a blocks">
                                        </if>
                                        <img src="__PUBLIC__/image/icon-phone.png" alt="">
                                        </a>
                                </div>
                            </li>
                            </foreach>
                            
                        </ul>
                    </div>
                    <div class="mbox-button">
                        <span class="mbox-bth">查看所有店铺</span>
                       <!--  <div class="mbox-guarantee">
                            <p>更好的为您提供服务</p>
                            <p>选择的店铺设置为默认店铺</p>
                        </div> -->
                    </div>
                </div> 
	    	</div>
		</div>
		<div id="mod-nearby" class="mod-nearby pageview pageviewBox">
			<header class="pub-header">
               <div class="header-content ui-ellipsis">
                   店铺列表
               </div>
               <span class="icon header-right tap-action" id="two_right">
                    <div><span class="ui-ellipsis"><b>北京</b>▼</span></div>
                </span>
               <ul class="main_list_ol" id="main_list_ol">
                    <li><a href="javascript:void(0);">星级VIP</a></li>
                    <li><a href="javascript:void(0);">vip 网店</a></li>
                    <li><a href="javascript:void(0);">普通店铺</a></li>
                    <li><a href="javascript:void(0);">代售点</a></li>
               </ul>
            </header>
            <div>
                <p class="adds_hides"><img src="/Public/image/dian_empty.png" alt="" onerror="this.src=\'http://www.hahajing.com/userfiles/shop_avatar/_default3.png?ddd\'"></p>
        	    	<div id="list-main-two" class="main main-bottom list-main-two" style="top:116px;">
        	    		<div class="scroller">
        	    		   <ul id="adds" class="list-product-Lis generic-list">
        	    		   </ul>
        	    		   <div id="pullUp" class="ub ub-pc c-gra">
        	    		       <div class="pullUpIcon"></div>
        	    		       <div class="pullUpLabel">上拉显示更多...</div>
        	    		   </div>
        	    		</div>
        	    	</div>
            </div>
		</div>
		<div id="mod-catrs" class="mod-catrs pageview pageviewBox">
		<iframe src="/Cart/index" frameborder="0" id="Myiframe" class="iframes"></iframe>
		</div>
		<div id="mod-my-shop" class="mod-my-shop pageview pageviewBox">
			<header class="pub-header">
                <div class="header-content ui-ellipsis">
                   我的收藏
                </div>
                <!-- <div class="list-main-four-html">
                    <div class="header-content ui-ellipsis">
                        <div class="head_box">
                          <p class="box_set">送货上门</p>
                          <p>到店自提</p>
                      	</div>
                    </div>
                </div> -->
            </header>
	    	<div id="list-main-four" class="main main-both list-main-four">
	    		<div class="scroller">
                    <ul class="generic-list" id="my-shop-ul">
                    </ul>
	    		</div>
                <div class="four_null"><img src="__PUBLIC__/image/dia_empty.png" alt=""></div>
	    	</div>
		</div>
		<div id="mod-me" class="mod-me pageview pageviewBox">
	    	<div id="list-main-five" class="main mains list-main-five">
	    		<div class="scroller">
    		       <div class="list_me_banner">
                       <p class="as">
                           <a href="/Me/install.html">
                               <img src="__PUBLIC__/image/me_config_icon.png" alt="">
                           </a>
                       </p>
                       <img src="__PUBLIC__/image/me_avatar_icon.png" alt="">
                      
                       <a>{$user_mobile}</a>
                       <div class="Vip_integral">
                               <img src="__PUBLIC__/image/vip/vip{$user_score['user_level']}.png" alt="">
                               <p>积分&nbsp;<span>{$user_score['user_score']}</span></p>
                       </div>
                   </div> 
    		       <div class="list_me_btn">
    		           <p>
    		            <a href="/Order/index.html">
    		                <img src="__PUBLIC__/image/me_order_Icon.png" alt="">
    		                <span>订单</span>
    		            </a>
    		           </p>
    		           <p>
    		            <a href="/Coupon/index.html">
    		                <img src="__PUBLIC__/image/me_coupo_Icon.png" alt="">
    		                <span>优惠券</span>
    		            </a>
    		           </p>
    		           <p>
    		            <a href="/System/message.html">
    		                <img src="__PUBLIC__/image/me_message_Icon.png" alt="">
    		                <span>消息</span>
    		            </a>
    		           </p>
    		       </div>
    		       <div class="list_me_main">
    		            <a href="/Address/index.html">
    		                <img src="__PUBLIC__/image/me_address_icon.png" alt="">
    		                <span>我的收货地址</span>
    		            </a>
    		            <a href="javascript:void(0);" id="My_shop">
    		                <img src="__PUBLIC__/image/me_shop_icon.png" alt="">
    		                <span>我收藏的店铺</span>
    		            </a>
    		            <a href="javascript:void(0);" class="share_firends">
    		                <img src="__PUBLIC__/image/me_share_icon.png" alt="">
    		                <span>分享哈哈镜好友</span>
    		            </a>
    		           <a href="/me/app_html_all?url=http://www.hahajing.com/app/join&name=招商加盟">
    		               <img src="__PUBLIC__/image/me_join_icon.png" alt="">
    		               <span>招商加盟</span>
    		           </a>
                        <a href="javascript:void(0)" id="clickkefu">
    		           <!-- <a href="javascript:void(0)" onclick="_MEIQIA._SHOWPANEL()">
    		           <a href="javascript:void(0)" onclick="mechatClick()">-->
    		                <img src="__PUBLIC__/image/me_onlineservice_icon.png" alt="">
    		                <span>在线客服</span>
    		            </a>
    		            <a href="/me/app_html_all?url=http://www.hahajing.com/app/join&name=招募精英">
    		                <img src="__PUBLIC__/image/me_recruit.png" alt="">
    		                <span>招募精英</span>
    		            </a>
    		            <a href="/me/app_html_all?url=http://www.hahajing.com/app/announcement&name=供应商云集">
    		                <img src="__PUBLIC__/image/me_supplier.png" alt="">
    		                <span>供应商云集</span>
    		            </a>
    		            <a href="/me/app_html_all?url=http://www.hahajing.com/app/help&name=帮助中心">
    		                <img src="__PUBLIC__/image/me_wen_icon.png" alt="">
    		                <span>帮助中心</span>
    		            </a>
    		       </div>
    		    </div>
	    	</div>
		</div>

 		<div class="pub-cart pub-cart-box" id="pub-cart-box">
            <ul class="pub-cart_menu">
                <li>
                    <p class="positions"><img src="__PUBLIC__/image/icon/a0.png" alt=""></p>
                    <span>首页</span>
                </li>
                <li>
                    <p><img src="__PUBLIC__/image/icon/b0.png" alt=""></p>
                    <span>附近店铺</span>
                </li>
                <li>
                    <p><img src="__PUBLIC__/image/icon/c0.png" alt=""></p>
                    <span>购物车</span>
                </li>
                <li>
                    <p><img src="__PUBLIC__/image/icon/d0.png" alt=""></p>
                    <span>我的店铺</span>
                </li>
                <li>
                     <p><img src="__PUBLIC__/image/icon/e0.png" alt=""></p>
                    <span>我的</span>
                </li>
            </ul>
        </div>

	    <div id="mod-selects" class="mod-select-city pageview">
	    	<header class="pub-header">
                <span class="tap-action icon icon-back">
                </span>
                <p class="header-content">
                    选择地址
                </p>
                <span class="header-right header-right-text">
                </span>
            </header>
            <div class="divs">热门城市</div>
            <div id="iscroll-select" class="main main-top" style="overflow: hidden;">
                <div class="scrollers">
                	<div class="boxsk">
                	    <div id="list-product" class="list-product">
                	        <div class="inpt">
                	            <form action="" method="get" id="fetche-voucher-form">
                	                <div class="input-wrap">
                	                    <input type="search" maxlength="11" id="user-phone" name="phone" autocomplete="off" placeholder="">
                	                    <div class="input-text">
                	                      城市/拼音
                	                    </div>
                	                </div>
                	            </form>
                	        </div>
                	        <div class="hot-city">
                	            <h2>热门城市</h2>
                	            <ul class="scrollers_Items">
		                            <foreach name="city_list_dat['host_city']" item="vo">
		                            <li class="item" data-city="{$vo['city_id']}" id="{$vo['city_id']}"><span>{$vo['city_name']}</span></li>
		                            </foreach>
		                        </ul>
                	        </div>
                	        <section id="_scroll" class="_scroll">
                	            <foreach name="city_list_dat_az" item="vo">
		                            <ul class="scrollers_Items">
		                                <h2>{$key}</h2>
		                                <foreach name="vo" item="val">
		                                <li class="item" data-city="{$val.city_id}">{$val.city_name}</li>
		                                </foreach>
		                            </ul>
		                        </foreach>
                	        </section>
                	    </div>
                	</div>
                </div>
            </div>
            <div class="shu">
				<foreach name="city_list_dat_az" item="vo">
			        <p>{$key}</p>
			    </foreach>
			</div>
	    </div>
	    <div id="mod-city-lists" class="mod-city-lists">
            <div class="mod-citylists">
            	<p class="aa">
        			<span>取消</span>
            		<a href="javascript:void(0);" class="mod-citylists_a">确定</a>
            	</p>
            	<div id="iscroll-selec-list">
	                <div class="scrollers">
	                	<input type="hidden" value="全城" data-index="0" id="hidden-index" city-id="" area-id="">
	               		<ul class="scrollers_mens">
	               		</ul>
	                </div>
            	</div>
            </div>
	    </div>
	    <div class="adds_selection pageview" id="adds_selections">
	    	<header class="pub-header">
                <span class="tap-action icon icon-back">
                </span>
                <div class="header-content">
                    <div class="head_box">
                      <p class="box_set">送货上门</p>
                      <p>到店自提</p>
                  </div>
                </div>
                <a class="header-right header-right-text" href="/Address/add.html" style="color:#ffffff">
                	+新建
                </a>
            </header>
	    	<div id="adds_selection" class="main main-top" style="overflow: hidden;">
	    		<div id="list-product" class="list-product">
	    		    <div class="addrlist_main">
	    		        <!--首页start-->
	    		        <div class="add_main" id="adds-main-one">
	    		            <div class="scrollers" id="addselect_mins">
	    		            </div>
	    		        </div>
	    		        <!--首页end-->
	    		        <!--购物车start-->
	    		        <div  class="add_main add_main_two"  id="adds-main-three">
	    		            <div class="scroller">
	    		                <h2 class="two_title" style="padding-top:10px;">自提点</h2>
	    		                <div class="four_null"><img src="__PUBLIC__/image/dia_empty.png" alt=""></div>
                                <div class="address_session">
                                </div>
	    		            </div>
	    		        </div>
	    		    </div>
	    		</div>
	    	</div>
	    </div>
        <div class="yans">
            <div class="yansBoxs">
                <p>您有未确认的订单</p><a class="alerta blocks" href="/Order/index/tal/1">立即查看</a>
            </div>
        </div>
	</div>
	<div class="Return-top"> 
	    <img src="__PUBLIC__/image/top_icon.png" alt="">
	</div>
    <div id="mod-overlay-mask" class="mod-overlay-mask">
    </div>
    <div id="mod-share" class="mod-share">
    	<img src="__PUBLIC__/image/share_bg.png" alt="">
    </div>
	<div id="allmap"></div>
	<input type="hidden" id="hide-lat" value="{$user_current['y']}" />
	<input type="hidden" id="hide-lng" value="{$user_current['x']}" />
    <input type="hidden" id="user_district" value="{$user_current['district']}">
	<input type="hidden" id="hide_id" val="">
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=wqBXfIN3HkpM1AHKWujjCdsi"></script> 
<script type="text/javascript" src="/min/index?f=__PUBLIC__/js/lib/swiper.min.js"></script>
<include file="Public/footer" />
<script type="text/javascript" src="/min/index?f=__PUBLIC__/js/index.js"></script>
<script type="text/javascript">
    $('.ahref').on('tap',function(){
        layer.closeAll();
        loaging.init('跳转中...');
    })
</script>
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[a] = m[a] || function() {
            (m[a].a = m[a].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = i + '?v=' + new Date().getUTCDate();
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '//static.meiqia.com/dist/meiqia.js', '_MEIQIA');
    _MEIQIA('entId', 645);
    _MEIQIA('withoutBtn');
    _MEIQIA('init');
    _MEIQIA('metadata', {
        name: '微信商城:{$user_mobile}', 
        '店铺名称': "{$meiqia_data['店铺名称']}",
        '店铺手机号': "{$meiqia_data['店铺手机号']}",
        '订单编号': "{$meiqia_data['订单编号']}",
        '订单状态': "{$meiqia_data['订单状态']}",
        '商品总金额': "{$meiqia_data['商品总金额']}",
        '实付金额': "{$meiqia_data['实付金额']}",
        '配送费': "{$meiqia_data['配送费']}",
        '优惠费用': "{$meiqia_data['优惠费用']}",
        '下单时间': "{$meiqia_data['下单时间']}",
        '店铺名称': "{$meiqia_data['店铺名称']}",
        '配送方式': "{$meiqia_data['配送方式']}",
        '收货地址': "{$meiqia_data['收货地址']}"
    });
</script>
<script>
    $('#clickkefu').on('tap',function(){
        _MEIQIA('showPanel');
    })
</script>
</body>
</thml>