<!DOCTYPE html>
<html lang="en">
<head>
    <title>哈哈镜便捷购</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <include file="Public/header" />
    <style type="text/css">#header-right-text{width:70px;font-size:15px;right:0px;text-align:center;}</style>
<body>
    <div id="mod-container" class="mod-container clearfix">
        <div id="mod_pay_coupons" class="mod_pay_coupons mod_pay_couponk pageview">
            <header class="pub-header bgss">
                <a class="tap-action icon icon-back" href="/Index/index.html"></a>
                <div class="header-content ">优惠券</div>
                <span class="header-right header-right-text" id="header-right-text">我的订单</span>
            </header>
            <if condition="count($coupon_data) gt 0">
            <div id="mod_coupons" class="main main-top mod_coupons" style="overflow: hidden;top:50px;">
                <div class="mod_coupons_main scrollers">
                    <div class="mod_coupons_input">
                       <input type="text" id="coupon" placeholder="请输入需绑定的第三方购买优惠券编码">
                       <span class="binds">绑&nbsp;定</span>
                    </div>
                    <div class="mod_coupons_t"> 
                        <a href="/me/app_html_all?url=http://www.hahajing.com/ticket/help&name=优惠券使用说明">
                          <img src="__PUBLIC__/image/coupson_icon.png" alt="">
                          优惠券使用说明
                        </a>
                    </div>
                    <div class="mod_coupnss">
                        <foreach name="coupon_data" item="vo">
                        <if condition="($vo.status eq 1) OR ($vo.status eq 0)">
                        <dl class="mod_coupons_dl modCoupons_rs">
                           <span>
                            <if condition="$vo.status eq 1">
                                <img src="__PUBLIC__/image/coupon_using.png" alt="使用中">
                                <elseif condition="$vo.status eq 2" />
                                <img alt="已使用" src="/Public/image/coupon_used.png">
                                <elseif condition="$vo.status eq 3" />
                                <img alt="已作废" src="/Public/image/coupon_expired.png">
                            </if>                      
                        </span>
                           <eq name="vo['status']" value="0">
                            <if condition="$vo.surplus lt 4">
                                <b>还剩{$vo.surplus}天过期</b>
                            </if>
                           </eq>
                            <dd>
                                <div class="mod_coupons_left <if condition="$vo.status eq '0'"> <if condition="$vo['ticket_price'] lt '100'"> left_yellow <elseif condition="$vo['discount_price'] eq '0'"/>left_skyblue<else/>left_red</if>
                                    <elseif condition="$vo.status eq 1" /><if condition="$vo['ticket_price'] lt '100'"> left_yellow <else/>left_red</if> <elseif condition="$vo.status eq 2" />left_gray <elseif condition="$vo.status eq 3" />left_gray</if>">
                                     <h2>
                                        <if condition="$vo['discount_price'] gt '0'">
                                        <span>￥{$vo.ticket_price}</span>
                                        </if>
                                        {$vo.act_name}</h2>
                                     <h3>使用区域：<span>{$vo.notes}</span></h3>
                                     <p>使用说明：{$vo.act_desc}</p>
                                </div>
                                <div class="mod_coupons_right">
                                    <p>有效期</p>
                                    <div>
                                        <p>{:date('Y/m/d',strtotime($vo['start_date']))}</p>
                                        <p>{:date('Y/m/d',strtotime($vo['end_date']))}</p>
                                    </div>
                                    <eq name="vo['status']" value="0">
                                    <a href="javascript:void(0);" ticket-id="{$vo['ticket_id']}" class="ticket_ida">立即使用 &gt;</a>
                                    <else/>
                                    <a href="javascript:void(0);" ticket-id="{$vo['ticket_id']}">立即使用 &gt;</a>
                                    </eq>
                                </div>
                            </dd>
                        </dl>
                    </if>
                        </foreach>
                    </div>
                    <!--查看所有开始-->
                    <div class="mod_coupnss hide" id="mod_coupnss">
                        <foreach name="coupon_data" item="vo">
                        <if condition="($vo.status eq 2) OR ($vo.status eq 3)">
                        <dl class="mod_coupons_dl">
                           <span>
                            <if condition="$vo.status eq 1">
                                <img src="__PUBLIC__/image/coupon_using.png" alt="使用中">
                                <elseif condition="$vo.status eq 2" />
                                <img alt="已使用" src="/Public/image/coupon_used.png">
                                <elseif condition="$vo.status eq 3" />
                                <img alt="已作废" src="/Public/image/coupon_expired.png">
                            </if>                      
                        </span>
                           <eq name="vo['status']" value="0">
                            <if condition="$vo.surplus lt 4">
                                <b>还剩{$vo.surplus}天过期</b>
                            </if>
                           </eq>
                            <dd>
                                <div class="mod_coupons_left <if condition="$vo.status eq '0'"> <if condition="$vo['ticket_price'] lt '100'"> left_yellow <elseif condition="$vo['discount_price'] eq '0'"/>left_skyblue<else/>left_red</if>
                                    <elseif condition="$vo.status eq 1" /><if condition="$vo['ticket_price'] lt '100'"> left_yellow <else/>left_red</if> <elseif condition="$vo.status eq 2" />left_gray <elseif condition="$vo.status eq 3" />left_gray</if>">
                                     <h2>
                                        <if condition="$vo['discount_price'] gt '0'">
                                        <span>￥{$vo.ticket_price}</span>
                                        </if>
                                        {$vo.act_name}</h2>
                                     <h3>使用区域：<span>{$vo.notes}</span></h3>
                                     <p>使用说明：{$vo.act_desc}</p>
                                </div>
                                <div class="mod_coupons_right">
                                    <p>有效期</p>
                                    <div>
                                        <p>{:date('Y/m/d',strtotime($vo['start_date']))}</p>
                                        <p>{:date('Y/m/d',strtotime($vo['end_date']))}</p>
                                    </div>
                                    <eq name="vo['status']" value="0">
                                    <a href="javascript:void(0);">立即使用 &gt;</a>
                                    <else/>
                                    <a href="javascript:void(0);">立即使用 &gt;</a>
                                    </eq>
                                </div>
                            </dd>
                        </dl>
                    </if>
                        </foreach>
                    </div>
                    <!--查看所有结束-->
                    <div class="shBtn">
                        查看所有
                    </div>
                </div>
             </div>
             <else/>
                <div style="display:block;" class="four_null"><img src="__PUBLIC__/image/conpous_null.png" alt=""></div>
            </if>
        </div>
    </div>
<include file="Public/footer" />
<script type="text/javascript">
    var myScroll,
        list = {probeType: 3,mouseWheel: true,click: true,scrollbars: false},
        shBtn = $('.shBtn'),
        hideDiv = $('#mod_coupnss'),
        modCoupons_rs = $('.modCoupons_rs');
    $(document).ready(function() {  
        $('#mod_pay_coupons').show();
        myScrol1 = new IScroll('#mod_coupons',list );
        clicks();
        function clicks(){
            $('.header-right-text').on(tapClick(),function(){
                loaging.close();
                loaging.init('加载中...');
                window.location.href="/Order/index.html";
            })
            $('.binds').on(tapClick(),function(){
                var coupon=$("#coupon").val();
                 $.ajax({
                        url: '/Coupon/coupon_bind',
                        type: 'POST',
                        dataType: 'json',
                        data: {ticket_code:coupon},
                        beforeSend:function(){
                          loaging.init('加载中...');
                        }, 
                        success:function(result) {
                          layer.closeAll();
                          if (result.result=='ok'){
                            loaging.btn(result.msg);
                            window.location.href='/coupon/index';
                          }else{
                            loaging.btn(result.msg);
                          }
                        },error:function(){
                          layer.closeAll();
                        } 
                    })
            })
            shBtn.on(tapClick(),function(){
                if(hideDiv.hasClass('hide')){
                    hideDiv.removeClass('hide');
                }else{
                    hideDiv.addClass('hide');
                }
                myScrol1.refresh();
            })
            modCoupons_rs.off(tapClick());
            modCoupons_rs.on(tapClick(),function(){
                var ticket_id = $(this).find('.ticket_ida').attr('ticket-id');
                if(ticket_id){
                    commoms.post_server('/Coupon/get_ticket_shop',{ticket_id:ticket_id},function(re){
                        if(re.result == 'ok'){
                            window.location.href='/Category/index/shop_id/'+re.msg;
                        }else{
                            loaging.close();
                            loaging.btn(re.msg);
                        }
                    },function(){
                        loaging.close();
                    },false);
                }
                
    })
        }
    });
</script>
</body>
</html>