<!DOCTYPE html>
<html lang="en">
<head>
    <title>哈哈镜</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <include file="Public/header" /><style type="text/css">.mod-trumpet{width: 100%;background: #EEFBE7;color: #9DD37B ;position: relative;height: 30px;line-height: 30px;}.mod-trumpet img{position: absolute;width: 23px;height: 23px;left: 15px;top:3.5px;}</style>
</head>
<body onload="loaded()">
    <div id="mod-container" class="mod-container clearfix">
        <div id="mod-menu" class="mod-menu mod-menus pageview" >
        <header class="pub-header">
            <a class="tap-action icon icon-back" href="javascript:history.back(-1)"></a>
            <div class="header-content ui-ellipsis" id="ui-ellipsis">
            </div>
            <div class="mens_details_nav" id="mens_details_nav2">
            </div>
        </header>
        <div class="main main-both">
            <div id="list-product" class="list-product iscroll-container" >
                <div id="scrollers" class="scrollers" style="padding-top:10px;border-bottom:0px;">
                    <ul class="scrollers_uls masonry clearfix" >
                    <input type="hidden" name="shop_id" value="{$shop_id}" id="shop_id">
                        <foreach name="data" item="val">
                        <li class="picCon masonry-brick" goods-id="{$val.goods_id}">
                           <div>
                              <a href="javascript:void(0)" class="img">
                                 <img class="image" src="{$val.goods_pic}" onerror="this.src='__PUBLIC__/image/moren.png'"/>

                                 <if condition="$val.goods_pungent eq '微辣' ">
                                 <p class="Imgs"><img src="/Public/image/pic1_icon.png" alt="" /></p>
                                </if>
                                <if condition="$val.goods_pungent eq '正辣' ">
                                 <p class="Imgs"><img src="/Public/image/pic2_icon.png" alt="" /></p>
                                </if>
                               </a>
                             <div class="tou">
                                 <div class="divP">
                                    <h3 class="goods_info">{$val.goods_name}<neq name="val.goods_pungent" value="">({$val.goods_pungent})</neq></h3>
                                        <p  class="goods_pre">
                                            <neq name="val.act_name" value="">
                                            <span>{$val.act_name}</span>
                                            </neq>
                                            <eq name="val.goods_stockout" value="1">
                                                <span class="grens">补货中</span>
                                            </eq>

                                        </p>
                                        <p class="goods_unit">{$val.goods_weight}
                                            <if condition="$val.goods_unit neq '' ">
                                                /
                                            </if>
                                            {$val['goods_unit']}</p>
                                        <p class="goods_price">￥<span>{$val.goods_price}</span></p>
                                        <neq name="val.goods_price" value="$val.goods_original_price">
                                            <s class="price_s">￥<span>{$val.goods_original_price}</span></s>
                                        </neq>
                                 </div>
                                 <eq name="val.goods_stockout" value="1">
                                 <a href="javascript:void(0);"  class="vote_green">
                                    <img src="/PUBLIC/image/JIA.png" alt="">
                                 </a>
                                 <else/>
                                 <a href="javascript:void(0);"  class="vote">
                                    <img src="__PUBLIC__/image/addGood.png" alt="">
                                 </a>
                                 </eq>
                                 
                               </div>
                             </div>
                        </li>
                        </foreach>
                    </ul>
                </div> 
            </div>
        </div>
        <div class="pub-cart shopping-empty">
            <span class="shopping-icon icon icon-cart-inner expand" id="submitspan">
                <span class="shopping-count" id="shopping-count">0</span>
            </span>
            <p class="shopping-price">
                <span>￥<b class="zprice">0.00</b></span>
                <span>{$shop_data['post_tip']['tip']}</span>
            </p>
            <div class="submit shopping-submit tap-action" data-tap="cartOk" id="submits" disabled="true">
                <a href="javascript:void(0);" style="color:#fff">
                    <span class="submit-text shopping-submit-text">
                        去结算
                    </span>
                </a>
            </div>
        </div>
    </div>
    </div>
    <div class="Return-top">
        <img src="__PUBLIC__/image/top_icon.png" alt="">
    </div>
<include file="Public/footer" />
<script type="text/javascript">
function loaded(){}
    var myScrol0;
        init();
        getajx();
        iscrollAll();
        clicks();
        flyElm();
        function init(){
            $('.pageview').eq(0).show();
            $('.Boxs>div').eq(0).show();
            var W=$('#scroller li').length*95;
            $('#scroller').css({'width':W+'px'});
        }
        function iscrollAll(){
            myScrol0 = new IScroll('#list-product', {preventDefault: false,probeType: 3,mouseWheel: true,click: true,scrollbars: false});
        }
        function getajx(){
            var shop_id=$('#shop_id').val();
            commoms.post_server('/Cart/get_num',{shop_id:shop_id},function(re){
                loaging.close();
                if(re.result == 'ok'){
                    var price = re.data.price;
                    $('.shopping-count').show();
                    $('.shopping-count').text(re.data.num);
                    $('.zprice').text(price.toFixed(2));
                }
            },function(){
                loaging.btn('错误');
            },false);
        }
        function clicks(){
            $('.Return-top').on(tapClick(),function(){
                myScroll.scrollTo(0,0,500);
            })
        }
        function flyElm(){
            var shop_id=$('#shop_id').val();
            $('.scrollers_uls li .vote_green').off(tapClick());
            $('.scrollers_uls li .vote_green').on(tapClick(),function(){
                loaging.prompts('补货中，敬请期待');
            });
            $('.scrollers_uls li .vote').off(tapClick());
            $('.scrollers_uls li .vote').on(tapClick(),function(){
            var img=$(this).parents('li').find('.img'),
                flyElm = img.clone().css('opacity', 0.8),
                goods_id=$(this).parents('li').attr('goods-id'),
                num=$('.shopping-count').text(),zong= $('.zprice').text(),
                price = $(this).parents('li').find('.goods_price').find('span').text(),
                price_s = $(this).parents('li').find('.price_s').find('span').text();
            $.ajax({
                url: '/Cart/add',
                type: 'POST',
                dataType: 'json',
                data: {shop_id:shop_id,goods_id:goods_id},
                success:function(data){
                    if(data.result == 'ok'){
                        $('body').append(flyElm);
                           flyElm.css({
                              'z-index': 9000,
                               'display': 'block',
                               'position': 'absolute',
                               'top': img.offset().top +'px',
                               'left': img.offset().left +'px',
                               'width': img.width() +'px',
                               'height': img.height() +'px'
                           });
                           flyElm.animate({
                               top:$('.pub-cart').offset().top,
                               left:$('.pub-cart').offset().left+40,
                               width:30,
                               height:30
                           },500, function() {
                              flyElm.remove();
                           });
                        $('.shopping-count').show();
                        num++;
                        zong=Number(price)+Number(zong);
                        $('#shopping-count').html(num);
                        $('.zprice').html(zong.toFixed(2));
                    }   
                },error:function(){
                    loaging.bth('添加失败')
                }
            })
        });
    $('#submitspan,#submits').on(tapClick(),function(){
        $.ajax({
             url:'/Address/is_ajax_login',
             type:"post",
             dataType:"json",
             success:function(result){
               loaging.close();
               if(result.result == 'ok'){
                   var shop_id=GetQueryString('shop_id'),
                       distribution=GetQueryString('distribution');
                   if($('.zprice').text() !=0 ){
                       if(distribution == 1){
                           location.href='/Cart/index/shop_id/'+shop_id+'?distribution=1';
                       }else{
                           location.href='/Cart/index/shop_id/'+shop_id+'?distribution=0';
                       }                    
                   }else{
                       loaging.prompts('请选择商品');
                   }
                 }else{
                     location.href='/user/login.html';
                     return false;
                 }
             },
             error:function(){
               loaging.close();
             }
           })
    })

}   
            
            
</script>
</body>

</html>