<!DOCTYPE html>
<html lang="en">
<head>
    <title>哈哈镜便捷购</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <include file="Public/header" />
    <script type="text/javascript">
        document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    </script>
    <style type="text/css">
        .hides{display: none;}
    </style>
</head>
<body>
    <div id="mod-container" class="mod-container clearfix">
        <div id="mod-linkgoods" class="mod-menulist mod-linkgoods pageview" style="display:block;">
            <header class="pub-header bgss">
                <a class="tap-action icon icon-back" href="javascript:history.go(-1);"></a>
                <div class="header-content">{$shop_data['shop_name']}</div>
                <a class="icon header-right tap-action" href="/Category/store_switch">
                    <img src="__PUBLIC__/image/icon-fang.png" alt="">
                </a> 
            </header>
            <div id="list-mainBox" class="main main-bottom list-mainBox">                                                
                <div class="scroller">
                    <input type="hidden" name="shop_id" value="{$shop_id}" id="shop_id">
                    <input type="hidden" name="distribution" value="{$distribution}" id="distribution">
                    <if condition="count($data) gt 0">
                    <ul id="adds" class="rightBox">
                        <foreach name="data" item="val">
                                <li class="mod-product-item  mod-product-item-portrait cf product-item-had-embossed  theme-spline" data-goodId="{$val.goods_id}" data-key="{$val.large_key}|{$val.in_key}|{$val.small_key}">
                                    <div class="product-image">
                                        <div class="product-image-img">
                                            <img src="{$val.goods_pic}" onerror="this.src='__PUBLIC__/image/moren.png'">
                                        </div>
                                    </div>
                                    <div class="product-meta-wrap">
                                        <div class="product-Box">
                                            <div class="product-name ui-ellipsis">{$val.goods_name}<neq name="val.goods_pungent" value="">({$val.goods_pungent})</neq></div>
                                            <div class="product-promotion">
                                                <eq name="val.goods_type" value="0">
                                                <span class="pm-img"><img src="__PUBLIC__/image/spjb.png" alt=""></span>
                                                </eq>
                                                <if condition="$val.goods_pungent eq '微辣' ">
                                                 <span class="pm-eimg"><img src="__PUBLIC__/image/pic1_icon.png" alt=""></span>
                                                </if>
                                                <if condition="$val.goods_pungent eq '正辣' ">
                                                 <span class="pm-eimg"><img src="__PUBLIC__/image/pic2_icon.png" alt=""></span>
                                                </if>

                                                <neq name="val.act_name" value="">
                                                    <span class="pm-intaglio">{$val.act_name}</span>
                                                </neq>
                                                <eq name="val.goods_stockout" value="1">
                                                    <span class="grens">补货中</span>
                                                </eq>

                                            </div>
                                        </div>
                                        <div class="product-price-wrap">
                                            <span class="product-price-current">¥<span id="price-yuan" class="price-yuan">{$val.goods_price}</span></span>
                                            <neq name="val.goods_price" value="$val.goods_original_price">
                                            <span class="product-price-market theme-grayfont"><span class="price-yuan">¥</span>{$val.goods_original_price}</span>
                                            </neq>
                                        </div>
                                        <div class="product-operates product-operates-111629">
                                            <span class="product-operates-item del tap-action <eq name="val.cart_goods_count" value=""> hides </eq>">
                                                <span class="inner theme-spline"><img src="__PUBLIC__/image/del_icon.png" alt=""></span>
                                            </span>
                                            <span class="product-operates-item amount amountInp <eq name="val.cart_goods_count" value=""> hides </eq>"><eq name="val.cart_goods_count" value="">0<else/>{$val['cart_goods_count']}</eq></span>
                                            <span class="product-operates-item add tap-action <eq name="val.goods_stockout" value="1">
                                                    add_disabled
                                                </eq>">
                                                <span class="inner theme-spline ">
                                                    <eq name="val.goods_stockout" value="1">
                                                    <img src="__PUBLIC__/image/addhui_icon.png" alt="">
                                                    <else/>
                                                    <img src="__PUBLIC__/image/add_icon.png" alt="">
                                                    </eq>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                </foreach>
                    </ul>
                    <else/>
                    <div class="rightBox_null"><img src="/Public/image/bg_nulls.png" alt="" /><p>未找到您要的商品</p></div>
                    </if>
                </div>                 
            </div>
            <div class="pub-cart add-put">
                <span class="shopping-icon icon icon-cart-inner expand" id="shopping-icons">
                    <span class="shopping-count" id="shopping-count" <neq name="sum_data.num" value=""> style="display:block" </neq>><eq name="sum_data.num" value="">0<else/>{$sum_data['num']}</eq></span>
                </span>
                <p class="shopping-price">
                    <span class="price-jia">￥<b class="zprice"><eq name="sum_data.price" value="">0.00<else/>{$sum_data['price']|sprintf='%.2f',###}</eq></b></span>
                    <if condition="$sum_data.price LT 200">
                        <span class="price-cha">还差<b><?php echo 200 - $sum_data['price']; ?></b>元包邮</span>
                        <else/>
                        <span class="price-cha">免邮费</span>
                    </if>
                    
                </p>
            </div>  
        </div>
    </div>
    <div class="hide_box" style="display:none;">
        <div class="rightBox_null"><img src="/Public/image/bg_nulls.png" alt="" /><p>未找到您要的商品</p></div>
    </div>
<include file="Public/footer" />
<script type="text/javascript">
    loaging.init('加载中...');
    window.onload=function(){
        loaging.close();
    }
$(function(){
    var myScrolls,iscroc={probeType: 3,mouseWheel: true,preventDefault:false,scrollbars: false,click:true},pullDownL,pullUpEl, pullUpL,Downcount = 0,Upcount = 0,loadingStep = 0;
        myScrolls = new IScroll('#list-mainBox', iscroc);
        var amountInp = $('#amountInp'),
            shopId = $('#shop_id').val(),
            cart_btn = $('#shopping-icons'),
            com_list = $('.mod-product-item'),
            price_cha = $('.price-cha'),
            inputs = $('input'), 
            cartdiv = $('.pub-cart'),
            cartIcon = $('#shopping-count'),
            distriDiv = $('#distribution');
            sessionStorage.setItem('add',"");
            sessionStorage.setItem('del',"");
            sessionStorage.setItem('cart',"");
        function sessions(add,fun){
            loaging.init('加载中...');
            if(sessionStorage.getItem(add) == 1 && sessionStorage.getItem(add)){
                setTimeout(function(){
                    fun();
                },500);
            }else{
                ajaxetil(fun,'/user/login.html');
            }
        }
        function flays(divs,inx,imgs,Enddivs){
            loaging.close();
            var img = divs.eq(inx).find('.product-image img'),
                flyElm = img.clone().css('opacity', 0.8);
                $('body').append(flyElm);
                flyElm.css({
                   'z-index': 9000,
                    'display': 'block',
                    'position': 'absolute',
                    'top': img.offset().top +'px',
                    'left': img.offset().left +'px',
                    'width': img.width() +'px',
                    'height': img.height() +'px'
                });
                flyElm.animate({
                    top:Enddivs.offset().top,
                    left:Enddivs.offset().left+40,
                    width:30,
                    height:30
                },500, function() {
                   flyElm.remove();
                });
        }
            add_del();
            function add_del(){
                inputs.blur();
                var adds = $('.mod-product-item .add'),
                    del = $('.mod-product-item .del');
                    /*加*/
                    adds.off(tapClick());
                    adds.on(tapClick(),function(){
                        if($(this).hasClass('add_disabled')){
                            loaging.close();
                            loaging.prompts('商品缺货中，敬请期待');
                            return false;
                        }
                        var ins = $(this).parents('.mod-product-item').index(),
                            that = $(this),
                            parents = $(this).parents('.mod-product-item'),
                            goods_id = parents.attr('data-goodid'),/*good_id*/
                            dels = that.siblings('.del'),
                            amountInp = that.siblings('.amountInp'),
                            amounsize = amountInp.text(),/*val*/
                            cartIconText = cartIcon.text(),/*价格*/
                            cur_price = parents.find('#price-yuan').text(),
                            zprice = $('.zprice');


                            sessions('add',add_fun);
                            function add_fun(){
                                sessionStorage.setItem('add',"1");
                                commoms.post_servers('/Cart/add',{shop_id:shopId,goods_id:goods_id},function(data){
                                    if(data.result =="ok"){
                                        loaging.close();
                                        var zong = parseInt(zprice.text())+parseInt(cur_price);
                                        amountInp.text(parseInt(amounsize)+1);/*中间的那个*/
                                        cartIcon.text(parseInt(cartIconText)+1);/*红色小点toFixed(2)*/
                                        zprice.text(zong.toFixed(2));/*总价*/
                                        /*邮费提醒显示*/
                                        if (zong.toFixed(2) >= 200) {
                                            price_cha.text('免运费');
                                        }else{
                                            var prices = 200 - parseInt(zong.toFixed(2));
                                            price_cha.text('还差'+prices+'元包邮');
                                        }
                                        flays($('.mod-product-item'),ins,$('.product-image img'),cartdiv);/*飞入购物车*/
                                        that.siblings().show();
                                        cartIcon.show();
                                    }else{
                                        loaging.close();
                                        loaging.btn(data.msg);
                                    }
                                },function(){
                                    loaging.close();
                                    loaging.bth('添加失败,请重新添加');
                                },false)
                               
                            }
                    })


                
                 /*减*/
                del.off(tapClick());
                del.on(tapClick(),function(){
    
                    var ins = $(this).parents('.mod-product-item').index(),
                        that = $(this),
                        parents = $(this).parents('.mod-product-item'),
                        goods_id = parents.attr('data-goodid'),/*good_id*/
                        amountInp = that.siblings('.amountInp'),
                        amounsize = amountInp.text(),/*val*/
                        cartIconText = cartIcon.text(),/*价格*/
                        cur_price = parents.find('#price-yuan').text(),
                        zprice = $('.zprice');

                        sessions('del',del_fun);
                        

                        function del_fun(){
                            
                            sessionStorage.setItem('del',"1");
                                 commoms.post_server('/Cart/add',{shop_id:shopId,goods_id:goods_id,count:"-1"},function(data){
                                    if(data.result =="ok"){
                                        var zong = parseInt(zprice.text())-parseInt(cur_price);
                                        amountInp.text(parseInt(amounsize)-1);/*中间的那个*/
                                        cartIcon.text(parseInt(cartIconText)-1);/*红色小点toFixed(2)*/

                                        zprice.text(zong.toFixed(2));/*总价*/

                                        that.siblings().show();
                                        cartIcon.show();

                                        /*邮费提醒显示*/
                                        if (zong.toFixed(2) >= 200) {
                                            price_cha.text('免运费');
                                        }else{
                                            var prices = 200 - parseInt(zong.toFixed(2));
                                            price_cha.text('还差'+prices+'元包邮');
                                        }
                                        if((parseInt(amounsize)-1) <= 0 ){
                                            loaging.close();
                                            amountInp.text(0);
                                            that.siblings('.amountInp').hide();
                                            that.hide();
                                            return false;
                                        }

                                        
                                     
                                    }else{
                                        loaging.close();
                                        loaging.btn(data.msg);
                                    }
                                },function(){
                                    loaging.close();
                                    loaging.bth('删除失败,请重新添加');
                                },false)
                               
                            }

                })

                cart_btn.off(tapClick());
                cart_btn.on(tapClick(),function(){
                    sessions('cart',cart_fun);
                    function cart_fun(){
                        loaging.close();
                        sessionStorage.setItem('cart',"1");
                        if(cartIcon.text()!=0){
                            location.href="/Cart/index/shop_id/"+shopId+"?distribution="+distriDiv.val();
                        }else{
                            loaging.close();
                            loaging.prompts('请选择商品');
                        }
                    }
                })
            }
    })

</script>
</body>
</html>