<!DOCTYPE html>
<html lang="en">
<head>
    <title>哈哈镜便捷购</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <include file="Public/header" />
    <script type="text/javascript">
        document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    </script>
</head>
<body>
    <div id="mod-container" class="mod-container clearfix">
        <div id="mod-switch" class="mod-switch pageview" style="display:block;">
            <header class="pub-header bgss">
                <a class="tap-action icon icon-back" href="/Category/index"></a>
                <div class="header-content">
                   选择店铺
                </div>
            </header>
            <div class="main addBox main-top" id="switch-product">
                <div class="scroller">
                	<div class="generic-title">
                	    <i class="line line-l"></i>
                	    <span class="line-size"><img src="__PUBLIC__/image/icon-generic.png" alt="">附近的店铺</span>
                	    <i class="line line-r"></i>
                	</div>
                	<div class="box_near_shang">
                	    <ul class="generic-list">
                            <foreach name="shop_near_list" item="vo">
                                <li class="generic-Boxli">
                                <div class="generic-item">
                                        <div class="generic-item-img">
                                            <eq name="vo.shop_isvip" value="3">
                                                    <a href="javascript:void(0);" onclick="getclickinfo('代售点不能购买产品');">
                                                    <else/>
                                                    <a href="/Category/index/shop_id/{$vo.shop_id}">
                                                    </eq>
                                                    <!--判断-->
                                                        <eq name="vo.is_book" value="1">
                                                        <img class="icon_img" src="__PUBLIC__/image/yudi.png">
                                                        </eq>
                                                    <!--判断-->
                                                    <img class="image autos" src="{$vo.shop_avatar}" alt="" onerror="this.src='http://www.hahajing.com/userfiles/shop_avatar/_default3.png?ddd'"></a> 
                                        </div>
                                        <div class="generic-item_info ui-ellipsis">
                                            <eq name="vo.shop_isvip" value="3">
                                                    <a href="javascript:void(0);" onclick="getclickinfo('代售点不能购买产品');">
                                                    <else/>
                                                    <a href="/Category/index/shop_id/{$vo.shop_id}">
                                                    </eq>
                                                <div class="lis-title ui-ellipsis">
                                                    <h2 class="ui-ellipsis">{$vo.shop_name}</h2>
                                                    <if condition="$vo.shop_isvip eq 1">
                                                        <img class="liimg" src="__PUBLIC__/image/bq-red.png" alt="">
                                                        <elseif condition="$vo.shop_isvip eq 2" />
                                                        <img class="liimg" src="__PUBLIC__/image/bq-gre.png" alt="">
                                                        <elseif condition="$vo.shop_isvip eq 3" />
                                                        <img class="liimg" src="__PUBLIC__/image/bq-yell.png" alt="">
                                                        <elseif condition="$vo.shop_isvip eq 4" />
                                                        <img class="liimg" src="__PUBLIC__/image/bq-vp.png" alt="">
                                                        <elseif condition="$vo.shop_isvip eq 5" />
                                                        <img class="liimg" src="__PUBLIC__/image/bq-redXing.png" alt="">
                                                    </if>
                                                </div>
                                                <if condition="$vo.score gt 0">
                                                <!--显示-->
                                                <div class="mens_details_x">
                                                   <div class="wrap_x" id='wrap_x{$key}' data-index="{$vo.score}" data-id="{$key}">
                                                        <div id="cur" class="cur" ></div>
                                                    </div>
                                                </div>
                                                <else/>
                                                <div class='zanwu'>暂无评价</div>
                                                </if>
                                                <p class="generic-item-sh">已售<span>{$vo.shop_totalordercount}</span></p>
                                            </a>
                                        </div>
                                        <div class="generic-item_mi">
                                            <a href="/shop/navigation?user={$user_current['district']}&shop={$vo.shop_address}&user_x={$user_current['x']}&user_y={$user_current['y']}&shop_x={$vo.shop_baidux}&shop_y={$vo.shop_baiduy}">
                                                <img src="__PUBLIC__/image/icon-d.png" alt="">
                                                <p>{$vo.distance}</p>
                                            </a>
                                       </div>                                  
                                </div>
                                <div class="generic-address">
                                    <span class="ui-ellipsis blocks">{$vo.shop_address}</span>
                                </div>

                                <div class="generic-not-mention">
                                    <if condition="$vo.shop_deliver_type eq 1">
                                        <p class="generic-carry generic-song 
                                        <if condition='($vo.shop_open_status eq 2) OR ($vo.shop_delivertime_status eq 2)'> generic-hui </if>">
                                            <span>送</span><b>{$vo.shop_updeliverfee}</b>元起送/配送费<b>￥{$vo.shop_deliverfee}</b>
                                        </p>
                                        
                                    </if>
                                    <p class="generic-carry generic-zi <if condition='$vo.shop_open_status eq 2'> generic-hui </if>">

                                        <if condition="$vo.shop_deliver_type eq 1">
                                        <span>自</span>在线下单，到店自提</p>
                                        <else/>
                                        <span>店</span>仅支持到店购买</p>
                                        </if>

                                        <if condition="$vo.shop_orderphone1 neq ''">
                                            <a href="tel:{$vo.shop_orderphone1}" class="generic-a blocks">
                                        <elseif condition="$vo.shop_orderphone2 neq ''" />
                                            <a href="tel:{$vo.shop_orderphone2}" class="generic-a blocks">
                                        <else/>
                                            <a href="javascript:void(0);" class="generic-a blocks">
                                        </if>
                                        <img src="__PUBLIC__/image/icon-phone.png" alt="">
                                        </a>
                                </div>
                            </li>
                            </foreach>
                            
                        </ul>
                	</div>
                </div>
            </div> 
        </div>
    </div>
<include file="Public/footer" />
<script type="text/javascript">
	$(function(){
		var myScrol0,
		    iscroc={probeType: 3,mouseWheel: true,preventDefault:false,scrollbars: false,click:true};
		    myScrol0 = new IScroll('#switch-product', iscroc);
            score('switch-product','wrap_x');  
	})
</script>
</body>
</html>