<!DOCTYPE html>
<html lang="en">
<head>
    <title>哈哈镜</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <include file="Public/header" />
<body>
    <form action="/Order/add" id="formid" method="post" >
    <div id="mod-container" class="mod-container clearfix">
        <div id="mod_confirm_order" class="mod_confirm_order pageview">
            <header class="pub-header">
                <span class="tap-action icon icon-back" data-tap="!back"></span>
                <div class="header-content ">确认订单</div>
                <span class="header-right header-right-text"></span>
            </header>
            <input type="hidden" name="shop_delivertime" id="shop_delivertime" value="{$shop_data['shop_delivertime']}">
            <div id="mod_confirm-container" class="main main-top" style="overflow: hidden;top:50px;">
                <div style="padding-bottom:60px;" class="scrollers">
                    <div class="receive ui-graybg block">
                        <div class="addr tap-action" data-tap="selectAddr">
                            <table class="addr-table" width="100%">
                                <tbody>
                                  <input type="hidden" name="cart_ids" value="{$cart_ids}">
                                  <input type="hidden" name="address_id" value="{$data['address_info']['address_id']}">
                                  <input type="hidden" name="shop_id" value="{$shop_id}">
                                  <input type="hidden" name="act_ticket" value="{$act_ticket}">
                                  <input type="hidden" name="user_name" value="{$data['address_info']['username']}">
                                  <input type="hidden" name="telphone" value="{$data['address_info']['phone']}">
                                  <input type="hidden" name="ticket_str" value="{$ticket_str}">
                                  <eq name="deliver_type" value="0">
                                    <tr>
                                        <th width="65px">
                                            收&nbsp;&nbsp;货&nbsp;&nbsp;人
                                        </th>
                                        <td>
                                            {$data['address_info']['username']}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            电<span class="ui-hidden">中中</span>话
                                        </th>
                                        <td>
                                            {$data['address_info']['phone']}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            收货地址
                                        </th>
                                        <td>
                                            {$data['address_info']['area']}&nbsp;{$data['address_info']['address']}
                                        </td>
                                    </tr>
                                    </eq>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <eq name="deliver_type" value="0">              
                    <div class="confrim_goods_distr">
                        <span>支付和配送</span>
                        <div class="confrim_goods_size">
                          <input type="hidden" name="type_id" value="{$data['pay_type'][0]['type_id']}">
                            <p>{$data['pay_type'][0]['type_name']}</p>
                            <p class="confrim_time">即时送货</p>
                            <input type="hidden" value="" name="hide-times">
                        </div>
                    </div>
                  </eq>
                    <div class="confrim_Leave">
                      <span>请留言</span>
                      <div class="confrim_Leave_right">
                          <textarea name="message" id="textarea" maxlength="30"  placeholder="您还有什么要求或让我给你带过去的商品(如:带盒香烟，口香糖~~)"></textarea>
                      </div>
                    </div>
                    <div class="confrim_goods_coupons">
                        <span class="coupons_title">优惠券</span>
                        <img src="__PUBLIC__/image/coupons_icon.png" alt="">
                        <div class="goods_ps">
                            <p>{$ticket_str}</p>
                            <span><b>{$ticket_str_buttom}</b></span>
                        </div>
                        <input type="hidden" id="hideprices" value="0">
                        <input type="hidden" id="voucherId" value="0">
                    </div>
                    <input type="hidden" name="goods_amount" id="goods_amounts" value="{$data['goods_amount']}">
                    <input type="hidden" name="post_fee" id="post_fees" value="{$data['post_fee']}">
                    <div class="confrim_goods_price">
                        <div class="total_amount">
                            <span>商品金额：</span>
                            <p>￥<b>{$data['goods_amount']}</b>元</p>
                        </div>
                        <div>
                            <span>配送金额：</span>
                            <p class="peisong">￥<b>{$data['post_fee']}</b>元</p>
                        </div>
                        <div class="Discount_price">
                            <span>优惠金额：</span>
                            <p class="p1">-￥<b>0.00</b>元</p>
                        </div>
                        <div class="amount_payable">
                            <span>应付金额：</span>
                            <p class="amount_price">￥<b>{$data['total_amount']}</b>元</p>
                            <input type="hidden" id="hide-amount" value="{$data['total_amount']}">
                        </div>
                        <div>
                            <span>商品总数：</span>
                            <p id="privez"><b>{$goods_count}</b>件</p>
                        </div>
                        <h2>{$data['tips']}</h2>
                    </div>
                </div>
            </div>
            <div class="pub-cart shopping-empty">
                <span class="shopping-icon shopping-icon-size" id="size_price">
                    应付金额：￥<b>{$data['total_amount']}</b>
                </span>
                <input type="hidden" id="hide-amounts" value="{$data['total_amount']}">
                <div class="submit shopping-submit tap-action" data-tap="cartOk" disabled="true" id="goods_submit">
                      <input type="button" value="去结算" class="styleinput buttons submit-text shopping-submit-text">
                      <!-- <span class="submit-text shopping-submit-text">
                          去结算
                      </span> -->
                  
                </div>
            </div>
        </div>
        <div id="mod_pay_distribution" class="mod_pay_distribution pageview">
            <header class="pub-header">
                <span class="tap-action icon icon-back" data-tap="!back"></span>
                <div class="header-content ">支付和配送</div>
            </header>
            <div class="mod_pay_main">
              <div class="mod_way">
                  <h2>支付方式</h2>
                  <div class="hairline"></div>
                  <div class="mod_pay_way">
                      <div class="mod_pay_l">
                        <input type="radio" name="radio" checked="checked" class="checks">
                        <span>货到付款</span>
                      </div>
                  </div>
                  <div class="hairline"></div>
                  <h2>配送方式</h2>
                  <div class="hairline"></div>
                  <input type="hidden" value="0" id="hide_input" name="deliver_type"> 
                  <div class="mod_dir_way">
                      <div class="mod_dir_way_one">
                        <input type="radio" name="radios" checked="checked" class="checks" data-index='0' value="即时送货">
                        <span>即时送货</span>
                      </div>
                      <div class="mod_dir_way_two" >
                          <input type="radio" name="radios" value="到店自提"  data-index='1'>
                          <span>到店自提</span>
                      </div>
                      <div class="mod_dir_way_three">
                         <input type="radio" name="radios" data-index='2' value="预约送货">
                          <span>预约送货</span>
                      </div>
                  </div>
              </div>
            </div>
            <div>
              


            <div id="mod_pay_dist" class="main main-top" style="overflow: hidden;">
               <div class="scrollers">
                    <div class="mod_pay_hide" >
                        <div>
                          <div class="mod_pay_bth">
                             <p>送货时间</p>
                             <div class="hairline"></div>
                             <div class="mod_pay_divs">
                                <p class="p_green">今天</p>
                                <p>其他日期</p>
                             </div>
                             <div class="hairline"></div>
                          </div>
                          
                          <div class="clears"></div>
                          <div class="mod_pay_data" id="mod_pay_data">
                            <div class="mod_show mod_today" id="mod_today" data-index='0'>
                              <div class="mod_pay_set">
                                  <p class="mod_pay_ps">{:date('Y-m-d',time())}</p>
                                  <div class="hairline"></div>
                              </div>
                              <ul class="mod_pay_uls" data-index="0">
                                <foreach name="time_arr" item="vo">
                                   <li><span>{$vo}</span></li>
                                </foreach>
                             </ul>
                            </div>
                            <div class="mod_show mod_otherdate" id="mod_otherdate" data-index='1'>
                              <div class="mod_pay_set">
                                  <p>
                                    <span>(点击选择日期)</span>
                                    <select name="book_day" id="book_day" clsss="book_day">
                                      <foreach name="data['book_day']" item="vo">
                                        <option value="{$vo}">{$vo}</option>
                                     </foreach>
                                    </select>
                                  </p>
                                  <div class="hairline"></div>
                              </div>
                              <ul class="mod_pay_uls"  data-index="1">
                                <foreach name="data['book_hour']" item="vo">
                                   <li><span>{$vo}</span></li>
                                </foreach>
                             </ul>
                            </div>
                          </div>
                        </div>
                    </div>
               </div>
             </div>


            </div>
        </div>
        <div id="mod_pay_coupons" class="mod_pay_coupons paycoupons pageview">
            <header class="pub-header">
                <span class="tap-action icon icon-back" data-tap="!back"></span>
                <div class="header-content ">优惠券</div>
            </header>
            <div id="mod_coupons" class="main main-top mod_coupons">
              <div class="coupon_iscroll">
                <!--five-->
                <div class="coupon_div coupon_five" id="coupon_five" data="0">
                  <foreach name="ticket_data['daijin']" item="vo">
                    <dl class="mod_coupons_dl <eq name='vo.dump_gift' value='1'>dl_test</eq>" ticket-id="{$vo.ticket_id}">
                        <dt class="mod_coupons_input">
                           <input type="checkbox" name="checkboxone" data-alert="{$vo['ticket_tip']}">
                        </dt>
                        <dd>
                            <div class="mod_coupons_left <if condition="$vo['ticket_price'] lt '100'"> left_yellow <elseif condition="$vo['discount_price'] eq '0'"/>left_skyblue<else/>left_red</if>">
                                <h2>￥<span class="sprice">{$vo.ticket_price}</span><b>{$vo.act_name}</b></h2>
                                <h3>使用区域：<span>{$vo.notes}</span></h3>
                                <p>使用说明：{$vo.act_desc}</p>
                                <input type="hidden" name="ticket_id" value="{$vo.ticket_id}" class="ticket_id" ticket-id="{$vo.ticket_id}" data-dump-gift="{$vo.dump_gift}">
                            </div>
                            <div class="mod_coupons_right">
                              <br/>
                                <p>有效期</p>
                                <p>{:date('Y/m/d',strtotime($vo['start_date']))}</p>
                                <p>{:date('Y/m/d',strtotime($vo['end_date']))}</p>
                                
                            </div>
                        </dd>
                    </dl>
                    </foreach>
                </div>
                <!--three-->
                <div class="coupon_div coupon_three" id="coupon_three" data="0">
                  <foreach name="ticket_data['duihuan']" item="vo">
                   <dl class="mod_coupons_dl" ticket-id="{$vo.ticket_id}">
                        <dt class="mod_coupons_input">
                           <input type="checkbox" name="checkboxtwo" <if condition="$vo['is_check'] eq '1'"> class="checks" checked</if>  alet="{$vo['ticket_tip']}">
                        </dt>
                        <dd>
                            <div class="mod_coupons_left left_red">
                                <h2>￥<span class="sprice">{$vo.ticket_price}</span><b>{$vo.act_name}</b></h2>
                                <h3>使用区域：<span>{$vo.notes}</span></h3>
                                <p>使用说明：{$vo.act_desc}</p>
                                <input type="hidden" name="ticket_id" value="{$vo.ticket_id}" class="ticket_id" ticket-id="{$vo.ticket_id}" data-dump-gift="{$vo.dump_gift}">
                            </div>
                            <div class="mod_coupons_right">
                              <br/>
                                <p>有效期</p>
                                <p>{:date('Y/m/d',strtotime($vo['start_date']))}</p>
                                <p>{:date('Y/m/d',strtotime($vo['end_date']))}</p>
                                
                            </div>
                        </dd>
                    </dl>
                    </foreach>

                </div>
                <!--beer-->
                <div class="coupon_div coupon_beer" id="coupon_beer" data="0">
                  <foreach name="ticket_data['shiwu']" item="vo">
                   <dl class="mod_coupons_dl" ticket-id="{$vo.ticket_id}">
                        <dt class="mod_coupons_input">
                           <input type="checkbox" name="checkboxthree" <if condition="$vo['is_check'] eq '1'"> class="checks" checked</if> alet="{$vo['ticket_tip']}">
                        </dt>
                        <dd>
                            <div class="mod_coupons_left left_skyblue">
                                <h2><span class="sprice"></span><b>{$vo.act_name}</b></h2>
                                <h3>使用区域：<span>{$vo.notes}</span></h3>
                                <p>使用说明：{$vo.act_desc}</p>
                                <input type="hidden" name="ticket_id" value="{$vo.ticket_id}" class="ticket_id" ticket-id="{$vo.ticket_id}" data-dump-gift="{$vo.dump_gift}">
                            </div>
                            <div class="mod_coupons_right">
                              <br/>
                                <p>有效期</p>
                                <p>{:date('Y/m/d',strtotime($vo['start_date']))}</p>
                                <p>{:date('Y/m/d',strtotime($vo['end_date']))}</p>
                            </div>
                        </dd>
                    </dl>
                     </foreach>
                </div>
              </div>              
             </div>
        </div>
    </div>

<input type="hidden" name="is_voucher_check" value="0" money="0">
<input type="hidden" name="ticket_id" id="ticket_idss" value="">
<input type="hidden" name="act_ticket" id="act_ticketss" value="">
<input type="hidden" name="goods_ticket" id="goods_ticketss" value="">
<input type="hidden" name="pay_type" value="40">
<input type="hidden" name="book_time" value="">
</form>
<include file="Public/footer" />
<script type="text/javascript" src="/min/index?f=__PUBLIC__/js/confirm.js"></script>
</body>
</html>