<!DOCTYPE html>
<html lang="en">
<head>
    <title>哈哈镜</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <include file="Public/header" />
    <script type="text/javascript">
        document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    </script>
<body>
<div id="mod-container" class="mod-container clearfix">
        <div id="mod_my_order" class="mod_my_order pageview">
            <header class="pub-header">
                <span class="tap-action icon icon-back" data-tap="!back"></span>
                <div class="header-content ">我的订单</div>
            </header>
            <div class="four_null"><img src="__PUBLIC__/image/order_null.png" alt=""></div>
            <div id="mod_order" class="main main-top">
               <div id="scrollers" class="">
                   <div id="adds" class="list-product-Lis">
                   </div>
                   <div id="pullUp" class="ub ub-pc c-gra">
                       <div class="pullUpIcon"></div>
                       <div class="pullUpLabel">上拉显示更多...</div>
                   </div>
               </div>
            </div>
        </div>
    </div>
<include file="Public/footer" />
<script type="text/javascript" src="/min/index?f=__PUBLIC__/js/order.js"></script>
</body>
</html>