<!DOCTYPE html>
<html lang="en">
<head>
    <title>哈哈镜便捷购</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
  <include file="Public/header" />
<body onload="loaded()">
  <div id="mod-container" class="mod-container clearfix">
      <div id="mod_my_order" class="mod_my_order pageview">
          <header class="pub-header">
              <a class="tap-action icon icon-back" href="/Index/index.html"></a>
              <div class="header-content ">我的订单</div>
          </header>
          <div id="mod_order" class="main main-top mod_order" style="overflow: hidden;top:50px;">
             <div class="mod_order_main">
                  <div class="order_box">
                      <a href="/Order/state.html">
                          <div class="order_box_title">
                              <p><img src="__PUBLIC__/image/me_shop.png" alt=""><span>惠尔佳商店-VIP</span><img src="__PUBLIC__/image/me_arrow_icon.png" alt=""></p>
                              <p>新订单</p>
                          </div>
                          <div class="order_box_goods">
                              <div class="order_box_left">
                                   <div class="order_img_left">
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                   </div>
                              </div>
                          </div>
                      </a>
                      <div class="order_box_num">
                         <div>
                            <span>商品数量：</span>
                            <p>31件</p>
                         </div>
                         <div>
                            <span>赠品数量：</span>
                            <p>31件</p>
                         </div>
                         <div>
                            <span>合计数量：</span>
                            <p>31件</p>
                         </div>
                      </div>
                      <div class="order_box_bth">
                        <p>订单金额：<span>64.00</span>元</p>
                        <div><p class="sh">删除</p></div>
                      </div>  
                  </div>
                  <div class="order_box">
                      <a href="/Order/state.html">
                          <div class="order_box_title">
                              <p><img src="__PUBLIC__/image/me_shop.png" alt=""><span>惠尔佳商店-VIP</span><img src="__PUBLIC__/image/me_arrow_icon.png" alt=""></p>
                              <p>新订单</p>
                          </div>
                          <div class="order_box_goods">
                              <div class="order_box_left">
                                   <div class="order_img_left">
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                   </div>
                              </div>
                          </div>
                      </a>
                      <div class="order_box_num">
                         <div>
                            <span>商品数量：</span>
                            <p>31件</p>
                         </div>
                         <div>
                            <span>赠品数量：</span>
                            <p>31件</p>
                         </div>
                         <div>
                            <span>合计数量：</span>
                            <p>31件</p>
                         </div>
                      </div>
                      <div class="order_box_bth">
                        <p>订单金额：<span>64.00</span>元</p>
                        <div><p class="sh">去评价</p><p class="sh">删除</p></div>
                      </div>  
                  </div>
                  <div class="order_box">
                      <a href="/Order/state.html">
                          <div class="order_box_title">
                              <p><img src="__PUBLIC__/image/me_shop.png" alt=""><span>惠尔佳商店-VIP</span><img src="__PUBLIC__/image/me_arrow_icon.png" alt=""></p>
                              <p>新订单</p>
                          </div>
                          <div class="order_box_goods">
                              <div class="order_box_left">
                                   <div class="order_img_left">
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                   </div>
                              </div>
                          </div>
                      </a>
                      <div class="order_box_num">
                         <div>
                            <span>商品数量：</span>
                            <p>31件</p>
                         </div>
                         <div>
                            <span>赠品数量：</span>
                            <p>31件</p>
                         </div>
                         <div>
                            <span>合计数量：</span>
                            <p>31件</p>
                         </div>
                      </div>
                      <div class="order_box_bth">
                        <p>订单金额：<span>64.00</span>元</p>
                        <div><p class="qu">取消订单</p></div>
                      </div>  
                  </div>
                  <div class="order_box">
                      <a href="/Order/state.html">
                          <div class="order_box_title">
                              <p><img src="__PUBLIC__/image/me_shop.png" alt=""><span>惠尔佳商店-VIP</span><img src="__PUBLIC__/image/me_arrow_icon.png" alt=""></p>
                              <p>新订单</p>
                          </div>
                          <div class="order_box_goods">
                              <div class="order_box_left">
                                   <div class="order_img_left">
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                     <p><img src="__PUBLIC__/image/app_logo.png" alt=""></p>
                                   </div>
                              </div>
                          </div>
                      </a>
                      <div class="order_box_num">
                         <div>
                            <span>商品数量：</span>
                            <p>31件</p>
                         </div>
                         <div>
                            <span>赠品数量：</span>
                            <p>31件</p>
                         </div>
                         <div>
                            <span>合计数量：</span>
                            <p>31件</p>
                         </div>
                      </div>
                      <div class="order_box_bth">
                        <p>订单金额：<span>64.00</span>元</p>
                        <div><p class="qu">取消订单</p></div>
                      </div>  
                  </div>
             </div>
           </div>
      </div>
      <div id="mod_order_state" class="mod_order_state  pageview" >
          <header class="pub-header">
              <span class="tap-action icon icon-back" data-tap="!back"></span>
              <div class="header-content ">
                  <div class="head_box">
                      <p>订单状态</p>
                      <p>订单详情</p>
                  </div>
              </div>
          </header>
          <div class="main main-top" style="overflow: hidden;bottom:0px;">
              <div id="list-product-state" class="list-product-state">
                  <div class="list-main">
                      <div class="list-state-one" id="list-state-one">
                          <div>
                   
                          </div>
                      </div>
                      <div class="list-state-two" id="list-state-two">
                          <div>
                             
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<include file="Public/footer" />
<script type="text/javascript">
  var myScroll,myScrol2,myScrol3,myScrol4,$Menups=$('.head_box p');
  function loaded(){
    } 
   $(document).ready(function() { 
        init();
        iscrollAll();
        function init(){
            $('.mod_my_order').show(); 
            $('.list-main>div').eq(0).show();   
            $Menups.eq(0).addClass('box_set');  
        }
        function iscrollAll(){
          myScrol1 = new IScroll('#mod_order', {probeType: 3,mouseWheel: true,click: true,scrollbars: false});
          myScrol2 = new IScroll('#list-state-one', {probeType: 3,mouseWheel: true,click: true,scrollbars: false});
          myScrol3 = new IScroll('#list-state-two', {probeType: 3,mouseWheel: true,click: true,scrollbars: false});
        }  
    })
    
</script>
</body>
</html>