<!DOCTYPE html>
<html lang="en">
<head>
    <title>哈哈镜</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
     <script type=text/javascript>
        var docElement = document.documentElement;
        var clientWidthValue = docElement.clientWidth > 480 ? 480 : docElement.clientWidth;
        docElement.style.fontSize = 10*(clientWidthValue/320) + 'px';
    </script>
    <include file="Public/header" />
</head>
<body> 
    <div id="mod-container" class="mod-container clearfix">
        <div id="mod_order_state" class="mod_order_state mostate pageview" style="display:block;">
            <header class="pub-header">
                <span class="tap-action icon icon-back" data-tap="!back"></span>
                <div class="header-content ">
                    <div class="head_box">
                        <p class="box_set">订单状态</p>
                        <p>订单详情</p>
                    </div>
                </div>
            </header>
            <div class="main main-both mainTops">
                <div id="list-product-state" class="list-product-state">
                    <div class="list-main scrollers">
                        <div class="list-state-one" id="list-state-one">
                            <div class="state-one-main">
                               <div class="about4">
                                    <div class="about4_main">
                                        <div class="line"></div>
                                        <ul>
                                            <foreach name="order_log" item="vo">
                                            <li>
                                                <div class="bgs">{:date('H:i',$vo['add_time'])}</div>
                                                <div>
                                                    <p>{$vo.log_info}</p>
                                                    <if condition="$order_log[$key+1] eq ''">
                                                        <p>订单编号:{$vo.order_no}</p>
                                                    </if>
                                                </div>
                                            </li>
                                            </foreach>
                                        </ul>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="list-state-two" id="list-state-two">
                            <div>
                                <ul class="order-state-ul">
                                    <li>
                                    <input type="hidden" name="order_no" value="{$order_detail.order_no}">
                                    <input type="hidden" name="order_id" value="{$order_detail.order_id}">
                                        <span>订单编号:</span>
                                        <p>{$order_detail.order_no}</p>
                                    </li>
                                    <li>
                                        <span>下单时间:</span>
                                        <p>{:date('Y-m-d H:i:s',$order_detail['add_time'])}</p>
                                    </li>
                                    <li>
                                        <span>预计送达:</span>
                                        <p>{$order_detail.book_time}</p>
                                    </li>
                                    <li>
                                        <span>配送店铺:</span>
                                        <p>{$order_detail.shop_name}</p>
                                    </li>
                                    <li>
                                        <span>配送方式:</span>
                                        <p><if condition="$order_detail.deliver_type eq 0">送货上门<elseif condition="$order_detail.deliver_type eq 1" />到店自提</if></p>
                                    </li>
                                    <li>
                                        <span>备注说明:</span>
                                        <p><eq name="order_detail['user_messge']" value="">无</else>{$order_detail.user_messge}</eq></p>
                                    </li>
                                    <li>    
                                        <span>店铺电话:</span>
                                        <p>{$order_detail.shop_phone}</p>
                                    </li>
                                </ul>
                                <ol class="order-state-ol">
                                    <li>
                                        <span>收&nbsp;货&nbsp;人:</span>
                                        <p>{$order_detail.user_name}</p>
                                    </li>
                                    <li>
                                        <span>电<b>&nbsp;种种</b>&nbsp;话:</span>
                                        <p>{$order_detail.mobile}</p>
                                    </li>
                                     <li>
                                        <span>收货地址:</span>
                                        <p>{$order_detail.city} {$order_detail.district} {$order_detail.address}</p>
                                    </li>
                                </ol>
                                <div class="order-state-detail">
                                    <h2>费用明细</h2>
                                   <if condition="$goods_list neq '' ">

                                        <div class="have_favorable favorable_div">
                                            <div class="titleH2">
                                              <img src="__PUBLIC__/image/buy.png" alt="">
                                              <p class="p1">
                                                <span class="span">{$order_detail['goods_list_tip']}</span>
                                              </p>
                                            </div>

                                            <div class="enjoy-box">
                                              <div class="lines"></div>
                                              <foreach name="goods_list" item="vo">

                                              <if condition="$vo.goods_type eq 1">
                                              <div class="enjoy-good-info enjoy-divs" goods-id="{$vo['goods_id']}"  cart-id="{$vo['cart_id']}">
                                                  <div class="enjoy-info-left icon_left">
                                                      <span>购</span>
                                                  </div>
                                                  <div class="enjoy-info-cent icon_cen">
                                                      <dl class="dis">
                                                          <dt class="dt"><img src="{$vo['goods_pic']}" alt=""></dt>
                                                          <dd class="cart_boxs_info">
                                                                 <h2 class="ui-ellipsis">{$vo['goods_name']}
                                                                  <if condition="$vo.goods_pungent neq '' ">
                                                                ({$vo['goods_pungent']})
                                                                </if>
                                                                  {$vo['goods_weight']}
                                                                  <if condition="$vo.goods_unit neq '' ">
                                                                  /
                                                                  </if>
                                                                  {$vo['goods_unit']}</h2>
                                                                  <if condition="$vo.act_name neq '' ">
                                                                 <p class="zens"><span>{$vo['act_name']}</span></p>
                                                                 </if>
                                                                 <p class="info_price">￥{$vo['price']}</p>
                                                             </dd>
                                                      </dl>
                                                    </div>
                                                  <div class="enjoy-info-right  icon_rights">
                                                      <input type="text" value="{$vo['count']}" name="text" readonly="readonly">
                                                   </div>
                                              </div>

                                              <else/>
                                              <div class="enjoy-good-zeng enjoy-divs">
                                                   <div class="enjoy-zeng-left icon_left">
                                                       <span>赠</span>
                                                   </div>
                                                   <div class="enjoy-zeng-cent icon_cen">
                                                       <dl class="dis">
                                                          <dt class="dt"><img src="{$vo['goods_pic']}" alt=""></dt>
                                                          <dd class="cart_boxs_info">
                                                              <h2 class="ui-ellipsis">{$vo['goods_name']}</h2>
                                                              <p class="zens"></p>
                                                              <p class="info_price">￥{$vo['price']}</p>
                                                          </dd>
                                                       </dl>
                                                    </div>
                                                   <div class="enjoy-zeng-right icon_rights">                                     
                                                       <input type="text" value="{$vo['count']}" name="text" readonly="readonly">
                                                   </div>
                                              </div>

                                              </if>
                                              </foreach>

                                            </div>                                  
                                        </div>
                                      </if>


                                        <!--不可优惠商品-->
                                        <if condition="$other_list neq '' ">
                                        <div class="no_favorable  favorable_div">
                                            <div class="titleH2">
                                              <img src="__PUBLIC__/image/raw.png" alt="">
                                              <p class="p1">
                                                <span class="span">{$order_detail['other_list_tip']}</span>
                                              </p>
                                            </div>




                                            <div class="enjoy-box">
                                              <div class="lines"></div>

                                              <foreach name="other_list" item="vo">
                                                <div class="not-good-info enjoy-divs">
                                                    <div class="icon_left">
                                                        <span>购</span>
                                                    </div>
                                                    <div class="not-info-cent icon_cen">
                                                        <dl class="dis">
                                                             <dt class="dt"><img src="{$vo['goods_pic']}" alt=""></dt>
                                                             <dd class="cart_boxs_info">
                                                                 <h2 class="ui-ellipsis">{$vo['goods_name']}
                                                                  <if condition="$vo.goods_pungent neq '' ">
                                                                ({$vo['goods_pungent']})
                                                                </if>
                                                                  {$vo['goods_weight']}
                                                                  <if condition="$vo.goods_unit neq '' ">
                                                                  /
                                                                  </if>
                                                                  {$vo['goods_unit']}</h2>
                                                                  <if condition="$vo.act_name neq '' ">
                                                                 <p class="zens"><span>{$vo['act_name']}</span></p>
                                                                 </if>
                                                                 <p class="info_price">￥{$vo['price']}</p>
                                                             </dd>
                                                         </dl> 
                                                    </div>
                                                    <div class="not-info-right icon_rights">
                                                        <input type="text" value="{$vo['count']}" name="text"  readonly="readonly">
                                                    </div>
                                                </div>
                                                </foreach>
   
                                            </div>
                                       </div>
                                     </if>

                                       <!--满赠-->
                                       <if condition="$other_gift neq '' ">
                                        <div class="with_favorable favorable_div">
                                            <div class="titleH2">
                                              <img src="__PUBLIC__/image/full.png" alt="">
                                              <p class="p1">
                                                <span class="span">{$order_detail['other_gift_tip']}</span>
                                              </p>
                                            </div>

                                            <div class="enjoy-box">
                                              <div class="lines"></div>
                                               <foreach name="other_gift" item="vo">
                                                <div class="enjoy-good-zeng enjoy-divs">
                                                    <div class="enjoy-zeng-left icon_left">
                                                       <span>赠</span>
                                                   </div>
                                                    <div class="not-info-cent icon_cen">
                                                        <dl class="dis">
                                                             <dt class="dt"><img src="{$vo['goods_pic']}" alt=""></dt>
                                                             <dd class="cart_boxs_info">
                                                                 <h2 class="ui-ellipsis">{$vo['goods_name']}
                                                                  <if condition="$vo.goods_pungent neq '' ">
                                                                ({$vo['goods_pungent']})
                                                                </if>
                                                                  {$vo['goods_weight']}
                                                                  <if condition="$vo.goods_unit neq '' ">
                                                                  /
                                                                  </if>
                                                                  {$vo['goods_unit']}</h2>
                                                                  <if condition="$vo.act_name neq '' ">
                                                                 <p class="zens"><span>{$vo['act_name']}</span></p>
                                                                 </if>
                                                                 <p class="info_price">￥{$vo['price']}</p>
                                                             </dd>
                                                         </dl> 
                                                    </div>
                                                    <div class="not-info-right icon_rights">
                                                        <input type="text" value="{$vo['count']}" name="text"  readonly="readonly">
                                                    </div>
                                                </div>
                                                </foreach>
                                            </div>   
                                       </div>
                                     </if>
                                    <div class="order-state-s">
                                        <div>
                                            <span>商品数量：</span>
                                            <p>{$gift_goods_count.size}件</p>
                                        </div>
                                         <div>
                                            <span>赠品数量：</span>
                                            <p>{$gift_goods_count.gift_size}件</p>
                                        </div>
                                         <div>
                                            <span>合计数量：</span>
                                            <p>{$order_detail.goods_count}件</p>
                                        </div>
                                    </div>
                                    <div class="order-state-s">
                                        <div>
                                            <span>商品金额</span>
                                            <p>￥{$order_detail.goods_amount}</p>
                                        </div>
                                         <div>
                                            <span>配送金额</span>
                                            <p>￥{$order_detail.post_fee}</p>
                                        </div>
                                         <div>
                                            <span>优惠金额</span>
                                            <p class="reds" style="color:red;">- <b>￥{$order_detail.discount}</b></p>
                                        </div>
                                         <div>
                                            <span>实付金额</span>
                                            <p>￥{$order_detail.total_amount}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pub-cart">
                <div><a href="javascript:void(0)" onclick=" _MEIQIA('showPanel')"><img src="__PUBLIC__/image/zxkf.png" alt=""></a></div>
                <p>
                    <?php
                    if ($order_detail['order_status'] != '1' and $order_detail['order_status'] != '5') {
                        echo '<span>删除订单</span>';
                    }
                    ?>
                    
                </p>
            </div>
        </div>
    </div>
<include file="Public/footer" />
<!--新版美恰代码-->
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[a] = m[a] || function() {
            (m[a].a = m[a].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = i + '?v=' + new Date().getUTCDate();
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '//static.meiqia.com/dist/meiqia.js', '_MEIQIA');
    _MEIQIA('entId', 645);
    _MEIQIA('withoutBtn');
    _MEIQIA('init');
    // 传递顾客信息
    _MEIQIA('metadata', {
        name: '微信商城:{$mobile}', // 美洽默认字段
        '用户账号': '{$mobile}',
        '订单编号': '{$order_detail.order_no}',
        '商品总金额': '￥{$order_detail.total_amount}',
        '实付金额': '￥{$order_detail.total_amount}',
        '下单时间': "{:date('Y-m-d H:i:s',$order_detail['add_time'])}",
        '店铺名称': '{$order_detail.shop_name}',
        '收货地址': '{$order_detail.city} {$order_detail.district} {$order_detail.address}',
    });
</script>
<script type="text/javascript">
    var myScrol0,myScrol1,$Menups=$('.head_box p');
    function Iscroll(names,Id){
        names = new IScroll(Id, {probeType: 3,mouseWheel: true,click: true,scrollbars: false});
    }
    $(document).ready(function() {
        init();
        iscrollAll();
        clicks();
        returnBth();
        function init(){
            var names = GetQueryString('name');
            if(names){
                $('.list-main>div').eq(1).show();   
                $Menups.eq(1).addClass('box_set');
            }else{
                $('.list-main>div').eq(0).show();   
                $Menups.eq(0).addClass('box_set');
            }
            var h = $(".about4_main ul li:first-child").height();
            var h1 = $(".about4_main ul li:last-child").height()/2;
            $(".line").height($(".about4_main").height()-h1-h);
        }  
        function iscrollAll(){
            Iscroll('myScrol0','#list-state-one');
            Iscroll('myScrol1','#list-state-two');
        }
        function clicks(){
            $Menups.on(tapClick(),function(){
                var index=$(this).index();
                $('.list-main>div').eq(index).show().siblings().hide();
                $Menups.eq(index).addClass('box_set').siblings().removeClass('box_set');
                iscrollAll();

            }) 
            $('.pub-cart p').on(tapClick(),function(){
                var Id=$("input[name='order_id']").val();
                var order_no_id=$("input[name='order_no']").val();
                var parentss=$(this).parents('div.order_box');
                commoms.post_server('/Order/delete',{orderid:Id,order_no:order_no_id},function(result){
                    loaging.close();
                    if (result.result == 'ok') {
                        setTimeout(function(){
                            window.location.href="/Order/index.html";
                        },1000)
                    }else{
                        loaging.btn(result.msg);
                    }
                  },function(){
                    loaging.close();
                    loaging.btn('删除订单失败');
                })


                
            })
        }
        function returnBth(){
          $('.icon-back').on(tapClick(),function(){
              $('input,textarea').blur();
              var parentName=$(this).parents('div').attr('class');
              if(parentName.indexOf('mod_order_state')>-1){
                 location.href="index.html"
              }else{
                 return;  
              }   
          })
        }     
    });
</script>
</body>

</html>