<!DOCTYPE html>
<html lang="en">
<head>
    <title>哈哈镜便捷购</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
  <include file="Public/header" />
<body>
	<div id="mod-container" class="mod-container clearfix">
	    <div id="mod-success" class="mod-success pageview">
	        <header class="pub-header">
	            <a class="tap-action icon icon-back" href="/Index/index.html"></a>
	            <div class="header-content ">我的订单</div>
	            <span class="header-right header-right-text"></span>
	        </header>
	        <div id="iscroll-success" class="main main-top" style="overflow: hidden;">
	            <div class="scrollers">
	                <div class="success_top">
	                	<!-- <dl class="success_info">
	                		<dt><img src="__PUBLIC__/image/ren.png" alt=""></dt>
	                		<dd>
	                			<h2>订单提交成功</h2>
	                			<p class="p1">预计送达：<span>{$order_detail.book_time}</span></p>
	                			<p>付款方式：<span><if condition="$order_detail.pay_type eq '10'">微信<elseif condition="$order_detail.pay_type eq '20'" />支付宝<elseif condition="($order_detail.pay_type eq 90) or ($order_detail.pay_type eq '40')" />货到付款</if></span></p>
	                			<p>应付金额：￥{$order_detail['total_amount']}</p>
	                			<p>订单编号：{$order_detail['order_no']}</p>
	                		</dd>
	                	</dl> -->
                        <div class="success_info">
                            <img class="success_info_img blocks" src="__PUBLIC__/image/Category/success-icon2.png" alt="">
                            <!--<img class="success_info_img blocks" src="__PUBLIC__/image/Category/success-icon2.png" alt="">-->
                            <div class="success_infos">
                                <p class="p1">预计送达：<span>{$order_detail.book_time}</span></p>
                                <p>付款方式：<span><if condition="$order_detail.pay_type eq '10'">微信<elseif condition="$order_detail.pay_type eq '20'" />支付宝<elseif condition="($order_detail.pay_type eq 90) or ($order_detail.pay_type eq '40')" />货到付款</if></span></p>
                                <p>应付金额：￥{$order_detail['total_amount']}</p>
                                <eq name="shop_data.is_fav" value="0">
                                    <div class="success_collection" id="success_check" data-val="{$shop_data.is_fav}" >
                                        <eq name="shop_data.is_fav" value="1">
                                            <img src="__PUBLIC__/image/Category/dg_icon.png" alt=""><!--xunzhong.png-->
                                            <span id="success_checktxt">已收藏</span><!--已收藏-->
                                        <else/>
                                            <img src="__PUBLIC__/image/Category/dk_icon.png" alt=""><!--xunzhong.png-->
                                            <span id="success_checktxt">收藏</span><!--已收藏-->
                                        </eq>
                                        <input type="hidden" id="shop_id" name="shop_id" value="{$shop_data.shop_id}">
                                        <span>哈哈镜</span>
                                    </div>
                                </eq>
                            </div>
                        </div>
	                	<div class="success_menus">
	                		<a href="/Index/index.html">逛逛首页</a>
	                		<a href="/Order/state.html?order_no={$order_detail['order_no']}&name=order">查看订单</a>
	                	</div>
	                </div>
                    <!-- <div class="success_share">
	                	<img src="__PUBLIC__/image/fxyl.png" alt="">
	                	<p>分享有礼</p>
	                </div> -->
					<div class="success_main">
						<!-- <h2>去看看附近的好店</h2> -->
                        <p class="success_mainP">为您推荐</p>
						<div class="box_near_shang_list">
							<ul class="generic-list">
                            <foreach name="shop_near_list" item="vo">
                            <li class="generic-Boxli">
                                <div class="generic-item">
                                        <div class="generic-item-img">
                                            <eq name="vo.shop_isvip" value="3">
                                                    <a href="javascript:void(0);" onclick="getclickinfo('代售点不能购买产品');">
                                                    <else/>
                                                    <a href="/Category/index/shop_id/{$vo.shop_id}">
                                                    </eq>
                                                    <img class="image autos" src="{$vo.shop_avatar}" alt="" onerror="this.src='http://www.hahajing.com/userfiles/shop_avatar/_default3.png?ddd'"></a> 
                                        </div>
                                        <div class="generic-item_info ui-ellipsis">
                                            <eq name="vo.shop_isvip" value="3">
                                                    <a href="javascript:void(0);" onclick="getclickinfo('代售点不能购买产品');">
                                                    <else/>
                                                    <a href="/Category/index/shop_id/{$vo.shop_id}">
                                                    </eq>
                                                <div class="lis-title ui-ellipsis">
                                                    <h2 class="ui-ellipsis">{$vo.shop_name}</h2>
                                                    <if condition="$vo.shop_isvip eq 1">
                                                        <img class="liimg" src="__PUBLIC__/image/bq-red.png" alt="">
                                                        <elseif condition="$vo.shop_isvip eq 2" />
                                                        <img class="liimg" src="__PUBLIC__/image/bq-gre.png" alt="">
                                                        <elseif condition="$vo.shop_isvip eq 3" />
                                                        <img class="liimg" src="__PUBLIC__/image/bq-yell.png" alt="">
                                                    </if>
                                                </div>
                                                <if condition="$vo.score gt 0">
                                                <!--显示-->
                                                <div class="mens_details_x">
                                                   <div class="wrap_x" id='wrap_x{$key}' data-index="{$vo.score}" data-id="{$key}">
                                                        <div id="cur" class="cur" ></div>
                                                    </div>
                                                </div>
                                                <else/>
                                                <div class='zanwu'>暂无评价</div>
                                                </if>
                                                <p class="generic-item-sh">已售<span>{$vo.shop_totalordercount}</span></p>
                                            </a>
                                        </div>
                                        <div class="generic-item_mi">
                                            <a href="javascript:void(0);">
                                                <img src="__PUBLIC__/image/icon-d.png" alt="">
                                                <p>{$vo.distance}</p>
                                            </a>
                                       </div>                                  
                                </div>
                                <div class="generic-address">
                                    <span class="ui-ellipsis">{$vo.shop_address}</span>
                                </div>

                                <div class="generic-not-mention">
                                    <if condition="$vo.shop_deliver_type eq 1">
                                        <p class="generic-carry generic-song 
                                        <if condition='($vo.shop_open_status eq 2) OR ($vo.shop_delivertime_status eq 2)'> generic-hui </if>">
                                            <span>送</span><b>{$vo.shop_updeliverfee}</b>元起送/配送费<b>￥{$vo.shop_deliverfee}</b>
                                        </p>
                                        
                                    </if>
                                    <p class="generic-carry generic-zi <if condition='$vo.shop_open_status eq 2'> generic-hui </if>">

                                        <if condition="$vo.shop_deliver_type eq 1">
                                        <span>自</span>在线下单，到店自提</p>
                                        <else/>
                                        <span>店</span>仅支持到店购买</p>
                                        </if>

                                        <if condition="$vo.shop_orderphone1 neq ''">
                                            <a href="tel:{$vo.shop_orderphone1}" class="generic-a blocks">
                                        <elseif condition="$vo.shop_orderphone2 neq ''" />
                                            <a href="tel:{$vo.shop_orderphone2}" class="generic-a blocks">
                                            <else/>
                                            <a href="javascript:void(0);" class="generic-a blocks">
                                        </if>
                                        <img src="__PUBLIC__/image/icon-phone.png" alt="">
                                        </a>
                                </div>
                            </li>
                            </foreach>
                        </ul>
						</div>
					</div>



	            </div>
	        </div>
	    </div>
	</div>
    <div id="mod-share" class="mod-share">
    	<img src="__PUBLIC__/image/share_bg.png" alt="">
    </div>
<include file="Public/footer" />
<script type="text/javascript">
 var success_check = $('#success_check');
 var val = success_check.attr('data-val');
 var success_checktxt = $('#success_checktxt');
        success_check.on(tapClick(),function(){
            loaging.init('加载中...')
            var is_fav = $(this).attr('data-val'),shopId=$('#shop_id').val(),that=$(this);
            if(is_fav == 0){
                commoms.post_server('/Shop/favorite_add',{shop_id:shopId},function(re){
                    loaging.close();
                    if(re.result == 'ok'){
                        success_checktxt.text(re.msg);
                        success_check.attr('data-val',1);
                        that.find('img').attr('src','/Public/image/Category/dg_icon.png');
                    }else{
                        loaging.btn('收藏失败');
                    }
                },function(){
                    loaging.btn('错误');
                },false);
            }else if(is_fav == 1){
                commoms.post_server('/Shop/favorite_del',{shop_id:shopId},function(re){
                    loaging.close();
                    if(re.result == 'ok'){
                        success_checktxt.text(re.msg);
                        success_check.attr('data-val',0);
                        that.find('img').attr('src','/Public/image/Category/dk_icon.png');
                    }else{
                        loaging.btn('收藏失败');
                    }
                },function(){
                    loaging.close();
                },false);
            }
        })

     var collection = $('#olis_b'),
            shopId = $('#shop_id').val();

        /*收藏*/
        collection.on(tapClick(),function(){
            loaging.init('加载中...')
            function favorite () {
                var is_fav=collection.attr('data-isfav');
                if(is_fav == 0){
                    commoms.post_server('/Shop/favorite_add',{shop_id:shopId},function(re){
                        loaging.close();
                        if(re.result == 'ok'){
                            collection.text(re.msg);
                            collection.attr('data-isfav',1);
                        }else{
                            loaging.btn('收藏失败');
                        }
                    },function(){
                        loaging.btn('错误');
                    },false);
                }else if(is_fav == 1){
                    commoms.post_server('/Shop/favorite_del',{shop_id:shopId},function(re){
                        loaging.close();
                        if(re.result == 'ok'){
                            collection.text(re.msg);
                            collection.attr('data-isfav',0);
                        }else{
                            loaging.btn('收藏失败');
                        }
                    },function(){
                        loaging.close();
                    },false);
                }
            }
            favorite();
           
        })
    $(document).ready(function($) {
    	var myScroll;
        init();
       
        function init(){
        	$('.mod-success').show(); 
        	myScroll = new IScroll('#iscroll-success', {probeType: 3,mouseWheel: true,click: true,scrollbars: false}); 
        	var url=window.location.href;
    		weixins(url,"success");
        }
        $('.success_share').on(tapClick(),function(){
        	$('.mod-share').show();
        	$('.mod-share').on(tapClick(),function(){
        		$(this).hide();
        	})
        })
        score('mod-success','wrap_x');	
    });
</script>
</body>
</html>