<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>哈哈镜便捷购</title>
<meta name="author" content="m.jd.com">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="__PUBLIC__/css/app/detail/common.css">
<link rel="stylesheet" href="__PUBLIC__/css/app/detail/index.css">
<link rel="stylesheet" href="__PUBLIC__/css/app/detail/swiper.css">
</head>
<body>
<div class="wrapBox">
	<header class="pub-header bgss">
        <a class="tap-action icon icon-back" href="/Category/index/shop_id/{$shop_id}"></a>
        <p class="header-content">商品详情</p>
        <span class="header-right header-right-text">
        </span>
    </header>
	<section class="wrapBox_sec">
		<!-- 名称 、价格start -->
		<div class="goods-part">
			<div class="basic-info">
			<input type="hidden" name="shop_id" value="{$shop_id}" id="shop_id">
			<input type="hidden" name="goods_id" value="{$goods_id}" id="goods_id">
				<!--图片-->
				<div class="Images">
					<div class="swiper-container swiper_Item">
						<div class="swiper-wrapper swiper1">
							<div class="swiper-slide">
								<a href="javascript:void(0)"><img src="{$goods_data.goods_pic}" alt=""></a>
							</div>
						</div>
						<div class="swiper-pagination">
						</div>
					</div>
				</div>
				<!--名称-->
				<div class="prod-title">
					<a href="javascript:void(0)" class="J_ping">
						<h2>{$goods_data.goods_name}
						<notempty name="goods_data.goods_pungent">
						（{$goods_data.goods_pungent}）
						</notempty>
						<notempty name="goods_data.act_name">
						<span style="color:#f00">{$goods_data.act_name}</span>
						</notempty>
						<p>{$goods_data.goods_desc}</p>
					</a>
				</div>
				<!--金额 -->
				<div class="prod-price">
					<span>￥<b>{$goods_data.price}</b></span><s>￥{$goods_data.oprice}</s>
				</div>
			</div>
		</div>
		<!-- 名称 、价格end -->
		<!--品牌 规格 start-->
		<div class="prod-spec">
			<div class="brand">
				<span class="">品&nbsp;&nbsp;&nbsp;&nbsp;牌</span>
				<empty name="goods_data.goods_brand">
				<if condition="$goods_data.goods_type eq 1 ">
				<p class="mirror">自营商品</p>
                <else />
				<p class="mirror">哈哈镜</p>
                </if>
                <else />
                <p class="mirror">{$goods_data.goods_brand}</p>
                </empty>
			</div>
			<div class="spec-desc">
				<span>规&nbsp;&nbsp;&nbsp;&nbsp;格</span>
				<p>{$goods_data.goods_weight}<span>/{$goods_data.goods_unit}</span></p>
			</div>
		</div>		 
		<div class="commodity_details">
		<notempty name="goods_data.goods_info"> 
			<h2>商品详情</h2>
			<div class="commodity_info">
				{$goods_data.goods_info}
			</div>
		</notempty>
		</div>
		
		<!--商品详情end-->
	</section>
	<div class="wrapBox_footer">
		<div class="cartadddel">
			<span class="goods_del"><img src="__PUBLIC__/image/dels_icon.png" alt=""></span>
			<input type="text" readonly="readonly" name="text" value="0" class="goods_vals"> 
			<input type="hidden" value="" id="hide_prices" value="0">
			<span class="goods_add"><img src="__PUBLIC__/image/addss_icon.png" alt=""></span>
		</div>
		<div class="crat_price">
			￥<span class="cartPrices">0.00</span>
		</div>
		<div class="carts">
			<a href="javascript:void(0);">
				<div class="carts_box">
					<span>0</span>
					<p><img src="__PUBLIC__/image/cart_icon.png" alt=""></p>
				</div>
			</a>
		</div>
	</div>
</div>
<!--加载header公共底部导航-->
<script src="__PUBLIC__/js/lib/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="__PUBLIC__/js/layer.m/layer.m.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/swiper.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/details.js"></script>
</body>
</html>