<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>帮助中心</title>
	<meta name="author" content="m.jd.com">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="Expires" content="-1">           
	<meta http-equiv="Cache-Control" content="no-cache">           
	<meta http-equiv="Pragma" content="no-cache"> 
	<link rel="stylesheet" href="__ROOT__/static/css/app/help/help_center.css">
	<link rel="stylesheet" href="__ROOT__/static/css/app/help/common.css">
	<script type="text/javascript" src="__ROOT__/static/js/common/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="__ROOT__/static/js/common/zepto.min.js"></script>
</head>
<body>

	<ul  class="wrapBox_main">
		<li>
			<div class="header">
				<span class="label" >联系我们</span>
				<span class="arrow down"></span>
			</div>
			<div class="Box_Infos Box_Infos_one">
				<div>
					<h2>客服服务</h2>
					<p>您在购物过程中如有任何问题，都可拨打'哈哈镜'客服电话或微信咨询我们的在线客服人员。</p>
				</div>
				<div>
					<h2><img src="__ROOT__/static/image/app/help/Icon.png" class="icon_s" alt="">在线客服</h2>
					<p>哈哈镜APP首页  - 我的  - 在线客服</p>
					<div>
						<span>客服热线</span>
						<a href="tel:400-017-5886" class="call">400-017-5886</a>
					</div>
					<div>
						<span>咨询加盟</span>
						<a href="tel:400-017-5886" class="call">400-017-5886 转 1</a>
					</div>
					<p>咨询加盟时间 :（请在工作日9:00至16:00拨打）</p>
				</div>
				<div>
					<h2>商务合作</h2>
					<div>
						<h2><img src="__ROOT__/static/image/app/help/Icon.png" class="icon_s" alt="">邮箱</h2>
						<a href="mailto:dsmarketing@hahajing.com?dsmarketing@hahajing.com" class="call">dsmarketing@hahajing.com</a>
						<!-- <a href="omyrobin@126.com" class="email">omyrobin@126.com</a> -->
					</div>
					<p>温馨提示：寻求合作的邮件，如商务合作内容符合我们的平台，哈哈镜会有商务专员与你联系，请您耐心等待。</p>
				</div>
			</div>		
		</li>
		<li>
			<div class="header">
				<span class="label">支付方式</span>
				<span class="arrow down"></span>
			</div>
			<div class="Box_Infos Box_Infos_one Box_Infos_two">
				<div><p>'哈哈镜'APP支持两种配送方式：货到付款和线上支付。实际支持每家网店内有所不同，请以订单结算页面支付方式为准。</p></div>
				<div>
					<h2><img src="__ROOT__/static/image/app/help/Icon.png" class="icon_s" alt="">货到付款</h2>
					<p>您订购的商品送货上门后，请您与配送员当面支付订单金额。</p>
				</div>
				<div>
					<h2><img src="__ROOT__/static/image/app/help/Icon.png" class="icon_s" alt="">在线支付</h2>
					<p>展缓开通</p>
				</div>
				<div>
					<h2>温馨提示：</h2>
					<p>签收时，请您认真核对商品数量与品类，务必货款两清。</p>
				</div>
			</div>
		</li>
		<li>
			<div class="header">
				<span class="label">配送须知</span>
				<span class="arrow down"></span>
			</div>
			<div class="Box_Infos Box_Infos_one Box_Infos_two">
				<div>
					<h2><img src="__ROOT__/static/image/app/help/Icon.png" class="icon_s" alt="">配送方式</h2>
					<p>当你在网店成功提交订单后，店家会即时为您的订单备货；如发现有个别缺货或其它问题，店家会及时与您电话联系，请保持电话畅通。</p>
				</div>
				<div>
					<h2><img src="__ROOT__/static/image/app/help/Icon.png" class="icon_s" alt="">送货上门</h2>
					<p>货品备好后，您会收到‘您的订单已发货’提示，同时店家会指派配送员为您即时送货上门。 <br/>（送货上门，配送费默认为3公里内10元）</p>
				</div>
				<div>
					<h2><img src="__ROOT__/static/image/app/help/Icon.png" class="icon_s" alt="">到店自提</h2>
					<p>货品备好后，您会收到‘您的订单已发货’提示，同时店家等待您到店后当面验货并交付货款。<br/>（到店自提，不收取任何配送费）</p>
				</div>
				<div>
					<h2>温馨提示：</h2>
					<p>各网店的配送距离，会因各店实际配送能力有所不同，请您注意店内详情提示。</p>
				</div>
			</div>
		</li>
	</ul>
<script type="text/javascript">
$(document).ready(function(){	
	//包装点击和轻触
   function tapClick() {
        return "ontouchstart" in document ? "tap" : "click";
    };			   
 	// 滑动/展开 
	$('.wrapBox_main li').find('.header').on(tapClick(),function () {
	        var $div = $(this).siblings(".Box_Infos");
	        if ($(this).parent().hasClass("selected")) {
	            $div.slideUp(150);
	            $(this).parent().removeClass("selected");
	            $(this).find('.arrow').attr('class','arrow down');
	        }
	        if ($div.is(":hidden")) {
	            $(".wrapBox_main li").find(".Box_Infos").slideUp(150);
	            $(".wrapBox_main li").removeClass("selected");
	            $(this).parent().addClass("selected");
	            $div.slideDown(150);
	            $('.arrow').attr('class','arrow down');
	            $(this).find('.arrow').attr('class','arrow up');
	        } else {
	            $div.slideUp(150);
	             $(this).find('.arrow').attr('class','arrow down');
	        }
	    });
});
</script>
</body>
</html>