body{
	background: #ECECEC;
}
.wrapBox,.wrapBox .wrapBox_sec{
	width: 100%;
	height: 100%;
}
.wrapBox_main,.wrapBox_main>li,.info_title{
	width: 100%;
	font-size: 12px;
}
.wrapBox_main{
	padding-top: 10px;
}
.wrapBox_main>li{
	background: #fff;
	/* overflow: hidden;
	height: 42px; */
	
}
.wrapBox_main>li .info_title{
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-o-box;
	display:box;
	-webkit-box-pack:justify;
	-moz-box-pack:justify;
	-ms-box-pack:justify;
	-o-box-pack:justify;
	box-pack:justify;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #CECECE;
	-webkit-transition:all 0.3s ease;

}
.info_title span,.info_title img{
	display: block;
}
.info_title span{
	color: #555555;
	font-size: 14px;
}
.info_title img{
	width: 18px;
	height: 12px;
	margin-top: 17px;
}
.wrapBox_info{
	min-height: 42px;
	display: none;
}
.wrapBox_main>li .header{
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-o-box;
	display:box;
	-webkit-box-pack:justify;
	-moz-box-pack:justify;
	-ms-box-pack:justify;
	-o-box-pack:justify;
	box-pack:justify;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #CECECE;
	-webkit-transition:all 0.3s ease;
	padding: 0 10px;
}
.header span,.header img{
	display: block;
}
.header span{
	color: #555555;
	font-size: 15px;
}
.arrow{
	display:block;
	width: 16px;
	height: 10px;
	background:no-repeat center;
	background-size: 100% 100%;
	-webkit-transition:all 0.1s ease;
	-moz-transition:all 0.1s ease;
	-ms-transition:all 0.1s ease;
	-o-transition:all 0.1s ease;
	transition:all 0.1s ease;
	margin-top: 15px;
	}
.arrow.up{background-image:url(../../../image/app/help/up.png);}
.arrow.down{background-image:url(../../../image/app/help/down.png);
}
.Box_Infos{
	display: none;
	width: 100%;
	padding: 0 10px;
}
.Box_Infos_one,.Box_Infos_one div{
	width: 100%;
	color: #666666;
	
}
.Box_Infos_one>div{
	margin-top: 10px;
	padding: 0 5px;
	border-bottom: 1px solid #CECECE;
	padding-bottom: 10px;
}
.Box_Infos_one div h2{
	font-size: 14px;
}
.Box_Infos_one div p,.Box_Infos_one div div{
	font-size: 13px;
	margin-top: 5px;
	line-height: 20px;
}
.icon_s{
	width: 8px;
	height: 8px;
	margin-right: 5px;
}
.Box_Infos_one a.call{
	color: #00B0F0;
	font-size: 14px;
}
.Box_Infos_two h2{
	margin: 10px 0;
}
.Box_Infos_four p{
	margin:10px 0;
	line-height: 20px;
}
.infos_step{
	line-height: 20px;
}